openapi: 3.2.0
info:
  title: SpotDraft V1 Obligation Types API
  version: v1
  x-version: v1
  x-logo:
    url: https://cdn.spotdraft.com/assets/logo-black-new.png
    backgroundColor: transparent
    altText: SpotDraft Logo
    href: https://spotdraft.com
  x-favicon: https://cdn.spotdraft.com/assets/favicon.png
  x-footer: © SpotDraft Inc. All rights reserved.
  description: '# SpotDraft Public API


    Welcome to the **SpotDraft Public API**.'
servers:
- url: https://api.eu.spotdraft.com
  description: Europe
- url: https://api.in.spotdraft.com
  description: India
- url: https://api.us.spotdraft.com
  description: United States
- url: https://api.me.spotdraft.com
  description: Middle East
tags:
- name: V1 Obligation Types
  description: Legacy obligation-type reference endpoints.
paths:
  /api/v1/public/obligations/types/:
    get:
      operationId: v1_public_obligations_types_list
      description: Get the list of active obligation types
      summary: Get Active Obligation Type List
      tags:
      - V1 Obligation Types
      security:
      - ClientId: []
        ClientSecret: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObligationTypeListResponse'
          description: Obligation Type List
      x-tagGroup: Platform
  /api/v1/public/obligations/types/{obligation_type_id}/:
    get:
      operationId: v1_public_obligations_types_retrieve_by_id
      description: Get the obligation type details for the given obligation type id
      summary: Get Obligation Type
      parameters:
      - in: path
        name: obligation_type_id
        schema:
          type: integer
        description: ID of the Obligation Type.
        required: true
      tags:
      - V1 Obligation Types
      security:
      - ClientId: []
        ClientSecret: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObligationTypeResponse'
          description: Obligation Type
        '404':
          description: Obligation Type Not Found
      x-tagGroup: Platform
components:
  schemas:
    ObligationTypeListResponse:
      example:
      - description: Requires the submission of relevant reports or documentation at specified intervals or triggers.
        id: 101
        name: Reporting
      - description: Requires the delivery of goods, services, or results in accordance with agreed terms.
        id: 102
        name: Performance/Delivery
      items:
        $ref: '#/components/schemas/ObligationTypeResponse'
      title: ObligationTypeListResponse
      type: array
    ObligationTypeResponse:
      example:
        description: Requires the delivery of goods, services, or results in accordance with agreed terms.
        id: 102
        name: Performance/Delivery
      properties:
        id:
          description: The ID of the obligation type
          title: Id
          type: integer
        name:
          description: The name of the obligation type
          minLength: 1
          title: Name
          type: string
        description:
          anyOf:
          - type: string
          - type: 'null'
          description: The description of the obligation type.
          title: Description
      required:
      - id
      - name
      - description
      title: ObligationTypeResponse
      type: object
  securitySchemes:
    ClickwrapId:
      type: apiKey
      in: header
      name: clickwrap-id
      description: Public clickwrap identifier header.
    ClientId:
      type: apiKey
      name: client-id
      in: header
    ClientSecret:
      type: apiKey
      name: client-secret
      in: header
    NativeIntegrationBasic:
      type: http
      scheme: basic
      description: HTTP Basic auth for supported native integrations. Send base64(client_id:client_secret) in the Authorization header.
    OAuthBearer:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 bearer token for workspace user access.
    Origin:
      type: apiKey
      in: header
      name: Origin
      description: Browser origin header used for clickwrap domain validation.
x-logo:
  url: https://cdn.spotdraft.com/assets/logo-black-new.png
  backgroundColor: transparent
  altText: SpotDraft Logo
  href: https://spotdraft.com
x-tagGroups:
- name: Contracts
  tags:
  - V2.1 Contract APIs
  - V2 Contract APIs
  - V1 Contract APIs
  - V2.1 Contract Approvals
  - V2 Contract Approvals
  - V2.1 Contract Activity
  - V2 Contract Activity
  - V2.1 Contract Invitations
  - V2 Contract Invitations
  - V2.1 Contract Metadata Values
  - V2 Contract Metadata Values
  - V2.1 Contract External Metadata
  - V2.1 Contract Notes
  - V2 Contract Notes
  - V2.1 Contract Obligations
  - V2.1 Contract Facets
  - V2.1 Contract Versions
  - V2 Contract Versions
  - V2.1 Recipients
  - V2 Recipients
- name: Clickwrap
  tags:
  - V2.1 Clickwrap
- name: Legal Intake
  tags:
  - V1 Legal Intake
- name: Workflow
  tags:
  - V2.1 Contract Metadata Definitions
  - V2 Contract Metadata Definitions
  - V2.1 Contract Types
  - V2 Contract Types
  - V2.1 Templates
  - V2 Templates
  - V1 Templates
- name: Platform
  tags:
  - V2.1 Users
  - V2 Users
  - V1 Users
  - V2.1 Counterparties
  - V2 Counterparties
  - V2.1 Organizations
  - V2 Organizations
  - V1 Obligation Types
  - V1 Native Integrations
  - V2.1 Workspace Files
  - V2.1 Tasks and Reminders
  - V2 Tasks and Reminders
  - V2.1 Webhooks
  - V1 Webhooks
  - V1 Emails
  - V2.1 Analytics Query
  - V2.1 Workspaces
  - V2.1 Workspace Tags
- name: Sidebar
  tags:
  - V2.1 Sidebar
