openapi: 3.2.0
info:
  title: SpotDraft V2 Contract Notes API
  version: v1
  x-version: v1
  x-logo:
    url: https://cdn.spotdraft.com/assets/logo-black-new.png
    backgroundColor: transparent
    altText: SpotDraft Logo
    href: https://spotdraft.com
  x-favicon: https://cdn.spotdraft.com/assets/favicon.png
  x-footer: © SpotDraft Inc. All rights reserved.
  description: '# SpotDraft Public API


    Welcome to the **SpotDraft Public API**.'
servers:
- url: https://api.eu.spotdraft.com
  description: Europe
- url: https://api.in.spotdraft.com
  description: India
- url: https://api.us.spotdraft.com
  description: United States
- url: https://api.me.spotdraft.com
  description: Middle East
tags:
- name: V2 Contract Notes
  description: Read and update contract notes across public API versions.
paths:
  /api/v2/public/contracts/{composite_id}/notes:
    get:
      operationId: v2_public_contracts_notes_retrieve
      description: 'Returns all **notes** for the requested contract.


        When the `Enforce-User-Scoping` header is `true`, only notes for contracts the specified user may access (based on their permissions) are returned.'
      summary: Get Contract Notes
      parameters:
      - in: path
        name: composite_id
        schema:
          type: string
          pattern: ^[HT\-0-9]+$
        required: true
      - in: path
        name: contract_id
        schema:
          type: string
        description: ID of the Contract. Should be of the form T-123 or H-123. T stands for Template contracts and H stands for Historical contracts.
        required: true
      tags:
      - V2 Contract Notes
      security:
      - ClientId: []
        ClientSecret: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContractNoteMinimalResponse'
              examples:
                Example1:
                  value:
                    id: 1
                    text: sample note for contract
                    note_tag: sample_tag
                  summary: Example 1
          description: Notes
      x-tagGroup: Contracts
  /api/v2/public/contracts/{contract_id}/notes/{note_id}:
    put:
      operationId: v2_public_contracts_notes_update
      description: Returns the updated note
      summary: Update Contract Note
      parameters:
      - in: path
        name: contract_id
        schema:
          type: string
        description: ID of the Contract. Should be of the form T-123 or H-123. T stands for Template contracts and H stands for Historical contracts.
        required: true
      - in: path
        name: note_id
        schema:
          type: string
        description: ID of the note.
        required: true
      - in: header
        name: user-email
        schema:
          type: string
        description: The email address of the user to act as (when using client-secret authentication). This header attributes actions taken using the API to the given user.
      tags:
      - V2 Contract Notes
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContractNoteUpdateRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ContractNoteUpdateRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ContractNoteUpdateRequest'
        required: true
      security:
      - ClientId: []
        ClientSecret: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContractNoteMinimalResponse'
              examples:
                Example1:
                  value:
                    id: 1
                    text: sample note for contract
                    note_tag: sample_tag
                  summary: Example 1
          description: Notes
      x-tagGroup: Contracts
components:
  schemas:
    ContractNoteUpdateRequest:
      title: ContractNoteUpdateRequest
      type: object
      properties:
        note_tag:
          title: ContractNoteTagRequest
          type: object
          properties:
            name:
              title: Name
              type: string
            id:
              title: Id
              type: integer
          required:
          - name
        text:
          title: Text
          description: Updated note text.
          type: string
      required:
      - text
    ContractNoteMinimalResponse:
      title: ContractNoteMinimalResponse
      type: object
      properties:
        id:
          title: Id
          type: integer
        text:
          title: Text
          type: string
        note_tag:
          title: Note Tag
          type: string
      required:
      - id
      - text
      examples:
      - id: 1
        text: sample note for contract
        note_tag: sample_tag
  securitySchemes:
    ClickwrapId:
      type: apiKey
      in: header
      name: clickwrap-id
      description: Public clickwrap identifier header.
    ClientId:
      type: apiKey
      name: client-id
      in: header
    ClientSecret:
      type: apiKey
      name: client-secret
      in: header
    NativeIntegrationBasic:
      type: http
      scheme: basic
      description: HTTP Basic auth for supported native integrations. Send base64(client_id:client_secret) in the Authorization header.
    OAuthBearer:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 bearer token for workspace user access.
    Origin:
      type: apiKey
      in: header
      name: Origin
      description: Browser origin header used for clickwrap domain validation.
x-logo:
  url: https://cdn.spotdraft.com/assets/logo-black-new.png
  backgroundColor: transparent
  altText: SpotDraft Logo
  href: https://spotdraft.com
x-tagGroups:
- name: Contracts
  tags:
  - V2.1 Contract APIs
  - V2 Contract APIs
  - V1 Contract APIs
  - V2.1 Contract Approvals
  - V2 Contract Approvals
  - V2.1 Contract Activity
  - V2 Contract Activity
  - V2.1 Contract Invitations
  - V2 Contract Invitations
  - V2.1 Contract Metadata Values
  - V2 Contract Metadata Values
  - V2.1 Contract External Metadata
  - V2.1 Contract Notes
  - V2 Contract Notes
  - V2.1 Contract Obligations
  - V2.1 Contract Facets
  - V2.1 Contract Versions
  - V2 Contract Versions
  - V2.1 Recipients
  - V2 Recipients
- name: Clickwrap
  tags:
  - V2.1 Clickwrap
- name: Legal Intake
  tags:
  - V1 Legal Intake
- name: Workflow
  tags:
  - V2.1 Contract Metadata Definitions
  - V2 Contract Metadata Definitions
  - V2.1 Contract Types
  - V2 Contract Types
  - V2.1 Templates
  - V2 Templates
  - V1 Templates
- name: Platform
  tags:
  - V2.1 Users
  - V2 Users
  - V1 Users
  - V2.1 Counterparties
  - V2 Counterparties
  - V2.1 Organizations
  - V2 Organizations
  - V1 Obligation Types
  - V1 Native Integrations
  - V2.1 Workspace Files
  - V2.1 Tasks and Reminders
  - V2 Tasks and Reminders
  - V2.1 Webhooks
  - V1 Webhooks
  - V1 Emails
  - V2.1 Analytics Query
  - V2.1 Workspaces
  - V2.1 Workspace Tags
- name: Sidebar
  tags:
  - V2.1 Sidebar
