openapi: 3.2.0
info:
  title: SpotDraft V2.1 Contract External Metadata API
  version: v1
  x-version: v1
  x-logo:
    url: https://cdn.spotdraft.com/assets/logo-black-new.png
    backgroundColor: transparent
    altText: SpotDraft Logo
    href: https://spotdraft.com
  x-favicon: https://cdn.spotdraft.com/assets/favicon.png
  x-footer: © SpotDraft Inc. All rights reserved.
  description: '# SpotDraft Public API


    Welcome to the **SpotDraft Public API**.'
servers:
- url: https://api.eu.spotdraft.com
  description: Europe
- url: https://api.in.spotdraft.com
  description: India
- url: https://api.us.spotdraft.com
  description: United States
- url: https://api.me.spotdraft.com
  description: Middle East
tags:
- name: V2.1 Contract External Metadata
  description: Read and update integration-owned external metadata attached to a contract.
paths:
  /api/v2.1/public/contracts/{contract_id}/external_metadata:
    get:
      operationId: v2.1_public_contracts_external_metadata_retrieve
      description: 'Returns the external record metadata currently associated with the contract.


        Pass the composite contract id in the path, for example `T-123` or `H-123`.'
      summary: Get Contract External Metadata
      parameters:
      - in: path
        name: contract_id
        schema:
          type: string
        description: ID of the Contract. Should be of the form T-123 or H-123. T stands for Template contracts and H stands for Historical contracts.
        required: true
      tags:
      - V2.1 Contract External Metadata
      security:
      - ClientId: []
        ClientSecret: []
      - OAuthBearer: []
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  external_metadata:
                    type: object
                    properties:
                      id:
                        type: string
                        default: external_record_id
                      integration_name:
                        type: string
                        default: Salesforce
                      record_type:
                        type: string
                        default: Account
                      record_data:
                        type: object
                        default: {}
                      object_configuration_id:
                        type: object
                        default: 2a2340fb-1af6-401e-a04c-c69a14c798b1
          description: Success
        '400':
          content:
            application/json:
              schema:
                type: object
                properties:
                  detail:
                    type: string
                    default: 'Record Type: Account does not match the Object Configuration Name: Opportunity.'
                  status_code:
                    type: number
                    default: 400
                  code:
                    type: string
                    default: SD_INTEGRATIONS_00030
                  message:
                    type: string
                    default: 'Record Type: Account does not match the Object Configuration Name: Opportunity.'
          description: Invalid Request
        '404':
          content:
            application/json:
              schema:
                type: object
                properties:
                  detail:
                    type: string
                    default: 'The entity does not exists for the given object_configuration_id: a4f8e8e1-ed66-4217-9651-c304bdaef6d2'
                  status_code:
                    type: number
                    default: 404
                  code:
                    type: string
                    default: SD_INTEGRATIONS_00021
                  message:
                    type: string
                    default: 'The entity does not exists for the given object_configuration_id: a4f8e8e1-ed66-4217-9651-c304bdaef6d2'
          description: Not Found
      x-tagGroup: Contracts
    post:
      operationId: v2.1_public_contracts_external_metadata_create
      description: 'Creates or updates the external record metadata linked to the contract.


        Use this to associate a SpotDraft contract with a CRM, ERP, or other external system record. Pass the composite contract id in the path, for example `T-123` or `H-123`.'
      summary: Create or Update Contract External Metadata
      parameters:
      - in: path
        name: contract_id
        schema:
          type: string
        description: ID of the Contract. Should be of the form T-123 or H-123. T stands for Template contracts and H stands for Historical contracts.
        required: true
      tags:
      - V2.1 Contract External Metadata
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExternalMetadataCreateOrUpdateRequestData'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ExternalMetadataCreateOrUpdateRequestData'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ExternalMetadataCreateOrUpdateRequestData'
        required: true
      security:
      - ClientId: []
        ClientSecret: []
      - OAuthBearer: []
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  external_metadata:
                    type: object
                    properties:
                      id:
                        type: string
                        default: external_record_id
                      integration_name:
                        type: string
                        default: Salesforce
                      record_type:
                        type: string
                        default: Account
                      record_data:
                        type: object
                        default: {}
                      object_configuration_id:
                        type: object
                        default: 2a2340fb-1af6-401e-a04c-c69a14c798b1
          description: Success
        '400':
          content:
            application/json:
              schema:
                type: object
                properties:
                  detail:
                    type: string
                    default: 'Record Type: Account does not match the Object Configuration Name: Opportunity.'
                  status_code:
                    type: number
                    default: 400
                  code:
                    type: string
                    default: SD_INTEGRATIONS_00030
                  message:
                    type: string
                    default: 'Record Type: Account does not match the Object Configuration Name: Opportunity.'
          description: Invalid Request
        '404':
          content:
            application/json:
              schema:
                type: object
                properties:
                  detail:
                    type: string
                    default: 'The entity does not exists for the given object_configuration_id: a4f8e8e1-ed66-4217-9651-c304bdaef6d2'
                  status_code:
                    type: number
                    default: 404
                  code:
                    type: string
                    default: SD_INTEGRATIONS_00021
                  message:
                    type: string
                    default: 'The entity does not exists for the given object_configuration_id: a4f8e8e1-ed66-4217-9651-c304bdaef6d2'
          description: Not Found
      x-tagGroup: Contracts
components:
  schemas:
    ExternalMetadataCreateOrUpdateRequestData:
      title: ExternalMetadataCreateOrUpdateRequestData
      type: object
      properties:
        external_metadata:
          title: PublicExternalMetadata
          type: object
          properties:
            id:
              title: Id
              description: Identifier of the record in the external system.
            integration_name:
              title: Integration Name
              description: Name of the external integration, for example Salesforce.
              type: string
            record_type:
              title: Record Type
              description: External record type, for example Opportunity or Account.
              type: string
            record_data:
              title: Record Data
              description: Arbitrary metadata payload from the external system.
              type: object
            object_configuration_id:
              title: Object Configuration Id
              description: Optional public identifier for a native integration object configuration. When provided, also send `record_type`. The API resolves and stores the corresponding internal entity reference.
              type: string
              format: uuid
      required:
      - external_metadata
  securitySchemes:
    ClickwrapId:
      type: apiKey
      in: header
      name: clickwrap-id
      description: Public clickwrap identifier header.
    ClientId:
      type: apiKey
      name: client-id
      in: header
    ClientSecret:
      type: apiKey
      name: client-secret
      in: header
    NativeIntegrationBasic:
      type: http
      scheme: basic
      description: HTTP Basic auth for supported native integrations. Send base64(client_id:client_secret) in the Authorization header.
    OAuthBearer:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 bearer token for workspace user access.
    Origin:
      type: apiKey
      in: header
      name: Origin
      description: Browser origin header used for clickwrap domain validation.
x-logo:
  url: https://cdn.spotdraft.com/assets/logo-black-new.png
  backgroundColor: transparent
  altText: SpotDraft Logo
  href: https://spotdraft.com
x-tagGroups:
- name: Contracts
  tags:
  - V2.1 Contract APIs
  - V2 Contract APIs
  - V1 Contract APIs
  - V2.1 Contract Approvals
  - V2 Contract Approvals
  - V2.1 Contract Activity
  - V2 Contract Activity
  - V2.1 Contract Invitations
  - V2 Contract Invitations
  - V2.1 Contract Metadata Values
  - V2 Contract Metadata Values
  - V2.1 Contract External Metadata
  - V2.1 Contract Notes
  - V2 Contract Notes
  - V2.1 Contract Obligations
  - V2.1 Contract Facets
  - V2.1 Contract Versions
  - V2 Contract Versions
  - V2.1 Recipients
  - V2 Recipients
- name: Clickwrap
  tags:
  - V2.1 Clickwrap
- name: Legal Intake
  tags:
  - V1 Legal Intake
- name: Workflow
  tags:
  - V2.1 Contract Metadata Definitions
  - V2 Contract Metadata Definitions
  - V2.1 Contract Types
  - V2 Contract Types
  - V2.1 Templates
  - V2 Templates
  - V1 Templates
- name: Platform
  tags:
  - V2.1 Users
  - V2 Users
  - V1 Users
  - V2.1 Counterparties
  - V2 Counterparties
  - V2.1 Organizations
  - V2 Organizations
  - V1 Obligation Types
  - V1 Native Integrations
  - V2.1 Workspace Files
  - V2.1 Tasks and Reminders
  - V2 Tasks and Reminders
  - V2.1 Webhooks
  - V1 Webhooks
  - V1 Emails
  - V2.1 Analytics Query
  - V2.1 Workspaces
  - V2.1 Workspace Tags
- name: Sidebar
  tags:
  - V2.1 Sidebar
