openapi: 3.2.0
info:
  title: SpotDraft V1 Webhooks API
  version: v1
  x-version: v1
  x-logo:
    url: https://cdn.spotdraft.com/assets/logo-black-new.png
    backgroundColor: transparent
    altText: SpotDraft Logo
    href: https://spotdraft.com
  x-favicon: https://cdn.spotdraft.com/assets/favicon.png
  x-footer: © SpotDraft Inc. All rights reserved.
  description: '# SpotDraft Public API


    Welcome to the **SpotDraft Public API**.'
servers:
- url: https://api.eu.spotdraft.com
  description: Europe
- url: https://api.in.spotdraft.com
  description: India
- url: https://api.us.spotdraft.com
  description: United States
- url: https://api.me.spotdraft.com
  description: Middle East
tags:
- name: V1 Webhooks
  description: Create webhook subscriptions, inspect sample payloads, validate deliveries, and manage webhook secrets across public API versions.
paths:
  /api/v1/public/webhook-sample/:
    post:
      operationId: v1_public_webhook_sample_create
      description: 'This is a sample webhook request as sent to the listener of the webhook. Sample payloads for each activity type can be seen in the responses section by changing the mime type on the right side.


        Please note that this API does not exist and will throw a 404.'
      summary: Sample Webhook Request
      tags:
      - V1 Webhooks
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContractActivityDomainModel'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ContractActivityDomainModel'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ContractActivityDomainModel'
        required: true
      security:
      - {}
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContractActivityDomainModel'
          description: Sample Payloads
      x-tagGroup: Platform
components:
  schemas:
    ContractActivityDomainModel:
      title: ContractActivityDomainModel
      type: object
      properties:
        activity_data:
          title: Activity Data
          type: object
          properties:
            performed_by:
              title: Performed By
              type: object
              properties:
                name:
                  title: Name
                  description: The name of the user. Can be set to `SYSTEM` for system initiated actions.
                  type: string
                email:
                  title: Email
                  description: The email address of the user. Can be unset if name is `SYSTEM`.
                  type: string
              required:
              - name
              description: The User details
            timestamp:
              title: Timestamp
              description: The timestamp at which this action was taken
              type: string
              format: date-time
          required:
          - performed_by
          - timestamp
          description: Details of the action taken which caused this webhook
        activity:
          allOf:
          - $ref: '#/components/schemas/ActivityEnum'
          title: ContractWebhookActivityType
          description: The name of the activity. See [Webhook Activity Types](#webhook-activity-types)
        contract_id:
          title: Contract Id
          description: The ID of the contract for which the webhook is sent
          type: integer
        contract_title:
          title: Contract Title
          description: The title of the contract as set by the user
          type: string
        contract_type:
          title: Contract Type
          description: The type of the contract
          type: string
        contract_type_name:
          title: Contract Type Name
          description: The contract type name of the contract
          type: string
        contract_type_id:
          title: Contract Type Id
          description: The contract type id of the contract
          type: integer
        contract_status:
          title: Contract Status
          description: The status of the contract. One of DRAFT, REDLINING, SIGN, EXECUTED
          type: string
        contract_kind:
          allOf:
          - $ref: '#/components/schemas/ContractActivityDomainModelContractKindEnum'
          title: ContractKindActivityData
          description: The workflow kind of the contract. One of TEMPLATE_CONTRACT, EDITED_TEMPLATE_CONTRACT, THIRD_PARTY_CONTRACT, SIGN_CONTRACT, EXECUTED_CONTRACT, EXPRESS_TEMPLATE_CONTRACT
        business_user:
          title: Business User
          type: object
          properties:
            name:
              title: Name
              description: The name of the user. Can be set to `SYSTEM` for system initiated actions.
              type: string
            email:
              title: Email
              description: The email address of the user. Can be unset if name is `SYSTEM`.
              type: string
          required:
          - name
          description: The Business User details
        legal_user:
          title: Legal User
          type: object
          properties:
            name:
              title: Name
              description: The name of the user. Can be set to `SYSTEM` for system initiated actions.
              type: string
            email:
              title: Email
              description: The email address of the user. Can be unset if name is `SYSTEM`.
              type: string
          required:
          - name
          description: The Legal User details
        created_at:
          title: Created At
          description: The time the contract was created
          type: string
          format: date-time
        counterparties:
          title: Counterparties
          description: The details of the counter parties of this contract. Only set if set by the user
          type: array
          items:
            title: ContractActivityCounterparty
            type: object
            properties:
              type:
                title: Type
                description: The type of counterparty. Valid options are Organization or Individual
                type: string
              organization_name:
                title: Organization Name
                description: The name of the counterparty.
                type: string
              poc_name:
                title: Poc Name
                description: The name of the point of contact.
                type: string
              poc_email:
                title: Poc Email
                description: The email of the point of contact.
                type: string
              counterparty_id:
                title: Counterparty Id
                description: The id of the counterparty.
                type: integer
            required:
            - type
        external_metadata:
          title: External Metadata
          description: The external metadata for this contract, if set
          type: object
        entity:
          title: Entity
          type: object
          properties:
            reference_id:
              title: Reference Id
              description: The reference ID of the entity
              type: string
            name:
              title: Name
              description: The name of the entity
              type: string
            jurisdiction:
              title: Jurisdiction
              description: The name of the country which is the jurisdiction for this entity
              type: string
            type:
              title: Type
              description: The type of this entity
              type: string
          required:
          - reference_id
          - name
          - jurisdiction
          - type
          description: The entity information for this contract, if set
        contract_reference_id:
          title: Contract Reference Id
          description: Reference id of the contract.
          type: string
        contract_template_id:
          title: Contract Template Id
          description: Template id of the template contract.
          type: integer
      required:
      - activity_data
      - activity
      - contract_id
      - contract_title
      - contract_type
      - contract_type_name
      - contract_type_id
      - contract_status
      - contract_kind
      - business_user
      - created_at
      examples:
        CONTRACT_CREATED:
          contract_id: 19589
          contract_kind: EXECUTED_CONTRACT
          contract_title: SpotDraft Standard DPA
          contract_type: Data Processing Agreement
          contract_type_name: Data Processing Agreement
          contract_type_id: 135
          contract_status: DRAFT
          business_user:
            name: Rohith Salim
            email: rohith+core@spotdraft.com
          legal_user:
            name: Jane Legal
            email: jane.legal@example.com
          created_at: '2021-08-22T03:48:52.370635Z'
          counterparties:
          - type: Organization
            organization_name: Test Customer
            poc_name: Rohith Salim
            poc_email: rohith+test@spotdraft.com
          activity_data:
            performed_by:
              name: Rohith Salim
              email: rohith+core@spotdraft.com
            timestamp: '2021-08-22T03:48:56.491054Z'
          activity: CONTRACT_CREATED
        CONTRACT_SENT_TO_COUNTERPARTY:
          contract_id: 19589
          contract_kind: TEMPLATE_CONTRACT
          contract_title: SpotDraft Standard DPA
          contract_type: Data Processing Agreement
          contract_type_name: Data Processing Agreement
          contract_type_id: 135
          contract_status: REDLINING
          business_user:
            name: Rohith Salim
            email: rohith+core@spotdraft.com
          legal_user:
            name: Jane Legal
            email: jane.legal@example.com
          created_at: '2021-08-22T03:48:52.370635Z'
          counterparties:
          - type: Organization
            organization_name: Test Customer
            poc_name: Rohith Salim
            poc_email: rohith+test@spotdraft.com
          activity_data:
            performed_by:
              name: Rohith Salim
              email: rohith+core@spotdraft.com
            timestamp: '2021-08-22T03:49:21.713506Z'
            counterparty_email_recipients:
              to_recipients:
              - rohith+test@spotdraft.com
              cc_recipients:
              - rohith+core@spotdraft.com
          activity: CONTRACT_SENT_TO_COUNTERPARTY
        REDLINING_EMAIL_OPENED:
          contract_id: 19589
          contract_kind: TEMPLATE_CONTRACT
          contract_title: SpotDraft Standard DPA
          contract_type: Data Processing Agreement
          contract_type_name: Data Processing Agreement
          contract_type_id: 135
          contract_status: REDLINING
          business_user:
            name: Rohith Salim
            email: rohith+core@spotdraft.com
          legal_user:
            name: Jane Legal
            email: jane.legal@example.com
          created_at: '2021-08-22T03:48:52.370635Z'
          counterparties:
          - type: Organization
            organization_name: Test Customer
            poc_name: Rohith Salim
            poc_email: rohith+test@spotdraft.com
          activity_data:
            performed_by:
              name: SYSTEM
            timestamp: '2021-08-22T03:49:41.983699Z'
            email_event_data:
              recipient_email: rohith+core@spotdraft.com
              email_mode: cc
              occured_at: '2021-08-22T03:49:37Z'
          activity: REDLINING_EMAIL_OPENED
        REDLINING_EMAIL_LINK_CLICKED:
          contract_id: 19589
          contract_kind: TEMPLATE_CONTRACT
          contract_title: SpotDraft Standard DPA
          contract_type: Data Processing Agreement
          contract_type_name: Data Processing Agreement
          contract_type_id: 135
          contract_status: REDLINING
          business_user:
            name: Rohith Salim
            email: rohith+core@spotdraft.com
          legal_user:
            name: Jane Legal
            email: jane.legal@example.com
          created_at: '2021-08-22T03:48:52.370635Z'
          counterparties:
          - type: Organization
            organization_name: Test Customer
            poc_name: Rohith Salim
            poc_email: rohith+test@spotdraft.com
          activity_data:
            performed_by:
              name: SYSTEM
            timestamp: '2021-08-22T03:50:03.407226Z'
            email_event_data:
              recipient_email: rohith+core@spotdraft.com
              email_mode: cc
              occured_at: '2021-08-22T03:49:59Z'
          activity: REDLINING_EMAIL_LINK_CLICKED
        REDLINING_EMAIL_DELIVERED:
          contract_id: 19589
          contract_kind: TEMPLATE_CONTRACT
          contract_title: SpotDraft Standard DPA
          contract_type: Data Processing Agreement
          contract_type_name: Data Processing Agreement
          contract_type_id: 135
          contract_status: REDLINING
          business_user:
            name: Rohith Salim
            email: rohith+core@spotdraft.com
          legal_user:
            name: Jane Legal
            email: jane.legal@example.com
          created_at: '2021-08-22T03:48:52.370635Z'
          counterparties:
          - type: Organization
            organization_name: Test Customer
            poc_name: Rohith Salim
            poc_email: rohith+test@spotdraft.com
          activity_data:
            performed_by:
              name: SYSTEM
            timestamp: '2021-08-22T03:50:07.275986Z'
            email_event_data:
              recipient_email: rohith+core@spotdraft.com
              email_mode: cc
              occured_at: '2021-08-22T03:49:26Z'
          activity: REDLINING_EMAIL_DELIVERED
        CONTRACT_SIGNATURE_REQUESTED_NOTIFICATION_SENT:
          contract_id: 19589
          contract_kind: EDITED_TEMPLATE_CONTRACT
          contract_title: SpotDraft Standard DPA
          contract_type: Data Processing Agreement
          contract_type_name: Data Processing Agreement
          contract_type_id: 135
          contract_status: SIGN
          business_user:
            name: Rohith Salim
            email: rohith+core@spotdraft.com
          legal_user:
            name: Jane Legal
            email: jane.legal@example.com
          created_at: '2021-08-22T03:48:52.370635Z'
          counterparties:
          - type: Organization
            organization_name: Test Customer
            poc_name: Rohith Salim
            poc_email: rohith+test@spotdraft.com
          activity_data:
            performed_by:
              name: Rohith Salim
              email: rohith+core@spotdraft.com
            timestamp: '2021-08-22T03:51:07.532908Z'
            signatory:
              name: Rohith Salim
              email: rohith+core@spotdraft.com
          activity: CONTRACT_SIGNATURE_REQUESTED_NOTIFICATION_SENT
        SIGNING_EMAIL_DELIVERED:
          contract_id: 19589
          contract_kind: EDITED_TEMPLATE_CONTRACT
          contract_title: SpotDraft Standard DPA
          contract_type: Data Processing Agreement
          contract_type_name: Data Processing Agreement
          contract_type_id: 135
          contract_status: SIGN
          business_user:
            name: Rohith Salim
            email: rohith+core@spotdraft.com
          legal_user:
            name: Jane Legal
            email: jane.legal@example.com
          created_at: '2021-08-22T03:48:52.370635Z'
          counterparties:
          - type: Organization
            organization_name: Test Customer
            poc_name: Rohith Salim
            poc_email: rohith+test@spotdraft.com
          activity_data:
            performed_by:
              name: SYSTEM
            timestamp: '2021-08-22T03:51:44.797406Z'
            email_event_data:
              recipient_email: rohith+test@spotdraft.com
              email_mode: to
              occured_at: '2021-08-22T03:51:11Z'
          activity: SIGNING_EMAIL_DELIVERED
        SIGNING_EMAIL_OPENED:
          contract_id: 19589
          contract_kind: EDITED_TEMPLATE_CONTRACT
          contract_title: SpotDraft Standard DPA
          contract_type: Data Processing Agreement
          contract_type_name: Data Processing Agreement
          contract_type_id: 135
          contract_status: SIGN
          business_user:
            name: Rohith Salim
            email: rohith+core@spotdraft.com
          legal_user:
            name: Jane Legal
            email: jane.legal@example.com
          created_at: '2021-08-22T03:48:52.370635Z'
          counterparties:
          - type: Organization
            organization_name: Test Customer
            poc_name: Rohith Salim
            poc_email: rohith+test@spotdraft.com
          activity_data:
            performed_by:
              name: SYSTEM
            timestamp: '2021-08-22T03:52:11.355880Z'
            email_event_data:
              recipient_email: rohith+core@spotdraft.com
              email_mode: to
              occured_at: '2021-08-22T03:52:08Z'
          activity: SIGNING_EMAIL_OPENED
        SIGNING_EMAIL_LINK_CLICKED:
          contract_id: 19589
          contract_kind: THIRD_PARTY_CONTRACT
          contract_title: SpotDraft Standard DPA
          contract_type: Data Processing Agreement
          contract_type_name: Data Processing Agreement
          contract_type_id: 135
          contract_status: SIGN
          business_user:
            name: Rohith Salim
            email: rohith+core@spotdraft.com
          legal_user:
            name: Jane Legal
            email: jane.legal@example.com
          created_at: '2021-08-22T03:48:52.370635Z'
          counterparties:
          - type: Organization
            organization_name: Test Customer
            poc_name: Rohith Salim
            poc_email: rohith+test@spotdraft.com
          activity_data:
            performed_by:
              name: SYSTEM
            timestamp: '2021-08-22T03:52:36.374731Z'
            email_event_data:
              recipient_email: rohith+core@spotdraft.com
              email_mode: to
              occured_at: '2021-08-22T03:52:31Z'
          activity: SIGNING_EMAIL_LINK_CLICKED
        CONTRACT_SIGNED:
          contract_id: 19589
          contract_kind: THIRD_PARTY_CONTRACT
          contract_title: SpotDraft Standard DPA
          contract_type: Data Processing Agreement
          contract_type_name: Data Processing Agreement
          contract_type_id: 135
          contract_status: SIGN
          business_user:
            name: Rohith Salim
            email: rohith+core@spotdraft.com
          legal_user:
            name: Jane Legal
            email: jane.legal@example.com
          created_at: '2021-08-22T03:48:52.370635Z'
          counterparties:
          - type: Organization
            organization_name: Test Customer
            poc_name: Rohith Salim
            poc_email: rohith+test@spotdraft.com
          activity_data:
            performed_by:
              name: Rohith Salim
              email: rohith+core@spotdraft.com
            timestamp: '2021-08-22T03:53:27.630482Z'
          activity: CONTRACT_SIGNED
        CONTRACT_EXECUTED:
          contract_id: 19589
          contract_kind: THIRD_PARTY_CONTRACT
          contract_title: SpotDraft Standard DPA
          contract_type: Data Processing Agreement
          contract_type_name: Data Processing Agreement
          contract_type_id: 135
          contract_status: EXECUTED
          business_user:
            name: Rohith Salim
            email: rohith+core@spotdraft.com
          legal_user:
            name: Jane Legal
            email: jane.legal@example.com
          created_at: '2021-08-22T03:48:52.370635Z'
          counterparties:
          - type: Organization
            organization_name: Test Customer
            poc_name: Rohith Salim
            poc_email: rohith+test@spotdraft.com
          activity_data:
            performed_by:
              name: SYSTEM
            timestamp: '2021-08-22T03:53:52.201442Z'
          activity: CONTRACT_EXECUTED
        CONTRACT_DELETED:
          contract_id: 19589
          contract_kind: SIGN_CONTRACT
          contract_title: SpotDraft Standard DPA
          contract_type: Data Processing Agreement
          contract_type_name: Data Processing Agreement
          contract_type_id: 135
          contract_status: EXECUTED
          business_user:
            name: Rohith Salim
            email: rohith+core@spotdraft.com
          legal_user:
            name: Jane Legal
            email: jane.legal@example.com
          created_at: '2021-08-22T03:48:52.370635Z'
          counterparties:
          - type: Organization
            organization_name: Test Customer
            poc_name: Rohith Salim
            poc_email: rohith+test@spotdraft.com
          activity_data:
            performed_by:
              name: Rohith Salim
              email: rohith+core@spotdraft.com
            timestamp: '2021-08-22T03:53:52.201442Z'
          activity: CONTRACT_DELETED
        CONTRACT_SIGNATURE_DECLINED:
          contract_id: 193
          contract_kind: EXPRESS_TEMPLATE
          contract_title: Master Lease Agreement
          contract_type: Type
          contract_type_id: 135
          contract_type_name: Type
          contract_status: DRAFT
          business_user:
            name: Madhav Bhagat
            email: madhav89@gmail.com
          legal_user:
            name: Jane Legal
            email: jane.legal@example.com
          created_at: '2020-10-28T11:35:11.119130Z'
          counterparties:
          - type: Organization
            organization_name: first last org
          activity_data:
            performed_by:
              name: Madhav Bhagat
              email: madhav89@gmail.com
            timestamp: '2021-09-13T07:30:15.470887Z'
          activity: CONTRACT_SIGNATURE_DECLINED
    ActivityEnum:
      enum:
      - CONTRACT_VERSION_UPLOADED
      - CONTRACT_APPROVAL_COMPLETED
      - CONTRACT_APPROVAL_REQUESTED
      - CONTRACT_CREATED
      - CONTRACT_DATA_UPDATED
      - CONTRACT_DELETED
      - CONTRACT_EXECUTED
      - CONTRACT_MARK_FOR_EXECUTION
      - CONTRACT_SENT_TO_COUNTERPARTY
      - CONTRACT_SIGNATURE_DECLINED
      - CONTRACT_SIGNATURE_REQUESTED
      - CONTRACT_SIGNED
      - CONTRACT_UNMARK_FOR_EXECUTION
      - POSTMARK_EMAIL_EVENT
      - CONTRACT_KEY_POINTER_UPDATION
      - CONTRACT_KEY_POINTER_CREATION
      - SIGNING_EMAIL_DELIVERED
      - SIGNING_EMAIL_OPENED
      - SIGNING_EMAIL_NOT_DELIVERED
      - SIGNING_EMAIL_LINK_CLICKED
      - REDLINING_EMAIL_DELIVERED
      - REDLINING_EMAIL_OPENED
      - REDLINING_EMAIL_NOT_DELIVERED
      - REDLINING_EMAIL_LINK_CLICKED
      - CONTRACT_SIGNATURE_REQUESTED_NOTIFICATION_SENT
      - COUNTER_PARTY_CREATED
      - COUNTER_PARTY_UPDATED
      - COUNTER_PARTY_CONTACT_CREATED
      - COUNTER_PARTY_CONTACT_UPDATED
      - COUNTER_PARTY_ADDRESS_CREATED
      - COUNTER_PARTY_ADDRESS_UPDATED
      - CONTRACT_ACTIVITY_LOG_COMMENT_CREATED
      - CONTRACT_VOIDED
      - CONTRACT_PROCESS_METRIC_UPDATED
      - CONTRACT_EXTERNAL_METADATA_CREATED
      - CONTRACT_EXTERNAL_METADATA_UPDATED
      - CONTRACT_ENTITY_UPDATED
      type: string
    ContractActivityDomainModelContractKindEnum:
      enum:
      - TEMPLATE_CONTRACT
      - EDITED_TEMPLATE_CONTRACT
      - THIRD_PARTY_CONTRACT
      - SIGN_CONTRACT
      - EXECUTED_CONTRACT
      - EXPRESS_TEMPLATE_CONTRACT
      - CLICKWRAP_CONTRACT
      - HISTORICAL_CLICKWRAP_CONTRACT
      type: string
  securitySchemes:
    ClickwrapId:
      type: apiKey
      in: header
      name: clickwrap-id
      description: Public clickwrap identifier header.
    ClientId:
      type: apiKey
      name: client-id
      in: header
    ClientSecret:
      type: apiKey
      name: client-secret
      in: header
    NativeIntegrationBasic:
      type: http
      scheme: basic
      description: HTTP Basic auth for supported native integrations. Send base64(client_id:client_secret) in the Authorization header.
    OAuthBearer:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 bearer token for workspace user access.
    Origin:
      type: apiKey
      in: header
      name: Origin
      description: Browser origin header used for clickwrap domain validation.
x-logo:
  url: https://cdn.spotdraft.com/assets/logo-black-new.png
  backgroundColor: transparent
  altText: SpotDraft Logo
  href: https://spotdraft.com
x-tagGroups:
- name: Contracts
  tags:
  - V2.1 Contract APIs
  - V2 Contract APIs
  - V1 Contract APIs
  - V2.1 Contract Approvals
  - V2 Contract Approvals
  - V2.1 Contract Activity
  - V2 Contract Activity
  - V2.1 Contract Invitations
  - V2 Contract Invitations
  - V2.1 Contract Metadata Values
  - V2 Contract Metadata Values
  - V2.1 Contract External Metadata
  - V2.1 Contract Notes
  - V2 Contract Notes
  - V2.1 Contract Obligations
  - V2.1 Contract Facets
  - V2.1 Contract Versions
  - V2 Contract Versions
  - V2.1 Recipients
  - V2 Recipients
- name: Clickwrap
  tags:
  - V2.1 Clickwrap
- name: Legal Intake
  tags:
  - V1 Legal Intake
- name: Workflow
  tags:
  - V2.1 Contract Metadata Definitions
  - V2 Contract Metadata Definitions
  - V2.1 Contract Types
  - V2 Contract Types
  - V2.1 Templates
  - V2 Templates
  - V1 Templates
- name: Platform
  tags:
  - V2.1 Users
  - V2 Users
  - V1 Users
  - V2.1 Counterparties
  - V2 Counterparties
  - V2.1 Organizations
  - V2 Organizations
  - V1 Obligation Types
  - V1 Native Integrations
  - V2.1 Workspace Files
  - V2.1 Tasks and Reminders
  - V2 Tasks and Reminders
  - V2.1 Webhooks
  - V1 Webhooks
  - V1 Emails
  - V2.1 Analytics Query
  - V2.1 Workspaces
  - V2.1 Workspace Tags
- name: Sidebar
  tags:
  - V2.1 Sidebar
