openapi: 3.2.0
info:
  title: SpotDraft V2.1 Contract Facets API
  version: v1
  x-version: v1
  x-logo:
    url: https://cdn.spotdraft.com/assets/logo-black-new.png
    backgroundColor: transparent
    altText: SpotDraft Logo
    href: https://spotdraft.com
  x-favicon: https://cdn.spotdraft.com/assets/favicon.png
  x-footer: © SpotDraft Inc. All rights reserved.
  description: '# SpotDraft Public API


    Welcome to the **SpotDraft Public API**.'
servers:
- url: https://api.eu.spotdraft.com
  description: Europe
- url: https://api.in.spotdraft.com
  description: India
- url: https://api.us.spotdraft.com
  description: United States
- url: https://api.me.spotdraft.com
  description: Middle East
tags:
- name: V2.1 Contract Facets
  description: Discover available contract search filters and facet values.
paths:
  /api/v2.1/public/facets/:
    get:
      operationId: v2.1_public_facets_retrieve
      description: 'Returns **facet metadata** for contract search and filtering in the workspace.


        Use `include_options=true` to include option values for dropdown-style facets; omit or set `false` for a lighter discovery response (structure only).'
      summary: List Contract Search Facets
      parameters:
      - in: query
        name: include_options
        schema:
          type: boolean
        description: If `true`, include selectable option values for each facet. If `false` (default), return facet structure only (lighter for discovery).
      tags:
      - V2.1 Contract Facets
      security:
      - ClientId: []
        ClientSecret: []
      - OAuthBearer: []
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                description: Workspace facet payload (structure defined by product).
          description: Facet definitions (and optionally option values) for the workspace.
      x-tagGroup: Contracts
  /api/v2.1/public/facets/options/{field_name}/:
    get:
      operationId: v2.1_public_facets_options_retrieve
      description: Returns **suggestions / option values** for a single facet (metadata) field, for use in contract search filters. Supports optional `q` and `exclude` query params.
      summary: Get Facet Field Options
      parameters:
      - in: query
        name: exclude
        schema:
          type: string
        description: Optional comma-separated values to exclude from results.
      - in: path
        name: field_name
        schema:
          type: string
        required: true
      - in: query
        name: q
        schema:
          type: string
        description: Optional search string to filter option labels/values.
      tags:
      - V2.1 Contract Facets
      security:
      - ClientId: []
        ClientSecret: []
      - OAuthBearer: []
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                description: Facet options response (typed by field configuration).
          description: Options and metadata for the requested facet field.
      x-tagGroup: Contracts
components:
  securitySchemes:
    ClickwrapId:
      type: apiKey
      in: header
      name: clickwrap-id
      description: Public clickwrap identifier header.
    ClientId:
      type: apiKey
      name: client-id
      in: header
    ClientSecret:
      type: apiKey
      name: client-secret
      in: header
    NativeIntegrationBasic:
      type: http
      scheme: basic
      description: HTTP Basic auth for supported native integrations. Send base64(client_id:client_secret) in the Authorization header.
    OAuthBearer:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 bearer token for workspace user access.
    Origin:
      type: apiKey
      in: header
      name: Origin
      description: Browser origin header used for clickwrap domain validation.
x-logo:
  url: https://cdn.spotdraft.com/assets/logo-black-new.png
  backgroundColor: transparent
  altText: SpotDraft Logo
  href: https://spotdraft.com
x-tagGroups:
- name: Contracts
  tags:
  - V2.1 Contract APIs
  - V2 Contract APIs
  - V1 Contract APIs
  - V2.1 Contract Approvals
  - V2 Contract Approvals
  - V2.1 Contract Activity
  - V2 Contract Activity
  - V2.1 Contract Invitations
  - V2 Contract Invitations
  - V2.1 Contract Metadata Values
  - V2 Contract Metadata Values
  - V2.1 Contract External Metadata
  - V2.1 Contract Notes
  - V2 Contract Notes
  - V2.1 Contract Obligations
  - V2.1 Contract Facets
  - V2.1 Contract Versions
  - V2 Contract Versions
  - V2.1 Recipients
  - V2 Recipients
- name: Clickwrap
  tags:
  - V2.1 Clickwrap
- name: Legal Intake
  tags:
  - V1 Legal Intake
- name: Workflow
  tags:
  - V2.1 Contract Metadata Definitions
  - V2 Contract Metadata Definitions
  - V2.1 Contract Types
  - V2 Contract Types
  - V2.1 Templates
  - V2 Templates
  - V1 Templates
- name: Platform
  tags:
  - V2.1 Users
  - V2 Users
  - V1 Users
  - V2.1 Counterparties
  - V2 Counterparties
  - V2.1 Organizations
  - V2 Organizations
  - V1 Obligation Types
  - V1 Native Integrations
  - V2.1 Workspace Files
  - V2.1 Tasks and Reminders
  - V2 Tasks and Reminders
  - V2.1 Webhooks
  - V1 Webhooks
  - V1 Emails
  - V2.1 Analytics Query
  - V2.1 Workspaces
  - V2.1 Workspace Tags
- name: Sidebar
  tags:
  - V2.1 Sidebar
