openapi: 3.2.0
info:
  title: SpotDraft V2.1 Contract Versions API
  version: v1
  x-version: v1
  x-logo:
    url: https://cdn.spotdraft.com/assets/logo-black-new.png
    backgroundColor: transparent
    altText: SpotDraft Logo
    href: https://spotdraft.com
  x-favicon: https://cdn.spotdraft.com/assets/favicon.png
  x-footer: © SpotDraft Inc. All rights reserved.
  description: '# SpotDraft Public API


    Welcome to the **SpotDraft Public API**.'
servers:
- url: https://api.eu.spotdraft.com
  description: Europe
- url: https://api.in.spotdraft.com
  description: India
- url: https://api.us.spotdraft.com
  description: United States
- url: https://api.me.spotdraft.com
  description: Middle East
tags:
- name: V2.1 Contract Versions
  description: Retrieve contract version history and generated artifacts such as PDF and DOCX.
paths:
  /api/v2.1/public/contracts/{contract_id}/contract_version/:
    post:
      operationId: v2.1_public_contracts_contract_version_create
      description: Uploads a new contract version for an existing contract. Use this when you want to replace the working draft or add an executed version file to the contract history.
      summary: Upload Contract Version
      parameters:
      - in: path
        name: contract_id
        schema:
          type: integer
        description: ID of the Contract.
        required: true
      tags:
      - V2.1 Contract Versions
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PublicUploadContractVersionRequest'
            examples:
              Example1:
                value:
                  document_name: OneNDA.pdf
                  document_base_64: OneNDA document content in bytes converted to base64 string.
                  collect_approvals: true
                summary: Example 1
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PublicUploadContractVersionRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/PublicUploadContractVersionRequest'
        required: true
      security:
      - ClientId: []
        ClientSecret: []
      responses:
        '201':
          description: Success
      x-tagGroup: Contracts
components:
  schemas:
    PublicUploadContractVersionRequest:
      title: PublicUploadContractVersionRequest
      type: object
      properties:
        document_name:
          title: Document Name
          description: Name of the document along with file type extension that is being uploaded as a new contract version. PDF and DOCX uploads are supported.
          type: string
        document_base_64:
          title: Document Base 64
          description: The document content in bytes converted to a base64 string.
          type: string
        collect_approvals:
          title: Collect Approvals
          description: Boolean flag to collect or skip approvals for the newly uploaded version when approvals are configured on the contract.
          default: true
          type: boolean
        is_executed_version:
          title: Is Executed Version
          description: Boolean flag to mark the uploaded version as the executed version.
          default: false
          type: boolean
      required:
      - document_name
      - document_base_64
      examples:
      - document_name: OneNDA.pdf
        document_base_64: OneNDA document content in bytes converted to base64 string.
        collect_approvals: true
  securitySchemes:
    ClickwrapId:
      type: apiKey
      in: header
      name: clickwrap-id
      description: Public clickwrap identifier header.
    ClientId:
      type: apiKey
      name: client-id
      in: header
    ClientSecret:
      type: apiKey
      name: client-secret
      in: header
    NativeIntegrationBasic:
      type: http
      scheme: basic
      description: HTTP Basic auth for supported native integrations. Send base64(client_id:client_secret) in the Authorization header.
    OAuthBearer:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 bearer token for workspace user access.
    Origin:
      type: apiKey
      in: header
      name: Origin
      description: Browser origin header used for clickwrap domain validation.
x-logo:
  url: https://cdn.spotdraft.com/assets/logo-black-new.png
  backgroundColor: transparent
  altText: SpotDraft Logo
  href: https://spotdraft.com
x-tagGroups:
- name: Contracts
  tags:
  - V2.1 Contract APIs
  - V2 Contract APIs
  - V1 Contract APIs
  - V2.1 Contract Approvals
  - V2 Contract Approvals
  - V2.1 Contract Activity
  - V2 Contract Activity
  - V2.1 Contract Invitations
  - V2 Contract Invitations
  - V2.1 Contract Metadata Values
  - V2 Contract Metadata Values
  - V2.1 Contract External Metadata
  - V2.1 Contract Notes
  - V2 Contract Notes
  - V2.1 Contract Obligations
  - V2.1 Contract Facets
  - V2.1 Contract Versions
  - V2 Contract Versions
  - V2.1 Recipients
  - V2 Recipients
- name: Clickwrap
  tags:
  - V2.1 Clickwrap
- name: Legal Intake
  tags:
  - V1 Legal Intake
- name: Workflow
  tags:
  - V2.1 Contract Metadata Definitions
  - V2 Contract Metadata Definitions
  - V2.1 Contract Types
  - V2 Contract Types
  - V2.1 Templates
  - V2 Templates
  - V1 Templates
- name: Platform
  tags:
  - V2.1 Users
  - V2 Users
  - V1 Users
  - V2.1 Counterparties
  - V2 Counterparties
  - V2.1 Organizations
  - V2 Organizations
  - V1 Obligation Types
  - V1 Native Integrations
  - V2.1 Workspace Files
  - V2.1 Tasks and Reminders
  - V2 Tasks and Reminders
  - V2.1 Webhooks
  - V1 Webhooks
  - V1 Emails
  - V2.1 Analytics Query
  - V2.1 Workspaces
  - V2.1 Workspace Tags
- name: Sidebar
  tags:
  - V2.1 Sidebar
