openapi: 3.2.0
info:
  title: SpotDraft V1 Native Integrations API
  version: v1
  x-version: v1
  x-logo:
    url: https://cdn.spotdraft.com/assets/logo-black-new.png
    backgroundColor: transparent
    altText: SpotDraft Logo
    href: https://spotdraft.com
  x-favicon: https://cdn.spotdraft.com/assets/favicon.png
  x-footer: © SpotDraft Inc. All rights reserved.
  description: '# SpotDraft Public API


    Welcome to the **SpotDraft Public API**.'
servers:
- url: https://api.eu.spotdraft.com
  description: Europe
- url: https://api.in.spotdraft.com
  description: India
- url: https://api.us.spotdraft.com
  description: United States
- url: https://api.me.spotdraft.com
  description: Middle East
tags:
- name: V1 Native Integrations
  description: Native integration helpers for embedded SpotDraft workflows.
paths:
  /api/v1/public/native_integration/solution/{integration_solution_entity_id}/{credential_public_id}/:
    post:
      operationId: v1_public_native_integration_solution_create
      description: Enqueues **asynchronous** contract creation for the given native integration solution and credential (e.g. Coupa). The HTTP response returns immediately after the job is queued. Request body shape is integration-specific; for Coupa, send the approval payload expected by your integration configuration.
      summary: Queue Native Integration Contracts
      parameters:
      - in: path
        name: credential_public_id
        schema:
          type: string
        description: Public id of the native integration credential for this workspace.
        required: true
      - in: path
        name: integration_solution_entity_id
        schema:
          type: string
        description: Native integration solution entity identifier (e.g. Coupa create-contract).
        required: true
      tags:
      - V1 Native Integrations
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateContractsForCoupaIntegrationRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateContractsForCoupaIntegrationRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/CreateContractsForCoupaIntegrationRequest'
        required: true
      security:
      - NativeIntegrationBasic: []
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Initiated contract creation on SpotDraft
          description: Contract creation was queued successfully.
      x-tagGroup: Platform
components:
  schemas:
    IntegrationSolutionEntityIdEnum:
      enum:
      - COUPA_CREATE_CONTRACT
      type: string
    CreateContractsForCoupaIntegrationRequest:
      title: CreateContractsForCoupaIntegrationRequest
      type: object
      properties:
        integration_solution_entity_id:
          allOf:
          - $ref: '#/components/schemas/IntegrationSolutionEntityIdEnum'
          title: Integration Solution Entity Id
          default: COUPA_CREATE_CONTRACT
        record_id:
          title: Record Id
          minLength: 1
          type: string
        coupa_approval_id:
          title: Coupa Approval Id
          minLength: 1
          type: string
      required:
      - record_id
      - coupa_approval_id
  securitySchemes:
    ClickwrapId:
      type: apiKey
      in: header
      name: clickwrap-id
      description: Public clickwrap identifier header.
    ClientId:
      type: apiKey
      name: client-id
      in: header
    ClientSecret:
      type: apiKey
      name: client-secret
      in: header
    NativeIntegrationBasic:
      type: http
      scheme: basic
      description: HTTP Basic auth for supported native integrations. Send base64(client_id:client_secret) in the Authorization header.
    OAuthBearer:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 bearer token for workspace user access.
    Origin:
      type: apiKey
      in: header
      name: Origin
      description: Browser origin header used for clickwrap domain validation.
x-logo:
  url: https://cdn.spotdraft.com/assets/logo-black-new.png
  backgroundColor: transparent
  altText: SpotDraft Logo
  href: https://spotdraft.com
x-tagGroups:
- name: Contracts
  tags:
  - V2.1 Contract APIs
  - V2 Contract APIs
  - V1 Contract APIs
  - V2.1 Contract Approvals
  - V2 Contract Approvals
  - V2.1 Contract Activity
  - V2 Contract Activity
  - V2.1 Contract Invitations
  - V2 Contract Invitations
  - V2.1 Contract Metadata Values
  - V2 Contract Metadata Values
  - V2.1 Contract External Metadata
  - V2.1 Contract Notes
  - V2 Contract Notes
  - V2.1 Contract Obligations
  - V2.1 Contract Facets
  - V2.1 Contract Versions
  - V2 Contract Versions
  - V2.1 Recipients
  - V2 Recipients
- name: Clickwrap
  tags:
  - V2.1 Clickwrap
- name: Legal Intake
  tags:
  - V1 Legal Intake
- name: Workflow
  tags:
  - V2.1 Contract Metadata Definitions
  - V2 Contract Metadata Definitions
  - V2.1 Contract Types
  - V2 Contract Types
  - V2.1 Templates
  - V2 Templates
  - V1 Templates
- name: Platform
  tags:
  - V2.1 Users
  - V2 Users
  - V1 Users
  - V2.1 Counterparties
  - V2 Counterparties
  - V2.1 Organizations
  - V2 Organizations
  - V1 Obligation Types
  - V1 Native Integrations
  - V2.1 Workspace Files
  - V2.1 Tasks and Reminders
  - V2 Tasks and Reminders
  - V2.1 Webhooks
  - V1 Webhooks
  - V1 Emails
  - V2.1 Analytics Query
  - V2.1 Workspaces
  - V2.1 Workspace Tags
- name: Sidebar
  tags:
  - V2.1 Sidebar
