openapi: 3.2.0
info:
  title: SpotDraft V2 Organizations API
  version: v1
  x-version: v1
  x-logo:
    url: https://cdn.spotdraft.com/assets/logo-black-new.png
    backgroundColor: transparent
    altText: SpotDraft Logo
    href: https://spotdraft.com
  x-favicon: https://cdn.spotdraft.com/assets/favicon.png
  x-footer: © SpotDraft Inc. All rights reserved.
  description: '# SpotDraft Public API


    Welcome to the **SpotDraft Public API**.'
servers:
- url: https://api.eu.spotdraft.com
  description: Europe
- url: https://api.in.spotdraft.com
  description: India
- url: https://api.us.spotdraft.com
  description: United States
- url: https://api.me.spotdraft.com
  description: Middle East
tags:
- name: V2 Organizations
  description: Organization and organization-type lookups across public API versions.
paths:
  /api/v2/public/organizations/entities/:
    get:
      operationId: v2_public_organizations_entities_retrieve
      description: Gets all the entity associated with the Organization
      summary: Get Organization Entities
      tags:
      - V2 Organizations
      security:
      - ClientId: []
        ClientSecret: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationEntityListDomainModel'
          description: Entities
      x-tagGroup: Platform
    post:
      operationId: v2_public_organizations_entities_create
      description: Create an entity associated with the Organization
      summary: Create Entity
      tags:
      - V2 Organizations
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOrganizationEntityRequest'
            examples:
              Example1:
                value:
                  name: Acme Inc.
                  reference_id: US1
                  jurisdiction_iso_code: US
                  organization_type_id: 1
                  primary_address:
                    city_name: Houston
                    state_name: Texas
                    zipcode: '77020'
                    line_one: 3659 Burwell Heights Road
                    country_iso_code: US
                  is_primary: false
                summary: Example 1
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateOrganizationEntityRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/CreateOrganizationEntityRequest'
        required: true
      security:
      - ClientId: []
        ClientSecret: []
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationEntityDomainModel'
              examples:
                Example1:
                  value:
                    id: 1045
                    name: Acme Inc.
                    reference_id: US20
                    jurisdiction:
                      id: 234
                      name: United States
                      iso_code: US
                    organization_type:
                      id: 1
                      name: Private Company
                    primary_address:
                      id: 5073
                      line_one: 3659 Burwell Heights Road
                      city_name: Houston
                      state_name: Texas
                      zipcode: '77020'
                      country:
                        id: 234
                        name: United States
                        iso_code: US
                    is_primary: true
                  summary: Example 1
          description: Created
      x-tagGroup: Platform
  /api/v2/public/organizations/types/:
    get:
      operationId: v2_public_organizations_types_retrieve
      description: Gets all the organization types available for a jurisdiction
      summary: Get Organization Types
      parameters:
      - in: query
        name: jurisdiction_iso_code
        schema:
          type: string
        description: The ISO-3166-1 Alpha-2 code of the jurisdiction associated with this organization. Any value passed here is overrides `jurisdiction`. Valid values can be found [here](https://en.wikipedia.org/wiki/List_of_ISO_3166_country_codes).
      tags:
      - V2 Organizations
      security:
      - ClientId: []
        ClientSecret: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationTypeListDomainModel'
          description: Organization Type List
        '400':
          content:
            application/json:
              schema:
                type: object
                properties:
                  detail:
                    type: string
                  status_code:
                    type: integer
                  code:
                    type: string
                  message:
                    type: string
          description: Bad Request
      x-tagGroup: Platform
components:
  schemas:
    OrganizationEntityDomainModel:
      title: OrganizationEntityDomainModel
      type: object
      properties:
        id:
          title: Id
          description: The ID of the Entity
          type: integer
        name:
          title: Name
          description: The name of Entity as rendered in the contracts and shown to users.
          type: string
        reference_id:
          title: Reference Id
          description: The Reference ID of the entity which is used to identify the entity in templates.
          type: string
        jurisdiction:
          title: Jurisdiction
          type: object
          properties:
            id:
              title: Id
              description: The ID of the Jurisdiction.
              type: integer
            name:
              title: Name
              description: The name of the Jurisdiction.
              type: string
            code2:
              title: Code2
              description: The ISO-3166-1 Alpha-2 code of the Jurisdiction.
              type: string
          required:
          - id
          description: The Jurisdiction associated with the entity.
        organization_type:
          title: Organization Type
          type: object
          properties:
            id:
              title: Id
              description: The ID of the Organization Type.
              type: integer
            name:
              title: Name
              description: Name of the Organization Type. For example LLP vs LLC vs S Corp in the US
              type: string
          required:
          - id
          - name
          examples:
          - id: 2798
            name: Limited Liability Company (LLC)
          description: The type of this entity. This identifies the company type. For example LLP vs LLC vs S Corp in the US
        primary_address:
          title: Primary Address
          type: object
          properties:
            id:
              title: Id
              description: The ID for this address.
              type: integer
            line_one:
              title: Line One
              description: The first line of the address. Usually the apartment, floor, and street information.
              type: string
            city_name:
              title: City Name
              description: The city name for this address.
              type: string
            state_name:
              title: State Name
              description: The state name for this address.
              type: string
            zipcode:
              title: Zipcode
              description: The zip/pin/postal code for this address.
              type: string
            country:
              title: Country
              type: object
              properties:
                id:
                  title: Id
                  description: The ID of the Jurisdiction.
                  type: integer
                name:
                  title: Name
                  description: The name of the Jurisdiction.
                  type: string
                code2:
                  title: Code2
                  description: The ISO-3166-1 Alpha-2 code of the Jurisdiction.
                  type: string
              required:
              - id
              description: The ISO-3166-1 Alpha-2 code of the country associated with this organization entity address.
          required:
          - id
          - line_one
          - city_name
          - state_name
          - zipcode
          examples:
          - id: 5073
            line_one: 3659 Burwell Heights Road
            city_name: Houston
            state_name: Texas
            zipcode: '77020'
            country:
              id: 234
              name: United States
              iso_code: US
          description: The address details of the entity.
        is_primary:
          title: Is Primary
          description: This identify the entity as the primary entity or not
          type: boolean
      required:
      - id
      - name
      - reference_id
      - jurisdiction
      - organization_type
      - primary_address
      - is_primary
      examples:
      - id: 1045
        name: Acme Inc.
        reference_id: US20
        jurisdiction:
          id: 234
          name: United States
          iso_code: US
        organization_type:
          id: 1
          name: Private Company
        primary_address:
          id: 5073
          line_one: 3659 Burwell Heights Road
          city_name: Houston
          state_name: Texas
          zipcode: '77020'
          country:
            id: 234
            name: United States
            iso_code: US
        is_primary: true
    OrganizationTypeListDomainModel:
      title: OrganizationTypeListDomainModel
      type: array
      items:
        title: OrganizationTypeDomainModel
        type: object
        properties:
          id:
            title: Id
            description: The ID of the Organization Type.
            type: integer
          name:
            title: Name
            description: Name of the Organization Type. For example LLP vs LLC vs S Corp in the US
            type: string
          jurisdiction:
            title: Jurisdiction
            type: object
            properties:
              id:
                title: Id
                description: The ID of the Jurisdiction.
                type: integer
              name:
                title: Name
                description: The name of the Jurisdiction.
                type: string
              code2:
                title: Code2
                description: The ISO-3166-1 Alpha-2 code of the Jurisdiction.
                type: string
            required:
            - id
            description: The Jurisdiction associated with the Organization Type.
        required:
        - id
        - name
        examples:
        - id: 2798
          name: Limited Liability Company (LLC)
          jurisdiction:
            id: 234
            name: United States
            iso_code: US
    OrganizationEntityListDomainModel:
      title: OrganizationEntityListDomainModel
      type: array
      items:
        title: OrganizationEntityDomainModel
        type: object
        properties:
          id:
            title: Id
            description: The ID of the Entity
            type: integer
          name:
            title: Name
            description: The name of Entity as rendered in the contracts and shown to users.
            type: string
          reference_id:
            title: Reference Id
            description: The Reference ID of the entity which is used to identify the entity in templates.
            type: string
          jurisdiction:
            title: Jurisdiction
            type: object
            properties:
              id:
                title: Id
                description: The ID of the Jurisdiction.
                type: integer
              name:
                title: Name
                description: The name of the Jurisdiction.
                type: string
              code2:
                title: Code2
                description: The ISO-3166-1 Alpha-2 code of the Jurisdiction.
                type: string
            required:
            - id
            description: The Jurisdiction associated with the entity.
          organization_type:
            title: Organization Type
            type: object
            properties:
              id:
                title: Id
                description: The ID of the Organization Type.
                type: integer
              name:
                title: Name
                description: Name of the Organization Type. For example LLP vs LLC vs S Corp in the US
                type: string
            required:
            - id
            - name
            examples:
            - id: 2798
              name: Limited Liability Company (LLC)
            description: The type of this entity. This identifies the company type. For example LLP vs LLC vs S Corp in the US
          primary_address:
            title: Primary Address
            type: object
            properties:
              id:
                title: Id
                description: The ID for this address.
                type: integer
              line_one:
                title: Line One
                description: The first line of the address. Usually the apartment, floor, and street information.
                type: string
              city_name:
                title: City Name
                description: The city name for this address.
                type: string
              state_name:
                title: State Name
                description: The state name for this address.
                type: string
              zipcode:
                title: Zipcode
                description: The zip/pin/postal code for this address.
                type: string
              country:
                title: Country
                type: object
                properties:
                  id:
                    title: Id
                    description: The ID of the Jurisdiction.
                    type: integer
                  name:
                    title: Name
                    description: The name of the Jurisdiction.
                    type: string
                  code2:
                    title: Code2
                    description: The ISO-3166-1 Alpha-2 code of the Jurisdiction.
                    type: string
                required:
                - id
                description: The ISO-3166-1 Alpha-2 code of the country associated with this organization entity address.
            required:
            - id
            - line_one
            - city_name
            - state_name
            - zipcode
            examples:
            - id: 5073
              line_one: 3659 Burwell Heights Road
              city_name: Houston
              state_name: Texas
              zipcode: '77020'
              country:
                id: 234
                name: United States
                iso_code: US
            description: The address details of the entity.
          is_primary:
            title: Is Primary
            description: This identify the entity as the primary entity or not
            type: boolean
        required:
        - id
        - name
        - reference_id
        - jurisdiction
        - organization_type
        - primary_address
        - is_primary
        examples:
        - id: 1045
          name: Acme Inc.
          reference_id: US20
          jurisdiction:
            id: 234
            name: United States
            iso_code: US
          organization_type:
            id: 1
            name: Private Company
          primary_address:
            id: 5073
            line_one: 3659 Burwell Heights Road
            city_name: Houston
            state_name: Texas
            zipcode: '77020'
            country:
              id: 234
              name: United States
              iso_code: US
          is_primary: true
    CreateOrganizationEntityRequest:
      title: CreateOrganizationEntityRequest
      type: object
      properties:
        name:
          title: Name
          description: The name of the entity.
          minLength: 1
          type: string
        reference_id:
          title: Reference Id
          description: The caller-defined reference ID of the entity. Use a value that is unique within your integration so you can map the SpotDraft entity back to your source system.
          type: string
        jurisdiction_iso_code:
          title: Jurisdiction Iso Code
          description: The ISO-3166-1 Alpha-2 code of the country which is the jurisdiction for this organization entity. Any value passed here is overrides `jurisdiction`. Valid values can be found [here](https://en.wikipedia.org/wiki/List_of_ISO_3166_country_codes).
          type: string
        organization_type_id:
          title: Organization Type Id
          description: The ID of the type of this entity. This identifies the company type. For example LLP vs LLC vs S Corp in the US. Check [Get Organization Types](#tag/v2-organizations/GET/api/v2/public/organizations/types/) to get the ID of organization type.
          type: integer
        is_primary:
          title: Is Primary
          description: To set the entity as the primary entity. If set to `TRUE`, this will replace the existing entity as the primary entity.
          type: boolean
        primary_address:
          title: Primary Address
          type: object
          properties:
            line_one:
              title: Line One
              description: The first line of the address. Usually the apartment, floor, and street information.
              type: string
            city_name:
              title: City Name
              description: The city name for this address.
              type: string
            state_name:
              title: State Name
              description: The state name for this address.
              type: string
            zipcode:
              title: Zipcode
              description: The zip/pin/postal code for this address.
              type: string
            country_iso_code:
              title: Country Iso Code
              description: The ISO-3166-1 Alpha-2 code of the country associated with this organization entity address. Any value passed here is overrides `country`. Valid values can be found [here](https://en.wikipedia.org/wiki/List_of_ISO_3166_country_codes).
              type: string
          required:
          - line_one
          - city_name
          - state_name
          - zipcode
          - country_iso_code
          examples:
          - city_name: Houston
            state_name: Texas
            zipcode: '77020'
            line_one: 3659 Burwell Heights Road
            country_iso_code: US
          description: The primary address for the entity.
      required:
      - name
      - reference_id
      - jurisdiction_iso_code
      - organization_type_id
      - is_primary
      - primary_address
      examples:
      - name: Acme Inc.
        reference_id: US1
        jurisdiction_iso_code: US
        organization_type_id: 1
        primary_address:
          city_name: Houston
          state_name: Texas
          zipcode: '77020'
          line_one: 3659 Burwell Heights Road
          country_iso_code: US
        is_primary: false
  securitySchemes:
    ClickwrapId:
      type: apiKey
      in: header
      name: clickwrap-id
      description: Public clickwrap identifier header.
    ClientId:
      type: apiKey
      name: client-id
      in: header
    ClientSecret:
      type: apiKey
      name: client-secret
      in: header
    NativeIntegrationBasic:
      type: http
      scheme: basic
      description: HTTP Basic auth for supported native integrations. Send base64(client_id:client_secret) in the Authorization header.
    OAuthBearer:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 bearer token for workspace user access.
    Origin:
      type: apiKey
      in: header
      name: Origin
      description: Browser origin header used for clickwrap domain validation.
x-logo:
  url: https://cdn.spotdraft.com/assets/logo-black-new.png
  backgroundColor: transparent
  altText: SpotDraft Logo
  href: https://spotdraft.com
x-tagGroups:
- name: Contracts
  tags:
  - V2.1 Contract APIs
  - V2 Contract APIs
  - V1 Contract APIs
  - V2.1 Contract Approvals
  - V2 Contract Approvals
  - V2.1 Contract Activity
  - V2 Contract Activity
  - V2.1 Contract Invitations
  - V2 Contract Invitations
  - V2.1 Contract Metadata Values
  - V2 Contract Metadata Values
  - V2.1 Contract External Metadata
  - V2.1 Contract Notes
  - V2 Contract Notes
  - V2.1 Contract Obligations
  - V2.1 Contract Facets
  - V2.1 Contract Versions
  - V2 Contract Versions
  - V2.1 Recipients
  - V2 Recipients
- name: Clickwrap
  tags:
  - V2.1 Clickwrap
- name: Legal Intake
  tags:
  - V1 Legal Intake
- name: Workflow
  tags:
  - V2.1 Contract Metadata Definitions
  - V2 Contract Metadata Definitions
  - V2.1 Contract Types
  - V2 Contract Types
  - V2.1 Templates
  - V2 Templates
  - V1 Templates
- name: Platform
  tags:
  - V2.1 Users
  - V2 Users
  - V1 Users
  - V2.1 Counterparties
  - V2 Counterparties
  - V2.1 Organizations
  - V2 Organizations
  - V1 Obligation Types
  - V1 Native Integrations
  - V2.1 Workspace Files
  - V2.1 Tasks and Reminders
  - V2 Tasks and Reminders
  - V2.1 Webhooks
  - V1 Webhooks
  - V1 Emails
  - V2.1 Analytics Query
  - V2.1 Workspaces
  - V2.1 Workspace Tags
- name: Sidebar
  tags:
  - V2.1 Sidebar
