openapi: 3.2.0
info:
  title: SpotDraft V2 Contract Activity API
  version: v1
  x-version: v1
  x-logo:
    url: https://cdn.spotdraft.com/assets/logo-black-new.png
    backgroundColor: transparent
    altText: SpotDraft Logo
    href: https://spotdraft.com
  x-favicon: https://cdn.spotdraft.com/assets/favicon.png
  x-footer: © SpotDraft Inc. All rights reserved.
  description: '# SpotDraft Public API


    Welcome to the **SpotDraft Public API**.'
servers:
- url: https://api.eu.spotdraft.com
  description: Europe
- url: https://api.in.spotdraft.com
  description: India
- url: https://api.us.spotdraft.com
  description: United States
- url: https://api.me.spotdraft.com
  description: Middle East
tags:
- name: V2 Contract Activity
  description: Read contract comments and activity history across public API versions.
paths:
  /api/v2/public/contracts/{contract_id}/comments/:
    get:
      operationId: v2_public_contracts_comments_retrieve
      summary: Get Comments in Contract Activity Log
      parameters:
      - in: path
        name: contract_id
        schema:
          type: integer
        description: ID of the Contract.
        required: true
      - in: query
        name: limit
        schema:
          type: integer
          default: 10
        description: The number of items to return per page.
      - in: query
        name: page
        schema:
          type: integer
          default: 1
        description: The page to return. Page numbers start at 1.
      tags:
      - V2 Contract Activity
      security:
      - ClientId: []
        ClientSecret: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExternalCommentListResponse'
              examples:
                Example1:
                  value:
                    page: 1
                    limit: 10
                    total_results: 2
                    results:
                    - id: 1001
                      contract_id: 211270
                      comment: This is sample comment.
                      replies:
                      - id: 2021
                        comment: This is a sample reply.
                    - id: 1002
                      contract_id: 211270
                      comment: Hi team this contract need your review.
                      replies: []
                  summary: Example 1
          description: Success
      x-tagGroup: Contracts
    post:
      operationId: v2_public_contracts_comments_create
      summary: Add Comment to Contract Activity Log
      parameters:
      - in: path
        name: contract_id
        schema:
          type: integer
        description: ID of the Contract.
        required: true
      tags:
      - V2 Contract Activity
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExternalCreateContractCommentRequest'
            examples:
              Example1:
                value:
                  comment: Hey !!@12310!! please review this contract.
                summary: Example 1
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ExternalCreateContractCommentRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ExternalCreateContractCommentRequest'
        required: true
      security:
      - ClientId: []
        ClientSecret: []
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExternalCommentResponse'
              examples:
                Example1:
                  value:
                    id: 1001
                    contract_id: 211270
                    comment: Hey test.user@spotdraft.com please review this contract.
                    replies: []
                  summary: Example 1
          description: Success
      x-tagGroup: Contracts
components:
  schemas:
    ExternalCreateContractCommentRequest:
      title: ExternalCreateContractCommentRequest
      type: object
      properties:
        comment:
          title: Comment
          description: The content of the comment. Whitespace-only comments are rejected. Users can be mentioned using the format `!!@{user_id}!!`, where the user id must belong to the same workspace. Use the [Get User List](#tag/v21-users/GET/api/v2.1/public/auth/users/) API to fetch valid user ids.
          type: string
      required:
      - comment
      examples:
      - comment: Hey !!@12310!! please review this contract.
    ExternalCommentResponse:
      title: ExternalCommentResponse
      type: object
      properties:
        id:
          title: Id
          type: integer
        contract_id:
          title: Contract Id
          description: The id of the contract to which the comment belongs.
          type: integer
        comment:
          title: Comment
          description: The content of the comment.
          type: string
        replies:
          title: Replies
          description: The replies associated with the comment.
          type: array
          items:
            title: ExternalReplyResponse
            type: object
            properties:
              id:
                title: Id
                type: integer
              comment:
                title: Comment
                description: The content of the reply.
                type: string
            required:
            - id
            - comment
      required:
      - id
      - contract_id
      - comment
      - replies
      examples:
      - id: 1001
        contract_id: 211270
        comment: Hey test.user@spotdraft.com please review this contract.
        replies: []
    ExternalCommentListResponse:
      title: ExternalCommentListResponse
      type: object
      properties:
        page:
          title: Page
          type: integer
        limit:
          title: Limit
          type: integer
        total_results:
          title: Total Results
          type: integer
        results:
          title: Results
          type: array
          items:
            title: ExternalCommentResponse
            type: object
            properties:
              id:
                title: Id
                type: integer
              contract_id:
                title: Contract Id
                description: The id of the contract to which the comment belongs.
                type: integer
              comment:
                title: Comment
                description: The content of the comment.
                type: string
              replies:
                title: Replies
                description: The replies associated with the comment.
                type: array
                items:
                  title: ExternalReplyResponse
                  type: object
                  properties:
                    id:
                      title: Id
                      type: integer
                    comment:
                      title: Comment
                      description: The content of the reply.
                      type: string
                  required:
                  - id
                  - comment
            required:
            - id
            - contract_id
            - comment
            - replies
            examples:
            - id: 1001
              contract_id: 211270
              comment: Hey test.user@spotdraft.com please review this contract.
              replies: []
      required:
      - page
      - limit
      - total_results
      - results
      examples:
      - page: 1
        limit: 10
        total_results: 2
        results:
        - id: 1001
          contract_id: 211270
          comment: This is sample comment.
          replies:
          - id: 2021
            comment: This is a sample reply.
        - id: 1002
          contract_id: 211270
          comment: Hi team this contract need your review.
          replies: []
  securitySchemes:
    ClickwrapId:
      type: apiKey
      in: header
      name: clickwrap-id
      description: Public clickwrap identifier header.
    ClientId:
      type: apiKey
      name: client-id
      in: header
    ClientSecret:
      type: apiKey
      name: client-secret
      in: header
    NativeIntegrationBasic:
      type: http
      scheme: basic
      description: HTTP Basic auth for supported native integrations. Send base64(client_id:client_secret) in the Authorization header.
    OAuthBearer:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 bearer token for workspace user access.
    Origin:
      type: apiKey
      in: header
      name: Origin
      description: Browser origin header used for clickwrap domain validation.
x-logo:
  url: https://cdn.spotdraft.com/assets/logo-black-new.png
  backgroundColor: transparent
  altText: SpotDraft Logo
  href: https://spotdraft.com
x-tagGroups:
- name: Contracts
  tags:
  - V2.1 Contract APIs
  - V2 Contract APIs
  - V1 Contract APIs
  - V2.1 Contract Approvals
  - V2 Contract Approvals
  - V2.1 Contract Activity
  - V2 Contract Activity
  - V2.1 Contract Invitations
  - V2 Contract Invitations
  - V2.1 Contract Metadata Values
  - V2 Contract Metadata Values
  - V2.1 Contract External Metadata
  - V2.1 Contract Notes
  - V2 Contract Notes
  - V2.1 Contract Obligations
  - V2.1 Contract Facets
  - V2.1 Contract Versions
  - V2 Contract Versions
  - V2.1 Recipients
  - V2 Recipients
- name: Clickwrap
  tags:
  - V2.1 Clickwrap
- name: Legal Intake
  tags:
  - V1 Legal Intake
- name: Workflow
  tags:
  - V2.1 Contract Metadata Definitions
  - V2 Contract Metadata Definitions
  - V2.1 Contract Types
  - V2 Contract Types
  - V2.1 Templates
  - V2 Templates
  - V1 Templates
- name: Platform
  tags:
  - V2.1 Users
  - V2 Users
  - V1 Users
  - V2.1 Counterparties
  - V2 Counterparties
  - V2.1 Organizations
  - V2 Organizations
  - V1 Obligation Types
  - V1 Native Integrations
  - V2.1 Workspace Files
  - V2.1 Tasks and Reminders
  - V2 Tasks and Reminders
  - V2.1 Webhooks
  - V1 Webhooks
  - V1 Emails
  - V2.1 Analytics Query
  - V2.1 Workspaces
  - V2.1 Workspace Tags
- name: Sidebar
  tags:
  - V2.1 Sidebar
