openapi: 3.2.0
info:
  title: SpotDraft V2.1 Contract APIs API
  version: v1
  x-version: v1
  x-logo:
    url: https://cdn.spotdraft.com/assets/logo-black-new.png
    backgroundColor: transparent
    altText: SpotDraft Logo
    href: https://spotdraft.com
  x-favicon: https://cdn.spotdraft.com/assets/favicon.png
  x-footer: © SpotDraft Inc. All rights reserved.
  description: '# SpotDraft Public API


    Welcome to the **SpotDraft Public API**.'
servers:
- url: https://api.eu.spotdraft.com
  description: Europe
- url: https://api.in.spotdraft.com
  description: India
- url: https://api.us.spotdraft.com
  description: United States
- url: https://api.me.spotdraft.com
  description: Middle East
tags:
- name: V2.1 Contract APIs
  description: Contract creation, retrieval, updates, previews, downloads, uploads, and lifecycle actions across public API versions.
paths:
  /api/v2.1/public/contracts/:
    get:
      operationId: v2.1_public_contracts_retrieve
      description: 'Returns contracts visible to the current workspace.


        Use pagination, filter, and sort parameters to narrow the result set. Where supported by the version, contract metadata filters are also available.'
      summary: List Contracts
      parameters:
      - in: query
        name: filter__approvals_pending
        schema:
          type: string
        description: Filter by approvals pending (exact match). Equivalent to filter__approvals_pending[$eq]=value.
      - in: query
        name: filter__approvals_pending[$eq]
        schema:
          type: string
        description: Filter by approvals pending using $eq operator. Expects a single value for equality (e.g., string).
      - in: query
        name: filter__approvals_pending[$in]
        schema:
          type: string
        description: Filter by approvals pending using $in operator. Expects a comma-separated list of values (e.g., val1,val2). Use \, to include literal commas in values.
      - in: query
        name: filter__approvals_pending[$ne]
        schema:
          type: string
        description: Filter by approvals pending using $ne operator. Expects a single value for not-equal comparison (e.g., string).
      - in: query
        name: filter__assigned_to
        schema:
          type: integer
        description: Filter by assigned to (exact match). Equivalent to filter__assigned_to[$eq]=value.
      - in: query
        name: filter__assigned_to[$eq]
        schema:
          type: string
        description: Filter by assigned to using $eq operator. Expects a single value for equality (e.g., string).
      - in: query
        name: filter__assigned_to[$gt]
        schema:
          type: string
        description: Filter by assigned to using $gt operator. Expects a single value (e.g., number or ISO string).
      - in: query
        name: filter__assigned_to[$gte]
        schema:
          type: string
        description: Filter by assigned to using $gte operator. Expects a single value (e.g., number or ISO string).
      - in: query
        name: filter__assigned_to[$in]
        schema:
          type: string
        description: Filter by assigned to using $in operator. Expects a comma-separated list of values (e.g., val1,val2). Use \, to include literal commas in values.
      - in: query
        name: filter__assigned_to[$lt]
        schema:
          type: string
        description: Filter by assigned to using $lt operator. Expects a single value (e.g., number or ISO string).
      - in: query
        name: filter__assigned_to[$lte]
        schema:
          type: string
        description: Filter by assigned to using $lte operator. Expects a single value (e.g., number or ISO string).
      - in: query
        name: filter__assigned_to[$ne]
        schema:
          type: string
        description: Filter by assigned to using $ne operator. Expects a single value for not-equal comparison (e.g., string).
      - in: query
        name: filter__business_user_id
        schema:
          type: integer
        description: Filter by business user id (exact match). Equivalent to filter__business_user_id[$eq]=value.
      - in: query
        name: filter__business_user_id[$eq]
        schema:
          type: string
        description: Filter by business user id using $eq operator. Expects a single value for equality (e.g., string).
      - in: query
        name: filter__business_user_id[$gt]
        schema:
          type: string
        description: Filter by business user id using $gt operator. Expects a single value (e.g., number or ISO string).
      - in: query
        name: filter__business_user_id[$gte]
        schema:
          type: string
        description: Filter by business user id using $gte operator. Expects a single value (e.g., number or ISO string).
      - in: query
        name: filter__business_user_id[$in]
        schema:
          type: string
        description: Filter by business user id using $in operator. Expects a comma-separated list of values (e.g., val1,val2). Use \, to include literal commas in values.
      - in: query
        name: filter__business_user_id[$lt]
        schema:
          type: string
        description: Filter by business user id using $lt operator. Expects a single value (e.g., number or ISO string).
      - in: query
        name: filter__business_user_id[$lte]
        schema:
          type: string
        description: Filter by business user id using $lte operator. Expects a single value (e.g., number or ISO string).
      - in: query
        name: filter__business_user_id[$ne]
        schema:
          type: string
        description: Filter by business user id using $ne operator. Expects a single value for not-equal comparison (e.g., string).
      - in: query
        name: filter__client_brand_name
        schema:
          type: string
        description: Filter by client brand name (exact match). Equivalent to filter__client_brand_name[$eq]=value.
      - in: query
        name: filter__client_brand_name[$eq]
        schema:
          type: string
        description: Filter by client brand name using $eq operator. Expects a single value for equality (e.g., string).
      - in: query
        name: filter__client_brand_name[$in]
        schema:
          type: string
        description: Filter by client brand name using $in operator. Expects a comma-separated list of values (e.g., val1,val2). Use \, to include literal commas in values.
      - in: query
        name: filter__client_brand_name[$ne]
        schema:
          type: string
        description: Filter by client brand name using $ne operator. Expects a single value for not-equal comparison (e.g., string).
      - in: query
        name: filter__client_email
        schema:
          type: string
        description: Filter by client email (exact match). Equivalent to filter__client_email[$eq]=value.
      - in: query
        name: filter__client_email[$eq]
        schema:
          type: string
        description: Filter by client email using $eq operator. Expects a single value for equality (e.g., string).
      - in: query
        name: filter__client_email[$in]
        schema:
          type: string
        description: Filter by client email using $in operator. Expects a comma-separated list of values (e.g., val1,val2). Use \, to include literal commas in values.
      - in: query
        name: filter__client_email[$ne]
        schema:
          type: string
        description: Filter by client email using $ne operator. Expects a single value for not-equal comparison (e.g., string).
      - in: query
        name: filter__client_email_address
        schema:
          type: string
        description: Filter by client email address (exact match). Equivalent to filter__client_email_address[$eq]=value.
      - in: query
        name: filter__client_email_address[$eq]
        schema:
          type: string
        description: Filter by client email address using $eq operator. Expects a single value for equality (e.g., string).
      - in: query
        name: filter__client_email_address[$in]
        schema:
          type: string
        description: Filter by client email address using $in operator. Expects a comma-separated list of values (e.g., val1,val2). Use \, to include literal commas in values.
      - in: query
        name: filter__client_email_address[$ne]
        schema:
          type: string
        description: Filter by client email address using $ne operator. Expects a single value for not-equal comparison (e.g., string).
      - in: query
        name: filter__client_name
        schema:
          type: string
        description: Filter by client name (exact match). Equivalent to filter__client_name[$eq]=value.
      - in: query
        name: filter__client_name[$eq]
        schema:
          type: string
        description: Filter by client name using $eq operator. Expects a single value for equality (e.g., string).
      - in: query
        name: filter__client_name[$in]
        schema:
          type: string
        description: Filter by client name using $in operator. Expects a comma-separated list of values (e.g., val1,val2). Use \, to include literal commas in values.
      - in: query
        name: filter__client_name[$ne]
        schema:
          type: string
        description: Filter by client name using $ne operator. Expects a single value for not-equal comparison (e.g., string).
      - in: query
        name: filter__contract_id
        schema:
          type: string
        description: Filter by contract id (exact match). Equivalent to filter__contract_id[$eq]=value.
      - in: query
        name: filter__contract_id[$eq]
        schema:
          type: string
        description: Filter by contract id using $eq operator. Expects a single value for equality (e.g., string).
      - in: query
        name: filter__contract_id[$in]
        schema:
          type: string
        description: Filter by contract id using $in operator. Expects a comma-separated list of values (e.g., val1,val2). Use \, to include literal commas in values.
      - in: query
        name: filter__contract_id[$ne]
        schema:
          type: string
        description: Filter by contract id using $ne operator. Expects a single value for not-equal comparison (e.g., string).
      - in: query
        name: filter__contract_kind
        schema:
          type: string
        description: Filter by contract kind (exact match). Equivalent to filter__contract_kind[$eq]=value.
      - in: query
        name: filter__contract_kind[$eq]
        schema:
          type: string
        description: Filter by contract kind using $eq operator. Expects a single value for equality (e.g., string).
      - in: query
        name: filter__contract_kind[$in]
        schema:
          type: string
        description: Filter by contract kind using $in operator. Expects a comma-separated list of values (e.g., val1,val2). Use \, to include literal commas in values.
      - in: query
        name: filter__contract_kind[$ne]
        schema:
          type: string
        description: Filter by contract kind using $ne operator. Expects a single value for not-equal comparison (e.g., string).
      - in: query
        name: filter__contract_packet_name
        schema:
          type: string
        description: Filter by contract packet name (exact match). Equivalent to filter__contract_packet_name[$eq]=value.
      - in: query
        name: filter__contract_packet_name[$eq]
        schema:
          type: string
        description: Filter by contract packet name using $eq operator. Expects a single value for equality (e.g., string).
      - in: query
        name: filter__contract_packet_name[$in]
        schema:
          type: string
        description: Filter by contract packet name using $in operator. Expects a comma-separated list of values (e.g., val1,val2). Use \, to include literal commas in values.
      - in: query
        name: filter__contract_packet_name[$ne]
        schema:
          type: string
        description: Filter by contract packet name using $ne operator. Expects a single value for not-equal comparison (e.g., string).
      - in: query
        name: filter__contract_reference_id
        schema:
          type: string
        description: Filter by contract reference id (exact match). Equivalent to filter__contract_reference_id[$eq]=value.
      - in: query
        name: filter__contract_reference_id[$eq]
        schema:
          type: string
        description: Filter by contract reference id using $eq operator. Expects a single value for equality (e.g., string).
      - in: query
        name: filter__contract_reference_id[$in]
        schema:
          type: string
        description: Filter by contract reference id using $in operator. Expects a comma-separated list of values (e.g., val1,val2). Use \, to include literal commas in values.
      - in: query
        name: filter__contract_reference_id[$ne]
        schema:
          type: string
        description: Filter by contract reference id using $ne operator. Expects a single value for not-equal comparison (e.g., string).
      - in: query
        name: filter__contract_type_id
        schema:
          type: integer
        description: Filter by contract type id (exact match). Equivalent to filter__contract_type_id[$eq]=value.
      - in: query
        name: filter__contract_type_id[$eq]
        schema:
          type: string
        description: Filter by contract type id using $eq operator. Expects a single value for equality (e.g., string).
      - in: query
        name: filter__contract_type_id[$gt]
        schema:
          type: string
        description: Filter by contract type id using $gt operator. Expects a single value (e.g., number or ISO string).
      - in: query
        name: filter__contract_type_id[$gte]
        schema:
          type: string
        description: Filter by contract type id using $gte operator. Expects a single value (e.g., number or ISO string).
      - in: query
        name: filter__contract_type_id[$in]
        schema:
          type: string
        description: Filter by contract type id using $in operator. Expects a comma-separated list of values (e.g., val1,val2). Use \, to include literal commas in values.
      - in: query
        name: filter__contract_type_id[$lt]
        schema:
          type: string
        description: Filter by contract type id using $lt operator. Expects a single value (e.g., number or ISO string).
      - in: query
        name: filter__contract_type_id[$lte]
        schema:
          type: string
        description: Filter by contract type id using $lte operator. Expects a single value (e.g., number or ISO string).
      - in: query
        name: filter__contract_type_id[$ne]
        schema:
          type: string
        description: Filter by contract type id using $ne operator. Expects a single value for not-equal comparison (e.g., string).
      - in: query
        name: filter__contract_type_name
        schema:
          type: string
        description: Filter by contract type name (exact match). Equivalent to filter__contract_type_name[$eq]=value.
      - in: query
        name: filter__contract_type_name[$eq]
        schema:
          type: string
        description: Filter by contract type name using $eq operator. Expects a single value for equality (e.g., string).
      - in: query
        name: filter__contract_type_name[$in]
        schema:
          type: string
        description: Filter by contract type name using $in operator. Expects a comma-separated list of values (e.g., val1,val2). Use \, to include literal commas in values.
      - in: query
        name: filter__contract_type_name[$ne]
        schema:
          type: string
        description: Filter by contract type name using $ne operator. Expects a single value for not-equal comparison (e.g., string).
      - in: query
        name: filter__created_at
        schema:
          type: string
          format: date-time
        description: Filter by created at (exact match). Equivalent to filter__created_at[$eq]=value.
      - in: query
        name: filter__created_at[$eq]
        schema:
          type: string
          format: date-time
        description: Filter by created at using $eq operator. Expects a single value for equality (e.g., date-time).
      - in: query
        name: filter__created_at[$gt]
        schema:
          type: string
          format: date-time
        description: Filter by created at using $gt operator. Expects a single value (e.g., number or ISO date-time).
      - in: query
        name: filter__created_at[$gte]
        schema:
          type: string
          format: date-time
        description: Filter by created at using $gte operator. Expects a single value (e.g., number or ISO date-time).
      - in: query
        name: filter__created_at[$in]
        schema:
          type: string
          format: date-time
        description: Filter by created at using $in operator. Expects a comma-separated list of values (e.g., val1,val2). Use \, to include literal commas in values.
      - in: query
        name: filter__created_at[$lt]
        schema:
          type: string
          format: date-time
        description: Filter by created at using $lt operator. Expects a single value (e.g., number or ISO date-time).
      - in: query
        name: filter__created_at[$lte]
        schema:
          type: string
          format: date-time
        description: Filter by created at using $lte operator. Expects a single value (e.g., number or ISO date-time).
      - in: query
        name: filter__created_at[$ne]
        schema:
          type: string
          format: date-time
        description: Filter by created at using $ne operator. Expects a single value for not-equal comparison (e.g., date-time).
      - in: query
        name: filter__display_status
        schema:
          type: string
          enum:
          - DRAFT
          - EXECUTED
          - ON_HOLD
          - REDLINING
          - SIGN
          - VOIDED
        description: 'Filter by display status (exact match). Equivalent to filter__display_status[$eq]=value. Allowed values: DRAFT, REDLINING, SIGN, EXECUTED, ON_HOLD, VOIDED.'
      - in: query
        name: filter__display_status[$eq]
        schema:
          type: string
          enum:
          - DRAFT
          - EXECUTED
          - ON_HOLD
          - REDLINING
          - SIGN
          - VOIDED
        description: 'Filter by display status using $eq operator. Expects a single value for equality (e.g., string). Allowed values: DRAFT, REDLINING, SIGN, EXECUTED, ON_HOLD, VOIDED.'
      - in: query
        name: filter__display_status[$in]
        schema:
          type: string
          enum:
          - DRAFT
          - EXECUTED
          - ON_HOLD
          - REDLINING
          - SIGN
          - VOIDED
        description: 'Filter by display status using $in operator. Expects a comma-separated list of values (e.g., val1,val2). Use \, to include literal commas in values. Allowed values: DRAFT, REDLINING, SIGN, EXECUTED, ON_HOLD, VOIDED.'
      - in: query
        name: filter__display_status[$ne]
        schema:
          type: string
          enum:
          - DRAFT
          - EXECUTED
          - ON_HOLD
          - REDLINING
          - SIGN
          - VOIDED
        description: 'Filter by display status using $ne operator. Expects a single value for not-equal comparison (e.g., string). Allowed values: DRAFT, REDLINING, SIGN, EXECUTED, ON_HOLD, VOIDED.'
      - in: query
        name: filter__entity_name
        schema:
          type: string
        description: Filter by entity name (exact match). Equivalent to filter__entity_name[$eq]=value.
      - in: query
        name: filter__entity_name[$eq]
        schema:
          type: string
        description: Filter by entity name using $eq operator. Expects a single value for equality (e.g., string).
      - in: query
        name: filter__entity_name[$in]
        schema:
          type: string
        description: Filter by entity name using $in operator. Expects a comma-separated list of values (e.g., val1,val2). Use \, to include literal commas in values.
      - in: query
        name: filter__entity_name[$ne]
        schema:
          type: string
        description: Filter by entity name using $ne operator. Expects a single value for not-equal comparison (e.g., string).
      - in: query
        name: filter__execution_date
        schema:
          type: string
          format: date-time
        description: Filter by execution date (exact match). Equivalent to filter__execution_date[$eq]=value.
      - in: query
        name: filter__execution_date[$eq]
        schema:
          type: string
          format: date-time
        description: Filter by execution date using $eq operator. Expects a single value for equality (e.g., date-time).
      - in: query
        name: filter__execution_date[$gt]
        schema:
          type: string
          format: date-time
        description: Filter by execution date using $gt operator. Expects a single value (e.g., number or ISO date-time).
      - in: query
        name: filter__execution_date[$gte]
        schema:
          type: string
          format: date-time
        description: Filter by execution date using $gte operator. Expects a single value (e.g., number or ISO date-time).
      - in: query
        name: filter__execution_date[$in]
        schema:
          type: string
          format: date-time
        description: Filter by execution date using $in operator. Expects a comma-separated list of values (e.g., val1,val2). Use \, to include literal commas in values.
      - in: query
        name: filter__execution_date[$lt]
        schema:
          type: string
          format: date-time
        description: Filter by execution date using $lt operator. Expects a single value (e.g., number or ISO date-time).
      - in: query
        name: filter__execution_date[$lte]
        schema:
          type: string
          format: date-time
        description: Filter by execution date using $lte operator. Expects a single value (e.g., number or ISO date-time).
      - in: query
        name: filter__execution_date[$ne]
        schema:
          type: string
          format: date-time
        description: Filter by execution date using $ne operator. Expects a single value for not-equal comparison (e.g., date-time).
      - in: query
        name: filter__expiring_at
        schema:
          type: string
          format: date-time
        description: Filter by expiring at (exact match). Equivalent to filter__expiring_at[$eq]=value.
      - in: query
        name: filter__expiring_at[$eq]
        schema:
          type: string
          format: date-time
        description: Filter by expiring at using $eq operator. Expects a single value for equality (e.g., date-time).
      - in: query
        name: filter__expiring_at[$gt]
        schema:
          type: string
          format: date-time
        description: Filter by expiring at using $gt operator. Expects a single value (e.g., number or ISO date-time).
      - in: query
        name: filter__expiring_at[$gte]
        schema:
          type: string
          format: date-time
        description: Filter by expiring at using $gte operator. Expects a single value (e.g., number or ISO date-time).
      - in: query
        name: filter__expiring_at[$in]
        schema:
          type: string
          format: date-time
        description: Filter by expiring at using $in operator. Expects a comma-separated list of values (e.g., val1,val2). Use \, to include literal commas in values.
      - in: query
        name: filter__expiring_at[$lt]
        schema:
          type: string
          format: date-time
        description: Filter by expiring at using $lt operator. Expects a single value (e.g., number or ISO date-time).
      - in: query
        name: filter__expiring_at[$lte]
        schema:
          type: string
          format: date-time
        description: Filter by expiring at using $lte operator. Expects a single value (e.g., number or ISO date-time).
      - in: query
        name: filter__expiring_at[$ne]
        schema:
          type: string
          format: date-time
        description: Filter by expiring at using $ne operator. Expects a single value for not-equal comparison (e.g., date-time).
      - in: query
        name: filter__last_updated_on
        schema:
          type: string
          format: date-time
        description: Filter by last updated on (exact match). Equivalent to filter__last_updated_on[$eq]=value.
      - in: query
        name: filter__last_updated_on[$eq]
        schema:
          type: string
          format: date-time
        description: Filter by last updated on using $eq operator. Expects a single value for equality (e.g., date-time).
      - in: query
        name: filter__last_updated_on[$gt]
        schema:
          type: string
          format: date-time
        description: Filter by last updated on using $gt operator. Expects a single value (e.g., number or ISO date-time).
      - in: query
        name: filter__last_updated_on[$gte]
        schema:
          type: string
          format: date-time
        description: Filter by last updated on using $gte operator. Expects a single value (e.g., number or ISO date-time).
      - in: query
        name: filter__last_updated_on[$in]
        schema:
          type: string
          format: date-time
        description: Filter by last updated on using $in operator. Expects a comma-separated list of values (e.g., val1,val2). Use \, to include literal commas in values.
      - in: query
        name: filter__last_updated_on[$lt]
        schema:
          type: string
          format: date-time
        description: Filter by last updated on using $lt operator. Expects a single value (e.g., number or ISO date-time).
      - in: query
        name: filter__last_updated_on[$lte]
        schema:
          type: string
          format: date-time
        description: Filter by last updated on using $lte operator. Expects a single value (e.g., number or ISO date-time).
      - in: query
        name: filter__last_updated_on[$ne]
        schema:
          type: string
          format: date-time
        description: Filter by last updated on using $ne operator. Expects a single value for not-equal comparison (e.g., date-time).
      - in: query
        name: filter__legal_user_id
        schema:
          type: integer
        description: Filter by legal user id (exact match). Equivalent to filter__legal_user_id[$eq]=value.
      - in: query
        name: filter__legal_user_id[$eq]
        schema:
          type: string
        description: Filter by legal user id using $eq operator. Expects a single value for equality (e.g., string).
      - in: query
        name: filter__legal_user_id[$gt]
        schema:
          type: string
        description: Filter by legal user id using $gt operator. Expects a single value (e.g., number or ISO string).
      - in: query
        name: filter__legal_user_id[$gte]
        schema:
          type: string
        description: Filter by legal user id using $gte operator. Expects a single value (e.g., number or ISO string).
      - in: query
        name: filter__legal_user_id[$in]
        schema:
          type: string
        description: Filter by legal user id using $in operator. Expects a comma-separated list of values (e.g., val1,val2). Use \, to include literal commas in values.
      - in: query
        name: filter__legal_user_id[$lt]
        schema:
          type: string
        description: Filter by legal user id using $lt operator. Expects a single value (e.g., number or ISO string).
      - in: query
        name: filter__legal_user_id[$lte]
        schema:
          type: string
        description: Filter by legal user id using $lte operator. Expects a single value (e.g., number or ISO string).
      - in: query
        name: filter__legal_user_id[$ne]
        schema:
          type: string
        description: Filter by legal user id using $ne operator. Expects a single value for not-equal comparison (e.g., string).
      - in: query
        name: filter__pending_with
        schema:
          type: string
        description: Filter by pending with (exact match). Equivalent to filter__pending_with[$eq]=value.
      - in: query
        name: filter__pending_with[$eq]
        schema:
          type: string
        description: Filter by pending with using $eq operator. Expects a single value for equality (e.g., string).
      - in: query
        name: filter__pending_with[$in]
        schema:
          type: string
        description: Filter by pending with using $in operator. Expects a comma-separated list of values (e.g., val1,val2). Use \, to include literal commas in values.
      - in: query
        name: filter__pending_with[$ne]
        schema:
          type: string
        description: Filter by pending with using $ne operator. Expects a single value for not-equal comparison (e.g., string).
      - in: query
        name: filter__signatories
        schema:
          type: string
        description: Filter by signatories (exact match). Equivalent to filter__signatories[$eq]=value.
      - in: query
        name: filter__signatories[$eq]
        schema:
          type: string
        description: Filter by signatories using $eq operator. Expects a single value for equality (e.g., string).
      - in: query
        name: filter__signatories[$in]
        schema:
          type: string
        description: Filter by signatories using $in operator. Expects a comma-separated list of values (e.g., val1,val2). Use \, to include literal commas in values.
      - in: query
        name: filter__signatories[$ne]
        schema:
          type: string
        description: Filter by signatories using $ne operator. Expects a single value for not-equal comparison (e.g., string).
      - in: query
        name: filter__signatures_completed_by
        schema:
          type: string
        description: Filter by signatures completed by (exact match). Equivalent to filter__signatures_completed_by[$eq]=value.
      - in: query
        name: filter__signatures_completed_by[$eq]
        schema:
          type: string
        description: Filter by signatures completed by using $eq operator. Expects a single value for equality (e.g., string).
      - in: query
        name: filter__signatures_completed_by[$in]
        schema:
          type: string
        description: Filter by signatures completed by using $in operator. Expects a comma-separated list of values (e.g., val1,val2). Use \, to include literal commas in values.
      - in: query
        name: filter__signatures_completed_by[$ne]
        schema:
          type: string
        description: Filter by signatures completed by using $ne operator. Expects a single value for not-equal comparison (e.g., string).
      - in: query
        name: filter__signatures_pending_on
        schema:
          type: string
        description: Filter by signatures pending on (exact match). Equivalent to filter__signatures_pending_on[$eq]=value.
      - in: query
        name: filter__signatures_pending_on[$eq]
        schema:
          type: string
        description: Filter by signatures pending on using $eq operator. Expects a single value for equality (e.g., string).
      - in: query
        name: filter__signatures_pending_on[$in]
        schema:
          type: string
        description: Filter by signatures pending on using $in operator. Expects a comma-separated list of values (e.g., val1,val2). Use \, to include literal commas in values.
      - in: query
        name: filter__signatures_pending_on[$ne]
        schema:
          type: string
        description: Filter by signatures pending on using $ne operator. Expects a single value for not-equal comparison (e.g., string).
      - in: query
        name: filter__signatures_rejected_by
        schema:
          type: string
        description: Filter by signatures rejected by (exact match). Equivalent to filter__signatures_rejected_by[$eq]=value.
      - in: query
        name: filter__signatures_rejected_by[$eq]
        schema:
          type: string
        description: Filter by signatures rejected by using $eq operator. Expects a single value for equality (e.g., string).
      - in: query
        name: filter__signatures_rejected_by[$in]
        schema:
          type: string
        description: Filter by signatures rejected by using $in operator. Expects a comma-separated list of values (e.g., val1,val2). Use \, to include literal commas in values.
      - in: query
        name: filter__signatures_rejected_by[$ne]
        schema:
          type: string
        description: Filter by signatures rejected by using $ne operator. Expects a single value for not-equal comparison (e.g., string).
      - in: query
        name: filter__tags
        schema:
          type: string
        description: Filter by tags (exact match). Equivalent to filter__tags[$eq]=value.
      - in: query
        name: filter__tags[$eq]
        schema:
          type: string
        description: Filter by tags using $eq operator. Expects a single value for equality (e.g., string).
      - in: query
        name: filter__tags[$in]
        schema:
          type: string
        description: Filter by tags using $in operator. Expects a comma-separated list of values (e.g., val1,val2). Use \, to include literal commas in values.
      - in: query
        name: filter__tags[$ne]
        schema:
          type: string
        description: Filter by tags using $ne operator. Expects a single value for not-equal comparison (e.g., string).
      - in: query
        name: limit
        schema:
          type: integer
          default: 10
        description: The number of items to return per page.
      - in: query
        name: page
        schema:
          type: integer
          default: 1
        description: The page to return. Page numbers start at 1.
      - in: query
        name: query
        schema:
          type: string
        description: Query to filter the contracts. Searches on the contract name, entity name, party name, and party email.
      tags:
      - V2.1 Contract APIs
      security:
      - ClientId: []
        ClientSecret: []
      - OAuthBearer: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContractListResponseV2'
              examples:
                Example:
                  value:
                    total_results: 2
                    page: 1
                    limit: 10
                    results:
                    - id: 1234
                      created: '2021-05-20T04:52:04Z'
                      created_by: Acme
                      contract_link: https://app.spotdraft.com/contracts/v2/1234
                      contract_status: REDLINING
                      contract_name: Standard NDA
                      counter_party_name: Microsoft
                      contract_type_name: Standard NDA
                      contract_type_id: 100
                      reference_id: SD-1234
                      created_by_user_name: Elena Kagan
                      created_by_user_email: elena@acme.com
                      created_by_workspace: 1
                    - id: 4322
                      created: '2021-05-10T04:42:00Z'
                      created_by: Apple
                      contract_link: https://app.spotdraft.com/contracts/v2/4322
                      contract_status: EXECUTED
                      contract_name: Standard NDA - With Apple
                      counter_party_name: Apple Inc.
                      contract_type_name: Standard NDA
                      contract_type_id: 100
                      reference_id: SD-4322
                      created_by_user_name: Sonia Sotomayor
                      created_by_user_email: sonia@apple.com
                      created_by_workspace: 1
          description: Contract List
      x-tagGroup: Contracts
    post:
      operationId: v2.1_public_contracts_create
      description: 'Creates a new contract from a SpotDraft template and returns the created contract.


        Provide the template id, contract data, and counterparty details needed to render the agreement. Use this endpoint when you want SpotDraft to generate the contract from structured data.


        Creates a new contract from a SpotDraft template and returns the created contract.


        Provide contract data, counterparty details, and any required signatories for the workflow.


        In signatories list, sign_order should be set for either all items or no items of the list. Additionally when

        sign_order is set for all items of signatories list then at-least one counter party signatory user should also be part

        of the list.


        The `contract_data` object must use **template field names as keys**. Each value should match the data type configured for that field in SpotDraft.


        | Field type | Expected value | Example |

        | ---------- | -------------- | ------- |

        | String / text | String | `"Acme Inc."` |

        | Multi-line text | String with line breaks if needed | `"Not applicable\nCustomer redlines pending"` |

        | Number | Integer or decimal | `15` or `3.14` |

        | Boolean / checkbox | Boolean | `true` |

        | Date | `YYYY-MM-DD` | `"2026-03-28"` |

        | Datetime | ISO 8601 timestamp | `"2026-09-15T10:30:00Z"` |

        | Dropdown | Selected option value | `"annual_invoice"` |

        | Multi-select | Array of selected option values | `["US", "IN"]` |

        | Currency | `{ "type": "", "value": number }` | `{ "type": "USD", "value": 12000 }` |

        | Duration | `{ "days": int, "type": "DAYS\|MONTHS\|YEARS", "value": int }` | `{ "days": 180, "type": "MONTHS", "value": 6 }` |

        | Address | Object with address fields | `{ "line_one": "350 Fifth Avenue", "city": "New York", "country": "United States" }` |

        | Repeating group | Array of row objects | `[{"milestone": "Implementation", "amount": {"type": "USD", "value": 5000}}]` |

        | File / attachment | File object or uploaded file reference supported by the workflow | `{ "file_name": "security-schedule.pdf", "content_type": "application/pdf" }` |


        Sample contract data:


        ```json

        {

        "agreement_date": "2026-03-28",

        "renewal_review_at": "2026-09-15T10:30:00Z",

        "customer_name": "Acme Inc.",

        "billing_currency": {"type": "USD", "value": 12000},

        "subscription_term": {"type": "MONTHS", "value": 12, "days": 365},

        "auto_renewal": true,

        "notice_period_days": 30,

        "service_countries": ["US", "IN"],

        "billing_address": {

        "line_one": "350 Fifth Avenue",

        "city": "New York",

        "state": "NY",

        "country": "United States",

        "zipcode": "10118"

        },

        "pricing_schedule": [

        {"milestone": "Implementation", "amount": {"type": "USD", "value": 5000}},

        {"milestone": "Annual subscription", "amount": {"type": "USD", "value": 7000}}

        ],

        "msa_attachment": {"file_name": "security-schedule.pdf", "content_type": "application/pdf"}

        }

        ```'
      summary: Create Contract
      parameters:
      - in: header
        name: user-email
        schema:
          type: string
        description: The email address of the user to act as (when using client-secret authentication). This header attributes actions taken using the API to the given user.
      tags:
      - V2.1 Contract APIs
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExternalCreateContractSerializerV2_1'
            examples:
              CreateContractRequest:
                value:
                  contract_template_id: 1204
                  contract_data:
                    agreement_date: '2026-03-28'
                    renewal_review_at: '2026-09-15T10:30:00Z'
                    customer_name: Acme Inc.
                    billing_currency:
                      type: USD
                      value: 12000
                    subscription_term:
                      type: MONTHS
                      value: 12
                      days: 365
                    auto_renewal: true
                    notice_period_days: 30
                    service_countries:
                    - US
                    - IN
                    billing_address:
                      line_one: 350 Fifth Avenue
                      city: New York
                      state: NY
                      country: United States
                      zipcode: '10118'
                    pricing_schedule:
                    - milestone: Implementation
                      amount:
                        type: USD
                        value: 5000
                    - milestone: Annual subscription
                      amount:
                        type: USD
                        value: 7000
                    msa_attachment:
                      file_name: security-schedule.pdf
                      content_type: application/pdf
                  counter_party_details:
                  - is_individual: false
                    organization_type: company
                    organization_name: Acme Inc.
                    poc_details:
                      first_name: Avery
                      last_name: Stone
                      email: legal@acme.example
                    organization_details:
                      jurisdiction_iso_code: US
                      address:
                        line_one: 350 Fifth Avenue
                        city: New York
                        state: NY
                        country_iso_code: US
                        zipcode: '10118'
                  external_metadata:
                    id: hubspot-deal-10024
                    integration_name: HubSpot
                    record_type: Deal
                    record_data:
                      deal_stage: contractsent
                      owner_email: owner@acme.example
                  contract_name: Acme Master Services Agreement
                summary: Create contract request
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ExternalCreateContractSerializerV2_1'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ExternalCreateContractSerializerV2_1'
        required: true
      security:
      - ClientId: []
        ClientSecret: []
      - OAuthBearer: []
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExternalCreateContractResponse'
          description: ''
      x-tagGroup: Contracts
  /api/v2.1/public/contracts/by_external_metadata/{external_metadata_id}:
    get:
      operationId: v2.1_public_contracts_by_external_metadata_retrieve
      description: 'Returns up to 50 contracts linked to the supplied external metadata id.


        Use this when you have an external system record id and need to find the related SpotDraft contracts.'
      summary: List Contracts by External Metadata ID
      parameters:
      - in: path
        name: external_metadata_id
        schema:
          type: string
        description: External Metadata ID of the Contract. This can be used to search for contracts based on an ID specified when creating the contract using the external API.
        required: true
      tags:
      - V2.1 Contract APIs
      security:
      - ClientId: []
        ClientSecret: []
      - OAuthBearer: []
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ExternalContractV3'
              examples:
                Example:
                  value:
                  - - id: 1234
                      created: '2021-05-20T04:52:04Z'
                      created_by: Acme
                      contract_link: https://app.spotdraft.com/contracts/v2/1234
                      contract_status: REDLINING
                      contract_name: Standard NDA
                      counter_party_name: Microsoft
                      contract_type_name: Standard NDA
                      contract_type_id: 100
                      reference_id: SD-1234
                      created_by_user_name: Elena Kagan
                      created_by_user_email: elena@acme.com
                      created_by_workspace: 1
                    - id: 4322
                      created: '2021-05-10T04:42:00Z'
                      created_by: Apple
                      contract_link: https://app.spotdraft.com/contracts/v2/4322
                      contract_status: EXECUTED
                      contract_name: Standard NDA - With Apple
                      counter_party_name: Apple Inc.
                      contract_type_name: Standard NDA
                      contract_type_id: 100
                      reference_id: SD-4322
                      created_by_user_name: Sonia Sotomayor
                      created_by_user_email: sonia@apple.com
                      created_by_workspace: 1
          description: Contract List
      x-tagGroup: Contracts
  /api/v2.1/public/contracts/embedded/contracts/{contract_id}/counter_party/:
    get:
      operationId: v2.1_public_contracts_embedded_contracts_counter_party_retrieve
      description: 'Returns a short-lived embedded signing URL for the specified counterparty email on the contract.

        Use this to render the counterparty signing experience inside your own product.'
      summary: Get Counterparty Embedded URL
      parameters:
      - in: path
        name: contract_id
        schema:
          type: string
          pattern: ^[0-9]+$
        required: true
      - in: query
        name: cp_email_id
        schema:
          type: string
        description: Email address of the CP for which the url needs to be returned.
      tags:
      - V2.1 Contract APIs
      security:
      - ClientId: []
        ClientSecret: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CounterPartyEmbeddedUrlResponse'
          description: Success
      x-tagGroup: Contracts
  /api/v2.1/public/contracts/executed_contracts/:
    post:
      operationId: v2.1_public_contracts_executed_contracts_create
      description: 'This API can be used to upload existing executed contracts to SpotDraft.

        `contract_name` is treated as a caller-provided display name and is not inferred from the file content.

        Counterparty names in `counterparty_details` are also caller-provided values used for display/association.'
      summary: Upload Executed Contract API
      tags:
      - V2.1 Contract APIs
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateExecutedContractAPIRequest'
            examples:
              Example1:
                value:
                  contract_name: Acme Corporation NDA
                  file_name: Acme_nda.pdf
                  file_content: base64 encoded string of the file content
                  contract_type_id: 103
                  organization_entity_id: 78
                  external_metadata: {}
                  counterparty_details:
                  - is_individual: true
                    organization_type: Private Limited
                    organization_name: Acme Corporation
                    organization_details: {}
                    poc_details:
                      first_name: Mike
                      last_name: Reed
                      email: Mike_reed@yahoo.com
                    primary_address:
                      city_name: Cincinnati
                      state_name: Ohio
                      country_name: USA
                      zipcode: '513'
                      line_one: 'st: 3, block: 2, Jenkins Road'
                summary: Example 1
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateExecutedContractAPIRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/CreateExecutedContractAPIRequest'
        required: true
      security:
      - ClientId: []
        ClientSecret: []
      - OAuthBearer: []
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContractResponseV2'
              examples:
                Example1:
                  value:
                    id: T-1234
                    created: '2021-05-20T04:52:04Z'
                    contract_name: Acme Corporation NDA
                    contract_link: https://app.spotdraft.com/contracts/v2/4322
                    contract_status: EXECUTED
                    created_by: Morgan Freeman
                    counter_party_name: Mike Reed
                    contract_type_name: Historic
                    contract_type_id: 103
                    external_metadata: {}
                    created_by_user_name: Elena Kagan
                    created_by_user_email: elena@acme.com
                    created_by_workspace: 1
                  summary: Example 1
          description: Success
      x-tagGroup: Contracts
  /api/v2.1/public/contracts/preview/:
    post:
      operationId: v2.1_public_contracts_preview_create
      description: 'Generates a preview PDF using the supplied contract data without creating or updating a contract.


        Use this to validate how template variables render before you create the actual contract.


        The `contract_data` object must use **template field names as keys**. Each value should match the data type configured for that field in SpotDraft.


        | Field type | Expected value | Example |

        | ---------- | -------------- | ------- |

        | String / text | String | `"Acme Inc."` |

        | Multi-line text | String with line breaks if needed | `"Not applicable\nCustomer redlines pending"` |

        | Number | Integer or decimal | `15` or `3.14` |

        | Boolean / checkbox | Boolean | `true` |

        | Date | `YYYY-MM-DD` | `"2026-03-28"` |

        | Datetime | ISO 8601 timestamp | `"2026-09-15T10:30:00Z"` |

        | Dropdown | Selected option value | `"annual_invoice"` |

        | Multi-select | Array of selected option values | `["US", "IN"]` |

        | Currency | `{ "type": "", "value": number }` | `{ "type": "USD", "value": 12000 }` |

        | Duration | `{ "days": int, "type": "DAYS\|MONTHS\|YEARS", "value": int }` | `{ "days": 180, "type": "MONTHS", "value": 6 }` |

        | Address | Object with address fields | `{ "line_one": "350 Fifth Avenue", "city": "New York", "country": "United States" }` |

        | Repeating group | Array of row objects | `[{"milestone": "Implementation", "amount": {"type": "USD", "value": 5000}}]` |

        | File / attachment | File object or uploaded file reference supported by the workflow | `{ "file_name": "security-schedule.pdf", "content_type": "application/pdf" }` |


        Sample contract data:


        ```json

        {

        "agreement_date": "2026-03-28",

        "renewal_review_at": "2026-09-15T10:30:00Z",

        "customer_name": "Acme Inc.",

        "billing_currency": {"type": "USD", "value": 12000},

        "subscription_term": {"type": "MONTHS", "value": 12, "days": 365},

        "auto_renewal": true,

        "notice_period_days": 30,

        "service_countries": ["US", "IN"],

        "billing_address": {

        "line_one": "350 Fifth Avenue",

        "city": "New York",

        "state": "NY",

        "country": "United States",

        "zipcode": "10118"

        },

        "pricing_schedule": [

        {"milestone": "Implementation", "amount": {"type": "USD", "value": 5000}},

        {"milestone": "Annual subscription", "amount": {"type": "USD", "value": 7000}}

        ],

        "msa_attachment": {"file_name": "security-schedule.pdf", "content_type": "application/pdf"}

        }

        ```'
      summary: Generate Contract Preview
      tags:
      - V2.1 Contract APIs
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenerateContractPreviewRequest'
            examples:
              PreviewRequest:
                value:
                  contract_template_id: 1204
                  contract_data:
                    agreement_date: '2026-03-28'
                    customer_name: Acme Inc.
                    subscription_term:
                      type: MONTHS
                      value: 12
                      days: 365
                    billing_currency:
                      type: USD
                      value: 12000
                  counter_party_details:
                  - name: Acme Inc.
                    email: legal@acme.example
                summary: Preview request
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/GenerateContractPreviewRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/GenerateContractPreviewRequest'
        required: true
      security:
      - ClientId: []
        ClientSecret: []
      - OAuthBearer: []
      responses:
        '200':
          content:
            application/json:
              schema:
                type: string
                format: binary
          description: Preview PDF File
      x-tagGroup: Contracts
  /api/v2.1/public/contracts/upload_review_contracts/:
    post:
      operationId: v2.1_public_contracts_upload_review_contracts_create
      description: 'This API endpoint supports uploading Third-Party Paper (TPP) contracts and optionally allows for a review request.


        `contract_type_id` must be linked to a published Third-Party Paper upload workflow.

        If this linkage is missing, the API can fail with `SD_CONTRACTS_00289`.


        It accepts intake form data.


        The Intake Form Data should have the following data types with the following output:


        Type

        Data Format

        Sample


        Duration


        {"days": int, "type": DurationKind, "value": int}


        `DurationKind`: `DAYS` or `MONTHS` or `YEARS`


        {"days": 180, "type": "MONTHS", "value": 6}


        Date


        String formatted date in form YYYY-MM-dd


        "2019-11-29"


        Dropdown


        Value as returned in options. Can be string or number.


        "1"


        String


        A string value.


        "Something"


        Currency


        {"type": CurrencyCode, "value": float}


        Where currencyCode: "INR", "USD", "SGD", "EUR"


        {"type": "INR", "value": 15000.00}


        Check-box


        A boolean value


        true


        text-box


        A string value. Can be multi-line


        "Not Applicable\nBecause..."


        number


        A numeric value. Can be int or float


        4 or 3.14


        ### Sample Intake Form Data:

        ```

        {

        "term": {"days": 180, "type": "MONTHS", "value": 6},

        "notes": "Not Applicable",

        "capacity": 15,

        "setup_fee": {"type": "INR", "value": 30000.00},

        "start_date": "2019-11-29",

        "yes_discounts": false,

        "payment_method": "1",

        "suggestions": "No suggestions"

        }

        ```'
      summary: Upload Contract for Review
      tags:
      - V2.1 Contract APIs
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContractUploadForReviewRequest'
            examples:
              UploadForReviewRequest:
                value:
                  contract_name: Acme Vendor Paper
                  contract_type_id: 1
                  file_name: vendor-paper.pdf
                  file_base64: base64 encoded string of the PDF file
                  creator_organization_entity_id: 1
                  counterparty_organization_name: Acme Corporation
                  counterparty_is_individual: false
                  counterparty_poc_details:
                    first_name: Avery
                    last_name: Stone
                    email: legal@acme.example
                  reviewer:
                    org_user_email: reviewer@spotdraft.example
                    description: Please review the indemnity clause and payment terms.
                  intake_form_data:
                    term:
                      days: 180
                      type: MONTHS
                      value: 6
                    notes: Customer requested revised indemnity clause.
                    capacity: 15
                    setup_fee:
                      type: USD
                      value: 30000.0
                    start_date: '2026-04-01'
                    payment_method: annual_invoice
                summary: Upload for review request
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ContractUploadForReviewRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ContractUploadForReviewRequest'
        required: true
      security:
      - ClientId: []
        ClientSecret: []
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContractResponseV2'
              examples:
                Example1:
                  value:
                    id: T-1234
                    created: '2021-05-20T04:52:04Z'
                    contract_name: Acme Corporation NDA
                    contract_link: https://app.spotdraft.com/contracts/v2/4322
                    contract_status: EXECUTED
                    created_by: Morgan Freeman
                    counter_party_name: Mike Reed
                    contract_type_name: Historic
                    contract_type_id: 103
                    external_metadata: {}
                    created_by_user_name: Elena Kagan
                    created_by_user_email: elena@acme.com
                    created_by_workspace: 1
                  summary: Example 1
          description: Success
      x-tagGroup: Contracts
  /api/v2.1/public/contracts/upload_sign_contracts/:
    post:
      operationId: v2.1_public_contracts_upload_sign_contracts_create
      description: 'This API can be used to create a new Third-Party Paper (TPP) contract for signing.

        Use this API when you want to upload a new contract and send it for signing.


        `contract_type_id` must be linked to a published Third-Party Paper upload workflow.

        If this linkage is missing, the API can fail with `SD_CONTRACTS_00289`.


        It accepts intake form data.


        The Intake Form Data should have the following data types with the following output:


        Type

        Data Format

        Sample


        Duration


        {"days": int, "type": DurationKind, "value": int}


        `DurationKind`: `DAYS` or `MONTHS` or `YEARS`


        {"days": 180, "type": "MONTHS", "value": 6}


        Date


        String formatted date in form YYYY-MM-dd


        "2019-11-29"


        Dropdown


        Value as returned in options. Can be string or number.


        "1"


        String


        A string value.


        "Something"


        Currency


        {"type": CurrencyCode, "value": float}


        Where currencyCode: "INR", "USD", "SGD", "EUR"


        {"type": "INR", "value": 15000.00}


        Check-box


        A boolean value


        true


        text-box


        A string value. Can be multi-line


        "Not Applicable\nBecause..."


        number


        A numeric value. Can be int or float


        4 or 3.14


        ### Sample Intake Form Data:

        ```

        {

        "term": {"days": 180, "type": "MONTHS", "value": 6},

        "notes": "Not Applicable",

        "capacity": 15,

        "setup_fee": {"type": "INR", "value": 30000.00},

        "start_date": "2019-11-29",

        "yes_discounts": false,

        "payment_method": "1",

        "suggestions": "No suggestions"

        }

        ```'
      summary: Upload Contract for Signature
      tags:
      - V2.1 Contract APIs
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContractUploadForSignatureRequest'
            examples:
              UploadForSignatureRequest:
                value:
                  contract_name: Acme Corporation NDA
                  contract_type_id: 1
                  file_name: Acme_nda.pdf
                  file_base64: base64 encoded string of the PDF file
                  creator_organization_entity_id: 1
                  counterparty_organization_name: Acme Corporation
                  external_metadata:
                    id: hubspot-deal-10024
                    integration_name: HubSpot
                    record_type: Deal
                    record_data:
                      deal_stage: contractsent
                      owner_email: owner@acme.example
                  counterparty_is_individual: false
                  counterparty_poc_details:
                    first_name: Avery
                    last_name: Stone
                    email: legal@acme.example
                  intake_form_data:
                    term:
                      days: 180
                      type: MONTHS
                      value: 6
                    notes: Customer requested revised indemnity clause.
                    capacity: 15
                    setup_fee:
                      type: USD
                      value: 30000.0
                    start_date: '2026-04-01'
                    payment_method: annual_invoice
                  business_user_email: owner@spotdraft.example
                summary: Upload for signature request
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ContractUploadForSignatureRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ContractUploadForSignatureRequest'
        required: true
      security:
      - ClientId: []
        ClientSecret: []
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContractResponseV2'
              examples:
                Example1:
                  value:
                    id: T-1234
                    created: '2021-05-20T04:52:04Z'
                    contract_name: Acme Corporation NDA
                    contract_link: https://app.spotdraft.com/contracts/v2/4322
                    contract_status: EXECUTED
                    created_by: Morgan Freeman
                    counter_party_name: Mike Reed
                    contract_type_name: Historic
                    contract_type_id: 103
                    external_metadata: {}
                    created_by_user_name: Elena Kagan
                    created_by_user_email: elena@acme.com
                    created_by_workspace: 1
                  summary: Example 1
          description: Success
      x-tagGroup: Contracts
  /api/v2.1/public/contracts/webhooks/re_trigger_latest/:
    post:
      operationId: v2.1_public_contracts_webhooks_re_trigger_latest_create
      description: Re-trigger the last webhook call made for all given contracts.
      summary: Re-trigger Contract Webhooks
      tags:
      - V2.1 Contract APIs
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RetriggerLatestWebhooksRequest'
            examples:
              Example1:
                value:
                  contract_ids:
                  - 1
                  - 2
                  - 3
                summary: Example 1
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/RetriggerLatestWebhooksRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/RetriggerLatestWebhooksRequest'
        required: true
      security:
      - ClientId: []
        ClientSecret: []
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    default: Success
          description: Success
        '404':
          content:
            application/json:
              schema:
                type: object
                properties:
                  detail:
                    type: string
                    default: Not Found
          description: Not Found
      x-tagGroup: Contracts
  /api/v2.1/public/contracts/{composite_id}/content:
    get:
      operationId: v2.1_public_contracts_content_retrieve
      description: 'Retrieve the text content of a contract in different formats.


        **Formats:**

        - `text`: Returns the full contract text as a single string

        - `segments`: Returns the contract text as an array of segments with metadata


        **Feature Flags:**

        This API requires `FULL_TEXT_SEARCH` to be enabled for the workspace.


        **Content Availability:**

        Content must be previously extracted to be available through this API.


        This API supports user scoping when the ''Enforce-User-Scoping''

        header is set to ''true''. When enabled, the API will only return content for

        contracts that the specified user has access to based on their permissions.'
      summary: Get Contract Content
      parameters:
      - in: path
        name: composite_id
        schema:
          type: string
        description: ID of the Contract. Should be of the form T-123 or H-123. T stands for Template contracts and H stands for Historical contracts.
        required: true
      - in: query
        name: contract_version_id
        schema:
          type: integer
        description: ID of the contract version. If not provided, latest published version is used.
      - in: query
        name: text_format
        schema:
          type: string
          enum:
          - segments
          - text
          default: text
        description: Format of the returned content (text or segments)
      tags:
      - V2.1 Contract APIs
      security:
      - ClientId: []
        ClientSecret: []
      - OAuthBearer: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContractContentResponse'
              examples:
                Example1:
                  value:
                    contract_id: T-12345
                    content_format: text
                    content: This Agreement is entered into between...
                    segments: null
                    extraction_status: completed
                    last_updated: '2024-01-15T10:30:00Z'
                  summary: Example 1
                Example2:
                  value:
                    contract_id: T-12345
                    content_format: segments
                    content: null
                    segments:
                    - segment_text: This Agreement is entered into...
                      page_number: 1
                      position: 1
                    extraction_status: completed
                    last_updated: '2024-01-15T10:30:00Z'
                  summary: Example 2
          description: Success
        '400':
          description: Invalid format parameter
        '404':
          description: Contract not found
      x-tagGroup: Contracts
  /api/v2.1/public/contracts/{composite_id}/content/scanned:
    get:
      operationId: v2.1_public_contracts_content_scanned_retrieve
      description: 'Retrieve extracted text content from a scanned PDF contract.

        It uses mr-ping endpoints to check if the contract is scanned and extract the text content.

        /is_scanned_pdf to check if the contract is scanned and /scanned_pdf_to_text to extract the text content from the scanned PDF.


        This API supports user scoping when the ''Enforce-User-Scoping''

        header is set to ''true''. When enabled, the API will only return content for

        contracts that the specified user has access to based on their permissions.


        Optionally pass `contract_version_id` as a query parameter to use a specific

        contract version; otherwise the last published version is used.'
      summary: Get Scanned Contract Content
      parameters:
      - in: path
        name: composite_id
        schema:
          type: string
        description: ID of the Contract. Should be of the form T-123 or H-123. T stands for Template contracts and H stands for Historical contracts.
        required: true
      - in: query
        name: contract_version_id
        schema:
          type: integer
        description: ID of the contract version. If not provided, latest published version is used.
      tags:
      - V2.1 Contract APIs
      security:
      - ClientId: []
        ClientSecret: []
      - OAuthBearer: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScannedContractContentResponse'
              examples:
                Example1:
                  value:
                    contract_id: 1090393
                    content: This Agreement is entered into between...
                  summary: Example 1
          description: Success
        '400':
          description: Invalid contract_version_id parameter
        '404':
          description: Contract not found
      x-tagGroup: Contracts
  /api/v2.1/public/contracts/{composite_id}/download:
    post:
      operationId: v2.1_public_contracts_download_create
      description: 'Generates and returns the latest downloadable copy of the contract.


        Use this when you need the contract file itself rather than a temporary download URL.'
      summary: Download Contract File
      parameters:
      - in: path
        name: composite_id
        schema:
          type: string
        description: ID of the Contract. Should be of the form T-123 or H-123. T stands for Template contracts and H stands for Historical contracts.
        required: true
      tags:
      - V2.1 Contract APIs
      security:
      - ClientId: []
        ClientSecret: []
      responses:
        '200':
          content:
            application/json:
              schema:
                type: string
                format: binary
          description: PDF copy of the Contract
      x-tagGroup: Contracts
  /api/v2.1/public/contracts/{composite_id}/download_link:
    post:
      operationId: v2.1_public_contracts_download_link_create
      description: 'Returns a temporary download URL for the contract file.


        Optionally provide a `format` in the request body (`PDF`, `DOCX`, or `DOCX_WITH_FALLBACK_TO_PDF`). If omitted, the response defaults to `PDF`.'
      summary: Create Contract Download Link
      parameters:
      - in: path
        name: composite_id
        schema:
          type: string
          pattern: ^[HT\-0-9]+$
        required: true
      - in: path
        name: contract_id
        schema:
          type: string
        description: ID of the Contract. Should be of the form T-123 or H-123. T stands for Template contracts and H stands for Historical contracts.
        required: true
      tags:
      - V2.1 Contract APIs
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DownloadLinkRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/DownloadLinkRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/DownloadLinkRequest'
      security:
      - ClientId: []
        ClientSecret: []
      - OAuthBearer: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DownloadUrl'
              examples:
                Example:
                  value:
                    url: https://storage.googleapis.com/some/path?signature=ASDASD
                    file_name: Standard NDA a3b2.pdf
                    current_version_id: 1
          description: Download Link
      x-tagGroup: Contracts
  /api/v2.1/public/contracts/{composite_id}/intake_form/response:
    patch:
      operationId: v2.1_public_contracts_intake_form_response_partial_update
      description: 'Update intake-form data for the uploaded contract.

        For information about construction of payload, refer to `Sample Intake Form Data` in this section.

        Get the Intake form questionnaire details using the Get Intake Form Questionnaire API.


        The request is merged as a partial update into the latest intake-form response.

        Unknown keys are currently accepted, so clients should send only questionnaire field names.'
      summary: Edit Intake Form Response
      parameters:
      - in: path
        name: composite_id
        schema:
          type: string
        description: ID of the Contract. Should be of the form T-123 or H-123. T stands for Template contracts and H stands for Historical contracts.
        required: true
      tags:
      - V2.1 Contract APIs
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchedIntakeFormData'
            examples:
              Example1:
                value:
                  term:
                    days: 180
                    type: MONTHS
                    value: 6
                  notes: Customer requested revised indemnity clause.
                  capacity: 15
                  setup_fee:
                    type: USD
                    value: 30000.0
                  start_date: '2026-04-01'
                  payment_method: annual_invoice
                summary: Example 1
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PatchedIntakeFormData'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/PatchedIntakeFormData'
      security:
      - ClientId: []
        ClientSecret: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExternalQuestionnaireResponseDomainModel'
              examples:
                Example1:
                  value:
                    data:
                      name: Admin
                      is_individual: false
                    created: '2009-08-06T00:00:00Z'
                  summary: Example 1
          description: Intake form response details
      x-tagGroup: Contracts
  /api/v2.1/public/contracts/{composite_id}/mark_for_execution/:
    post:
      operationId: v2.1_public_contracts_mark_for_execution_create
      description: Marks the contract for execution
      summary: Marks the Contract for Execution
      parameters:
      - in: path
        name: composite_id
        schema:
          type: string
          pattern: ^[HT\-0-9]+$
        required: true
      - in: path
        name: contract_id
        schema:
          type: string
        description: ID of the Contract. Should be of the form T-123 or H-123. T stands for Template contracts and H stands for Historical contracts.
        required: true
      tags:
      - V2.1 Contract APIs
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MarkForExecutionRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/MarkForExecutionRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/MarkForExecutionRequest'
      security:
      - ClientId: []
        ClientSecret: []
      - OAuthBearer: []
      responses:
        '200':
          description: Successfully Marked for Execution
      x-tagGroup: Contracts
  /api/v2.1/public/contracts/{composite_id}/send_to_counterparties:
    post:
      operationId: v2.1_public_contracts_send_to_counterparties_create
      description: Returns status code 200 if successful
      summary: Send Contract to Counterparties
      parameters:
      - in: path
        name: composite_id
        schema:
          type: string
          pattern: ^[HT\-0-9]+$
        required: true
      - in: path
        name: contract_id
        schema:
          type: string
        description: ID of the Contract. Should be of the form T-123 or H-123. T stands for Template contracts and H stands for Historical contracts.
        required: true
      tags:
      - V2.1 Contract APIs
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SendToCounterparty'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/SendToCounterparty'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/SendToCounterparty'
        required: true
      security:
      - ClientId: []
        ClientSecret: []
      responses:
        '200':
          description: Contract sent to counterparties.
      x-tagGroup: Contracts
  /api/v2.1/public/contracts/{composite_id}/signatories/resend_email/:
    post:
      operationId: v2.1_public_contracts_signatories_resend_email_create
      description: This API can be used to resend email to signatory associated to the contract.
      summary: Resend Email to the Signatory of a Contract
      parameters:
      - in: path
        name: composite_id
        schema:
          type: string
        description: ID of the Contract. Should be of the form T-123 or H-123. T stands for Template contracts and H stands for Historical contracts.
        required: true
      tags:
      - V2.1 Contract APIs
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSignatoryResendEmailAPIRequest'
            examples:
              Example1:
                value:
                  email_id: mike_reed@yahoo.com
                summary: Example 1
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateSignatoryResendEmailAPIRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/CreateSignatoryResendEmailAPIRequest'
        required: true
      security:
      - ClientId: []
        ClientSecret: []
      - OAuthBearer: []
      responses:
        '200':
          description: Resend request accepted.
      x-tagGroup: Contracts
  /api/v2.1/public/contracts/{composite_id}/status:
    get:
      operationId: v2.1_public_contracts_status_retrieve
      description: 'Returns the display **status** and **contract name** for the requested contract.


        When the `Enforce-User-Scoping` header is `true`, only contracts the specified user may access (based on their permissions) are returned.'
      summary: Get Contract Status
      parameters:
      - in: path
        name: composite_id
        schema:
          type: string
          pattern: ^[HT\-0-9]+$
        required: true
      - in: path
        name: contract_id
        schema:
          type: string
        description: ID of the Contract. Should be of the form T-123 or H-123. T stands for Template contracts and H stands for Historical contracts.
        required: true
      tags:
      - V2.1 Contract APIs
      security:
      - ClientId: []
        ClientSecret: []
      - OAuthBearer: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExternalContractStatus'
              examples:
                Example:
                  value:
                    contract_status: EXECUTED
                    contract_name: Service Agreement - Acme Corp
          description: Contract Status
      x-tagGroup: Contracts
  /api/v2.1/public/contracts/{composite_id}/status/void:
    post:
      operationId: v2.1_public_contracts_status_void_create
      description: 'Voids a contract and stores the provided void note.

        This endpoint is available on the v2.1 surface but retains the original v1 contract tag family because it operates on the legacy contract flow.'
      summary: Void Contract
      parameters:
      - in: path
        name: composite_id
        schema:
          type: string
        description: ID of the Contract. Should be of the form T-123 or H-123. T stands for Template contracts and H stands for Historical contracts.
        required: true
      tags:
      - V2.1 Contract APIs
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VoidContractRequestData'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/VoidContractRequestData'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/VoidContractRequestData'
        required: true
      security:
      - ClientId: []
        ClientSecret: []
      - OAuthBearer: []
      responses:
        '204':
          description: No response body
        '400':
          content:
            application/json:
              schema:
                type: object
                properties:
                  detail:
                    type: string
                    description: Error detail.
                required:
                - detail
              examples:
                Example:
                  value:
                    detail: Cannot void an executed contract.
          description: Voiding failed.
      x-tagGroup: Contracts
  /api/v2.1/public/contracts/{composite_id}/unmark_for_execution:
    post:
      operationId: v2.1_public_contracts_unmark_for_execution_create
      description: Unmarks the contract for execution and voids the signature service resource (For eg. DocuSign's envelope if enabled).
      summary: Unmark the Contract for Execution
      parameters:
      - in: path
        name: composite_id
        schema:
          type: string
        description: ID of the Contract. Should be of the form T-123 or H-123. T stands for Template contracts and H stands for Historical contracts.
        required: true
      tags:
      - V2.1 Contract APIs
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContractUnMarkForExecutionRequest'
            examples:
              Example1:
                value:
                  note: Client requested some edits to the contract
                summary: Example 1
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ContractUnMarkForExecutionRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ContractUnMarkForExecutionRequest'
      security:
      - ClientId: []
        ClientSecret: []
      - OAuthBearer: []
      responses:
        '200':
          description: Contract unmarked for execution.
        '400':
          content:
            application/json:
              schema:
                type: object
                properties:
                  detail:
                    type: string
                    description: Error detail.
                required:
                - detail
              examples:
                Example:
                  value:
                    detail: Unable to unmark the contract for execution.
          description: Invalid request.
      x-tagGroup: Contracts
  /api/v2.1/public/contracts/{contract_id}/business_user/:
    patch:
      operationId: v2.1_public_contracts_business_user_partial_update
      description: 'Updates the business user associated with the contract.

        Use this when ownership needs to move to a different workspace user after the contract has been created.'
      summary: Update Business User for a Contract
      parameters:
      - in: path
        name: contract_id
        schema:
          type: integer
        description: ID of the Contract.
        required: true
      tags:
      - V2.1 Contract APIs
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchedExternalUpdateContractBusinessUserRequest'
            examples:
              Example1:
                value:
                  user_id: 1234
                  update_user_task_on_bu_update: true
                summary: Example 1
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PatchedExternalUpdateContractBusinessUserRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/PatchedExternalUpdateContractBusinessUserRequest'
        required: true
      security:
      - ClientId: []
        ClientSecret: []
      - OAuthBearer: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExternalContractUserResponse'
              examples:
                Example1:
                  value:
                    user_id: 1234
                    type: BUSINESS
                    contract_id: 1234
                  summary: Example 1
          description: Success
        '404':
          content:
            application/json:
              schema:
                type: object
                properties:
                  detail:
                    type: string
                    default: Not Found
          description: Not Found
      x-tagGroup: Contracts
  /api/v2.1/public/contracts/{contract_id}/contract_data:
    patch:
      operationId: v2.1_public_contracts_contract_data_partial_update
      description: 'Updates the structured contract data used to populate the contract template.


        Use this to refresh template field values before the contract is finalized. Historic contracts are not supported for this endpoint.


        The `contract_data` object must use **template field names as keys**. Each value should match the data type configured for that field in SpotDraft.


        | Field type | Expected value | Example |

        | ---------- | -------------- | ------- |

        | String / text | String | `"Acme Inc."` |

        | Multi-line text | String with line breaks if needed | `"Not applicable\nCustomer redlines pending"` |

        | Number | Integer or decimal | `15` or `3.14` |

        | Boolean / checkbox | Boolean | `true` |

        | Date | `YYYY-MM-DD` | `"2026-03-28"` |

        | Datetime | ISO 8601 timestamp | `"2026-09-15T10:30:00Z"` |

        | Dropdown | Selected option value | `"annual_invoice"` |

        | Multi-select | Array of selected option values | `["US", "IN"]` |

        | Currency | `{ "type": "", "value": number }` | `{ "type": "USD", "value": 12000 }` |

        | Duration | `{ "days": int, "type": "DAYS\|MONTHS\|YEARS", "value": int }` | `{ "days": 180, "type": "MONTHS", "value": 6 }` |

        | Address | Object with address fields | `{ "line_one": "350 Fifth Avenue", "city": "New York", "country": "United States" }` |

        | Repeating group | Array of row objects | `[{"milestone": "Implementation", "amount": {"type": "USD", "value": 5000}}]` |

        | File / attachment | File object or uploaded file reference supported by the workflow | `{ "file_name": "security-schedule.pdf", "content_type": "application/pdf" }` |


        Sample contract data:


        ```json

        {

        "agreement_date": "2026-03-28",

        "renewal_review_at": "2026-09-15T10:30:00Z",

        "customer_name": "Acme Inc.",

        "billing_currency": {"type": "USD", "value": 12000},

        "subscription_term": {"type": "MONTHS", "value": 12, "days": 365},

        "auto_renewal": true,

        "notice_period_days": 30,

        "service_countries": ["US", "IN"],

        "billing_address": {

        "line_one": "350 Fifth Avenue",

        "city": "New York",

        "state": "NY",

        "country": "United States",

        "zipcode": "10118"

        },

        "pricing_schedule": [

        {"milestone": "Implementation", "amount": {"type": "USD", "value": 5000}},

        {"milestone": "Annual subscription", "amount": {"type": "USD", "value": 7000}}

        ],

        "msa_attachment": {"file_name": "security-schedule.pdf", "content_type": "application/pdf"}

        }

        ```'
      summary: Update Contract Data
      parameters:
      - in: path
        name: contract_id
        schema:
          type: string
        description: ID of the Contract. Should be of the form T-123 or H-123. T stands for Template contracts and H stands for Historical contracts.
        required: true
      - in: header
        name: user-email
        schema:
          type: string
        description: The email address of the user to act as (when using client-secret authentication). This header attributes actions taken using the API to the given user.
      tags:
      - V2.1 Contract APIs
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchedContractDataUpdateRequest'
            examples:
              Example1:
                value:
                  data:
                    term:
                      days: 180
                      type: MONTHS
                      value: 6
                    notes: Not Applicable
                    capacity: 15
                    setup_fee:
                      type: INR
                      value: 30000.0
                    start_date: '2019-11-29'
                    yes_discounts: false
                    payment_method: '1'
                    suggestions: No suggestions
                summary: Example 1
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PatchedContractDataUpdateRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/PatchedContractDataUpdateRequest'
        required: true
      security:
      - ClientId: []
        ClientSecret: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PatchedContractDataUpdateRequest'
              examples:
                Example1:
                  value:
                    data:
                      term:
                        days: 180
                        type: MONTHS
                        value: 6
                      notes: Not Applicable
                      capacity: 15
                      setup_fee:
                        type: INR
                        value: 30000.0
                      start_date: '2019-11-29'
                      yes_discounts: false
                      payment_method: '1'
                      suggestions: No suggestions
                  summary: Example 1
          description: Updated Data
        '400':
          content:
            application/json:
              schema:
                type: object
                properties:
                  detail:
                    type: string
                    default: Contract cannot be updated because it has been executed.
                  code:
                    type: string
                    default: SD_PUBLIC_00009
          description: Contract cannot be updated in its current status
      x-tagGroup: Contracts
  /api/v2.1/public/contracts/{contract_id}/contract_relation/:
    post:
      operationId: v2.1_public_contracts_contract_relation_create
      description: 'This ''Create Contract relations'' API can be used to create a relation between two contracts,

        identifying <related_contract_id> as a <relation_type> of <contract_id>.'
      summary: Create Contract Relations
      parameters:
      - in: path
        name: contract_id
        schema:
          type: integer
        description: ID of the Contract.
        required: true
      tags:
      - V2.1 Contract APIs
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExternalContractRelationCreateRequest'
            examples:
              Example1:
                value:
                  related_contract_id: 1234
                  relation_type: CHILD
                summary: Example 1
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ExternalContractRelationCreateRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ExternalContractRelationCreateRequest'
        required: true
      security:
      - ClientId: []
        ClientSecret: []
      - OAuthBearer: []
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExternalContractRelationResponse'
              examples:
                Example1:
                  value:
                    id: 1000
                    related_contract_id: 1234
                    relation_type: CHILD
                    created: '2021-05-20T04:52:04Z'
                  summary: Example 1
          description: Success
        '400':
          content:
            application/json:
              schema:
                type: object
                properties:
                  detail:
                    type: string
                    default: Unable to set relation as it is leading to a circular dependency between the contracts.
                  code:
                    type: string
                    default: SD_CONTRACTS_00093
          description: Circular dependency between the contracts
      x-tagGroup: Contracts
  /api/v2.1/public/contracts/{contract_id}/download_docx/:
    post:
      operationId: v2.1_public_contracts_download_docx_create
      description: 'Downloads a DOCX version of the contract.

        If the current version does not have a DOCX artifact, SpotDraft returns the last available DOCX version for the contract.'
      summary: Download Docx for a Contract
      parameters:
      - in: path
        name: contract_id
        schema:
          type: integer
        description: ID of the Contract.
        required: true
      tags:
      - V2.1 Contract APIs
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PublicDownloadContractDocxRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PublicDownloadContractDocxRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/PublicDownloadContractDocxRequest'
      security:
      - ClientId: []
        ClientSecret: []
      responses:
        '200':
          content:
            application/json:
              schema:
                type: string
                format: binary
          description: DOCX copy of the Contract
      x-tagGroup: Contracts
  /api/v2.1/public/contracts/{contract_id}/process_metrics/:
    get:
      operationId: v2.1_public_contracts_process_metrics_retrieve
      description: 'Returns process-metric timestamps and workflow-state measurements tracked for the contract.

        Use this for reporting, SLA monitoring, or contract-cycle analytics.'
      summary: Get Contract Process Metric Data
      parameters:
      - in: path
        name: contract_id
        schema:
          type: integer
        description: ID of the Contract.
        required: true
      tags:
      - V2.1 Contract APIs
      security:
      - ClientId: []
        ClientSecret: []
      - OAuthBearer: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContractProcessMetricResponse'
              examples:
                Example1:
                  value:
                    contract_id: 1234
                    contract_sent_to_cp_datetime: '2019-08-24T14:15:22Z'
                    cp_added_info_initial_datetime: '2019-08-24T14:15:22Z'
                    cp_added_info_latest_datetime: '2019-08-24T14:15:22Z'
                    cp_opened_review_email_datetime: '2019-08-24T14:15:22Z'
                    contract_signed_by_signatory_list:
                    - is_creator_party: true
                      signed_datetime: '2019-08-24T14:15:22Z'
                      signatory_email: Mike_reed@yahoo.com
                    contract_turns:
                      manual_override_reason: Reason for manual override
                      last_turn_change_datetime: '2019-08-24T14:15:22Z'
                      last_turn_change_org_user_email: johndoe@example.com
                      no_of_turns: 2
                    contract_executed_datetime: '2019-08-24T14:15:22Z'
                    type_of_workflow: UPLOAD_SIGN
                    contract_status: COMPLETED
                    marked_for_signature_datetime: '2019-08-24T14:15:22Z'
                    pending_with: COUNTER_PARTY
                  summary: Example 1
          description: Success
        '404':
          content:
            application/json:
              schema:
                type: object
                properties:
                  detail:
                    type: string
                    default: Not Found
          description: Not Found
      x-tagGroup: Contracts
  /api/v2.1/public/contracts/{contract_id}/questionnaire/responses/:
    get:
      operationId: v2.1_public_contracts_questionnaire_responses_retrieve
      description: Returns the saved questionnaire answers for the contract. Use `questionnaire_type` to choose whether you want intake-form answers or template-questionnaire answers.
      summary: Get Questionnaire Response
      parameters:
      - in: path
        name: contract_id
        schema:
          type: integer
        description: ID of the Contract.
        required: true
      - in: query
        name: questionnaire_type
        schema:
          type: string
[...]
