openapi: 3.2.0
info:
  title: SpotDraft V2.1 Tasks and Reminders API
  version: v1
  x-version: v1
  x-logo:
    url: https://cdn.spotdraft.com/assets/logo-black-new.png
    backgroundColor: transparent
    altText: SpotDraft Logo
    href: https://spotdraft.com
  x-favicon: https://cdn.spotdraft.com/assets/favicon.png
  x-footer: © SpotDraft Inc. All rights reserved.
  description: '# SpotDraft Public API


    Welcome to the **SpotDraft Public API**.'
servers:
- url: https://api.eu.spotdraft.com
  description: Europe
- url: https://api.in.spotdraft.com
  description: India
- url: https://api.us.spotdraft.com
  description: United States
- url: https://api.me.spotdraft.com
  description: Middle East
tags:
- name: V2.1 Tasks and Reminders
  description: Task and reminder workflows across public API versions.
paths:
  /api/v2.1/public/contracts/{contract_id}/tasks/bulk/:
    post:
      operationId: v2.1_public_contracts_tasks_bulk_create
      description: This API can be used to bulk create user tasks
      summary: V2.1 Bulk Create User Tasks
      parameters:
      - in: path
        name: contract_id
        schema:
          type: integer
        required: true
      tags:
      - V2.1 Tasks and Reminders
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserTaskCreateRequestList'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/UserTaskCreateRequestList'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/UserTaskCreateRequestList'
      security:
      - ClientId: []
        ClientSecret: []
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserTaskPublicResponseList'
          description: V2.1 User Tasks with Reminders List
      x-tagGroup: Platform
  /api/v2.1/public/user_tasks/:
    post:
      operationId: v2.1_public_user_tasks_create
      description: 'Creates one or more user tasks in SpotDraft.


        Validation notes:

        - For non-intake tasks, exactly one of `due_date` or `due_date_key_pointer_id` should be provided.

        - Each assignee must set exactly one of `org_user_id` or `role_id`.'
      summary: V2.1 Create User Tasks List
      tags:
      - V2.1 Tasks and Reminders
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserTaskCreateRequest'
            examples:
              Example1:
                value:
                  title: test title
                  notes: test note
                  contract_id: 1
                  due_date: '2021-05-20T04:52:04Z'
                  assignees:
                  - org_user_id: 1
                  - role_id: 1
                  reminders:
                  - value: 10
                    type: DAYS
                summary: Example 1
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/UserTaskCreateRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/UserTaskCreateRequest'
        required: true
      security:
      - ClientId: []
        ClientSecret: []
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserTaskPublicResponse'
          description: V2.1 User Tasks with Reminders List
        '400':
          content:
            application/json:
              schema:
                type: object
                properties:
                  detail:
                    type: string
                    description: Error detail.
                  status_code:
                    type: integer
                    description: HTTP status code.
                  code:
                    type: string
                    description: Application error code.
                  message:
                    type: string
                    description: Human-readable message.
                required:
                - detail
                - status_code
                - code
                - message
          description: Bad Request
        '403':
          content:
            application/json:
              schema:
                type: object
                properties:
                  detail:
                    type: string
                    description: Error detail.
                  status_code:
                    type: integer
                    description: HTTP status code.
                  code:
                    type: string
                    description: Application error code.
                  message:
                    type: string
                    description: Human-readable message.
                required:
                - detail
                - status_code
                - code
                - message
          description: Forbidden
      x-tagGroup: Platform
components:
  schemas:
    UserTaskPublicResponseList:
      title: UserTaskPublicResponseList
      type: array
      items:
        title: UserTaskPublicResponse
        type: object
        properties:
          id:
            title: Id
            description: ID of the Task
            type: integer
          title:
            title: Title
            description: Title of the Task
            type: string
          notes:
            title: Notes
            description: Notes for the Task
            type: string
          contract:
            title: Contract
            description: The Details of the Contract
            type: object
            properties:
              id:
                title: Id
                type: integer
              public_id:
                title: Public Id
                type: string
              contract_name:
                title: Contract Name
                type: string
              contract_type_id:
                title: Contract Type Id
                type: integer
              contract_template_id:
                title: Contract Template Id
                type: integer
              status:
                title: Status
                type: string
              display_status:
                title: ContractDisplayStatus
                description: An enumeration.
                enum:
                - DRAFT
                - REDLINING
                - SIGN
                - EXECUTED
                - ON_HOLD
                - VOIDED
                type: string
              display_status_without_on_hold_check:
                title: ContractDisplayStatus
                description: An enumeration.
                enum:
                - DRAFT
                - REDLINING
                - SIGN
                - EXECUTED
                - ON_HOLD
                - VOIDED
                type: string
              workflow_status:
                title: ContractWorkflowStatus
                description: An enumeration.
                enum:
                - DRAFT
                - INVITE_CLIENT
                - INFO_COLLECTION
                - CONTRACT_APPROVAL
                - CONTRACT_DRAFT_APPROVAL
                - CONTRACT_APPROVAL_REJECTED
                - REVIEW
                - SIGN
                - COMPLETING
                - COMPLETED
                - TEMPLATE_PRE_SIGN_APPROVAL
                type: string
              contract_kind:
                title: ContractKind
                description: An enumeration.
                enum:
                - TEMPLATE
                - TEMPLATE_EDITABLE
                - UPLOAD_EDITABLE
                - UPLOAD_SIGN
                - UPLOAD_EXECUTED
                - EXPRESS_TEMPLATE
                - CLICKWRAP
                - HISTORICAL_CLICKWRAP
                type: string
              campaign_id:
                title: Campaign Id
                type: integer
              campaign_v3_id:
                title: Campaign V3 Id
                type: integer
              express_template_id:
                title: Express Template Id
                type: integer
              contract_data_id:
                title: Contract Data Id
                type: integer
              contract_editable_document_id:
                title: Contract Editable Document Id
                type: integer
              created:
                title: Created
                type: string
                format: date-time
              created_by_workspace_id:
                title: Created By Workspace Id
                type: integer
              editor_client:
                title: ContractEditorClient
                description: An enumeration.
                enum:
                - ONLY_OFFICE_NATIVE
                - WOPI
                - UNSET
                type: string
              execution_date:
                title: Execution Date
                type: string
                format: date-time
              frozen_template_id:
                title: Frozen Template Id
                type: integer
              workflow_id:
                title: Workflow Id
                type: string
              workflow_name:
                title: Workflow Name
                type: string
            required:
            - id
            - public_id
            - contract_name
            - contract_type_id
            - status
            - display_status
            - display_status_without_on_hold_check
            - contract_kind
            - created
            - created_by_workspace_id
            - editor_client
            - workflow_id
          created_by_org_user:
            title: Created By Org User
            type: object
            properties:
              id:
                title: Id
                type: integer
              first_name:
                title: First Name
                default: ''
                type: string
              last_name:
                title: Last Name
                default: ''
                type: string
              name:
                title: Name
                type: string
              designation:
                title: Designation
                type: string
              email:
                title: Email
                type: string
              auth_user_id:
                title: Auth User Id
                type: integer
              is_deleted:
                title: Is Deleted
                type: boolean
              is_active:
                title: Is Active
                type: boolean
              is_primary:
                title: Is Primary
                type: boolean
              organization_id:
                title: Organization Id
                type: integer
              invite_accepted:
                title: Invite Accepted
                type: boolean
              phone_number:
                title: Phone Number
                type: object
              identity_id:
                title: Identity Id
                type: string
                format: uuid
            required:
            - id
            - name
            - email
            - is_primary
            - identity_id
            description: The Details of the Org User who created the Task
          completed_by_org_user:
            title: Completed By Org User
            type: object
            properties:
              id:
                title: Id
                type: integer
              first_name:
                title: First Name
                default: ''
                type: string
              last_name:
                title: Last Name
                default: ''
                type: string
              name:
                title: Name
                type: string
              designation:
                title: Designation
                type: string
              email:
                title: Email
                type: string
              auth_user_id:
                title: Auth User Id
                type: integer
              is_deleted:
                title: Is Deleted
                type: boolean
              is_active:
                title: Is Active
                type: boolean
              is_primary:
                title: Is Primary
                type: boolean
              organization_id:
                title: Organization Id
                type: integer
              invite_accepted:
                title: Invite Accepted
                type: boolean
              phone_number:
                title: Phone Number
                type: object
              identity_id:
                title: Identity Id
                type: string
                format: uuid
            required:
            - id
            - name
            - email
            - is_primary
            - identity_id
            description: The Details of the Org User who completed the Task
          completed_at:
            title: Completed At
            description: The date and time when the Task got completed
            type: string
            format: date-time
          absolute_due_date:
            title: Absolute Due Date
            description: The date and time when the Task is due for completion
            type: string
            format: date-time
          created:
            title: Created
            description: The date and time when the task got created
            type: string
            format: date-time
          created_by_workspace:
            title: Created By Workspace
            type: object
            properties:
              id:
                title: Id
                type: integer
              owner_id:
                title: Owner Id
                type: integer
              name:
                title: Name
                type: string
              is_individual_org:
                title: Is Individual Org
                type: boolean
              show_workspace_migration:
                title: Show Workspace Migration
                type: boolean
              short_hand_notation:
                title: Short Hand Notation
                type: string
              company_email_domains:
                title: Company Email Domains
                type: array
                items:
                  type: string
              brand_name:
                title: Brand Name
                type: string
            required:
            - id
            - name
            - is_individual_org
            - show_workspace_migration
            description: The Details of the Workspace who created the Task
          assignees:
            title: Assignees
            description: The Details of Assignees for the Task
            type: array
            items:
              title: TaskAssigneeDomainModel
              type: object
              properties:
                id:
                  title: Id
                  type: integer
                user_task_id:
                  title: User Task Id
                  type: integer
                assignee_org_user:
                  title: Assignee Org User
                  type: object
                  properties:
                    id:
                      title: Id
                      type: integer
                    first_name:
                      title: First Name
                      default: ''
                      type: string
                    last_name:
                      title: Last Name
                      default: ''
                      type: string
                    name:
                      title: Name
                      type: string
                    designation:
                      title: Designation
                      type: string
                    email:
                      title: Email
                      type: string
                    auth_user_id:
                      title: Auth User Id
                      type: integer
                    is_deleted:
                      title: Is Deleted
                      type: boolean
                    is_active:
                      title: Is Active
                      type: boolean
                    is_primary:
                      title: Is Primary
                      type: boolean
                    organization_id:
                      title: Organization Id
                      type: integer
                    invite_accepted:
                      title: Invite Accepted
                      type: boolean
                    phone_number:
                      title: Phone Number
                      type: object
                    identity_id:
                      title: Identity Id
                      type: string
                      format: uuid
                  required:
                  - id
                  - name
                  - email
                  - is_primary
                  - identity_id
                  description: The Details of the Assignee Org User
                assignee_role:
                  title: Assignee Role
                  type: object
                  properties:
                    id:
                      title: Id
                      type: integer
                    name:
                      title: Name
                      type: string
                    description:
                      title: Description
                      type: string
                    created:
                      title: Created
                      type: string
                      format: date-time
                    point_of_contact:
                      title: OrganizationUserResponse
                      type: object
                      properties:
                        id:
                          title: Id
                          type: integer
                        first_name:
                          title: First Name
                          default: ''
                          type: string
                        last_name:
                          title: Last Name
                          default: ''
                          type: string
                        name:
                          title: Name
                          type: string
                        designation:
                          title: Designation
                          type: string
                        email:
                          title: Email
                          type: string
                        auth_user_id:
                          title: Auth User Id
                          type: integer
                        is_deleted:
                          title: Is Deleted
                          type: boolean
                        is_active:
                          title: Is Active
                          type: boolean
                        is_primary:
                          title: Is Primary
                          type: boolean
                        organization_id:
                          title: Organization Id
                          type: integer
                        invite_accepted:
                          title: Invite Accepted
                          type: boolean
                        phone_number:
                          title: Phone Number
                          type: object
                        identity_id:
                          title: Identity Id
                          type: string
                          format: uuid
                      required:
                      - id
                      - name
                      - email
                      - is_primary
                      - identity_id
                  required:
                  - id
                  - name
                  - description
                  - created
                  description: The Details of the Role assigned to Assignee
                last_manual_reminder_sent_at:
                  title: Last Manual Reminder Sent At
                  type: string
                  format: date-time
              required:
              - id
              - user_task_id
          status:
            title: UserTaskStatus
            description: An enumeration.
            enum:
            - COMPLETED
            - UPCOMING
            - OVERDUE
            - NO_DATE
            type: string
            default: NO_DATE
          deleted_at:
            title: Deleted At
            description: The date and time when the task got deleted
            type: string
            format: date-time
          task_category:
            title: TaskCategory
            description: The category of the task
            enum:
            - USER_TASK
            - OBLIGATION_TASK
            - INTAKE_TASK
            type: string
            default: USER_TASK
          task_associations:
            title: Task Associations
            description: List of Task Associations for the Task
            type: array
            items:
              title: TaskAssociationPublicResponse
              type: object
              properties:
                entity_id:
                  title: Entity Id
                  description: Entity id of the task association
                  type: string
                entity_type:
                  title: TaskAssociationEntityType
                  description: Entity type of the task association
                  enum:
                  - OBLIGATION
                  - LEGAL_INTAKE
                  type: string
                association_type:
                  title: TaskAssociationType
                  description: Association type of the task association
                  enum:
                  - PRIMARY
                  - SECONDARY
                  type: string
              required:
              - entity_id
              - entity_type
              - association_type
          due_date_key_pointer_id:
            title: Due Date Key Pointer Id
            description: The ID of the key pointer that has the due date for the task
            type: integer
          reminders:
            title: Reminders
            description: List of Reminders for the Task
            default: ''
            type: array
            items:
              title: ReminderDomainModel
              type: object
              properties:
                id:
                  title: Id
                  type: integer
                user_task_id:
                  title: User Task Id
                  type: integer
                relative_time:
                  title: ReminderRelativeTime
                  type: object
                  properties:
                    value:
                      title: Value
                      description: The value of the reminder relative time
                      type: integer
                    type:
                      title: DurationKind
                      description: The type of the reminder relative time
                      enum:
                      - DAYS
                      - WEEKS
                      - MONTHS
                      - YEARS
                      default: DAYS
                    days:
                      title: Days
                      description: The number of days for the reminder relative time
                      type: integer
                  required:
                  - value
                  - days
                absolute_time:
                  title: Absolute Time
                  type: string
                  format: date-time
              required:
              - id
              - user_task_id
              - relative_time
        required:
        - id
        - title
        - created_by_org_user
        - created_by_workspace
        - assignees
    UserTaskCreateRequest:
      title: UserTaskCreateRequest
      type: object
      properties:
        title:
          title: Title
          description: Title of the task
          minLength: 1
          type: string
        notes:
          title: Notes
          description: Notes for the task
          default: ''
          type: string
        contract_id:
          title: Contract Id
          description: Contract Id for the task
          type: integer
        due_date:
          title: Due Date
          description: The date and time when this task is due for completion. For non-intake tasks, exactly one of `due_date` or `due_date_key_pointer_id` is required. For intake tasks, due date fields are optional.
          type: string
          format: date-time
        due_date_key_pointer_id:
          title: Due Date Key Pointer Id
          description: The ID of the key pointer that has the due date for the task. For non-intake tasks, exactly one of `due_date` or `due_date_key_pointer_id` is required. For intake tasks, due date fields are optional.
          type: integer
        assignees:
          title: Assignees
          description: List of assignees for the task. For non-intake tasks, at least one assignee is required. Each assignee must set exactly one of `org_user_id` or `role_id`.
          type: array
          items:
            title: TaskAssigneeCreateRequest
            type: object
            properties:
              org_user_id:
                title: Org User Id
                type: integer
              role_id:
                title: Role Id
                type: integer
        reminders:
          title: Reminders
          description: List of reminders relative to the due date. Reminder values must use the supported duration object shape.
          type: array
          items:
            title: ReminderRelativeTime
            type: object
            properties:
              value:
                title: Value
                description: The value of the reminder relative time
                type: integer
              type:
                title: DurationKind
                description: The type of the reminder relative time
                enum:
                - DAYS
                - WEEKS
                - MONTHS
                - YEARS
                default: DAYS
              days:
                title: Days
                description: The number of days for the reminder relative time
                type: integer
            required:
            - value
            - days
        task_category:
          allOf:
          - $ref: '#/components/schemas/TaskCategoryEnum'
          title: TaskCategory
          description: The category of the task. `priority` and `intake_task_status` are only allowed for `INTAKE_TASK`.
        priority:
          allOf:
          - $ref: '#/components/schemas/PriorityEnum'
          title: TaskPriority
          description: Priority of the task. Only allowed for `INTAKE_TASK`; defaults to `MEDIUM` when omitted for intake tasks.
        intake_task_status:
          allOf:
          - $ref: '#/components/schemas/IntakeTaskStatusEnum'
          title: IntakeTaskStatus
          description: Status of the intake task. Only allowed for `INTAKE_TASK`; defaults to `PENDING` when omitted for intake tasks.
        task_associations:
          title: Task Associations
          description: The associations of the task
          type: array
          items:
            title: TaskAssociationCreateRequest
            type: object
            properties:
              entity_id:
                title: Entity Id
                description: The ID of the entity for the task association
                type: integer
              entity_type:
                title: TaskAssociationEntityType
                description: The type of the entity for the task association
                enum:
                - OBLIGATION
                - LEGAL_INTAKE
                type: string
              association_type:
                title: TaskAssociationType
                description: The type of the association for the task association
                enum:
                - PRIMARY
                - SECONDARY
                type: string
                default: PRIMARY
      required:
      - title
      - assignees
      examples:
      - title: test title
        notes: test note
        contract_id: 1
        due_date: '2021-05-20T04:52:04Z'
        assignees:
        - org_user_id: 1
        - role_id: 1
        reminders:
        - value: 10
          type: DAYS
    UserTaskCreateRequestList:
      title: UserTaskCreateRequestList
      description: List of tasks
      type: array
      items:
        title: UserTaskCreateRequest
        type: object
        properties:
          title:
            title: Title
            description: Title of the task
            minLength: 1
            type: string
          notes:
            title: Notes
            description: Notes for the task
            default: ''
            type: string
          contract_id:
            title: Contract Id
            description: Contract Id for the task
            type: integer
          due_date:
            title: Due Date
            description: The date and time when this task is due for completion. For non-intake tasks, exactly one of `due_date` or `due_date_key_pointer_id` is required. For intake tasks, due date fields are optional.
            type: string
            format: date-time
          due_date_key_pointer_id:
            title: Due Date Key Pointer Id
            description: The ID of the key pointer that has the due date for the task. For non-intake tasks, exactly one of `due_date` or `due_date_key_pointer_id` is required. For intake tasks, due date fields are optional.
            type: integer
          assignees:
            title: Assignees
            description: List of assignees for the task. For non-intake tasks, at least one assignee is required. Each assignee must set exactly one of `org_user_id` or `role_id`.
            type: array
            items:
              title: TaskAssigneeCreateRequest
              type: object
              properties:
                org_user_id:
                  title: Org User Id
                  type: integer
                role_id:
                  title: Role Id
                  type: integer
          reminders:
            title: Reminders
            description: List of reminders relative to the due date. Reminder values must use the supported duration object shape.
            type: array
            items:
              title: ReminderRelativeTime
              type: object
              properties:
                value:
                  title: Value
                  description: The value of the reminder relative time
                  type: integer
                type:
                  title: DurationKind
                  description: The type of the reminder relative time
                  enum:
                  - DAYS
                  - WEEKS
                  - MONTHS
                  - YEARS
                  default: DAYS
                days:
                  title: Days
                  description: The number of days for the reminder relative time
                  type: integer
              required:
              - value
              - days
          task_category:
            title: TaskCategory
            description: The category of the task. `priority` and `intake_task_status` are only allowed for `INTAKE_TASK`.
            enum:
            - USER_TASK
            - OBLIGATION_TASK
            - INTAKE_TASK
            type: string
          priority:
            title: TaskPriority
            description: Priority of the task. Only allowed for `INTAKE_TASK`; defaults to `MEDIUM` when omitted for intake tasks.
            enum:
            - LOW
            - MEDIUM
            - HIGH
            type: string
          intake_task_status:
            title: IntakeTaskStatus
            description: Status of the intake task. Only allowed for `INTAKE_TASK`; defaults to `PENDING` when omitted for intake tasks.
            enum:
            - PENDING
            - IN_PROGRESS
            - BLOCKED
            - COMPLETED
            - DISCARDED
            type: string
          task_associations:
            title: Task Associations
            description: The associations of the task
            type: array
            items:
              title: TaskAssociationCreateRequest
              type: object
              properties:
                entity_id:
                  title: Entity Id
                  description: The ID of the entity for the task association
                  type: integer
                entity_type:
                  title: TaskAssociationEntityType
                  description: The type of the entity for the task association
                  enum:
                  - OBLIGATION
                  - LEGAL_INTAKE
                  type: string
                association_type:
                  title: TaskAssociationType
                  description: The type of the association for the task association
                  enum:
                  - PRIMARY
                  - SECONDARY
                  type: string
                  default: PRIMARY
        required:
        - title
        - assignees
        examples:
        - title: test title
          notes: test note
          contract_id: 1
          due_date: '2021-05-20T04:52:04Z'
          assignees:
          - org_user_id: 1
          - role_id: 1
          reminders:
          - value: 10
            type: DAYS
    IntakeTaskStatusEnum:
      enum:
      - PENDING
      - IN_PROGRESS
      - BLOCKED
      - COMPLETED
      - DISCARDED
      type: string
    UserTaskPublicResponseStatusEnum:
      enum:
      - COMPLETED
      - UPCOMING
      - OVERDUE
      - NO_DATE
      type: string
    TaskCategoryEnum:
      enum:
      - USER_TASK
      - OBLIGATION_TASK
      - INTAKE_TASK
      type: string
    UserTaskPublicResponse:
      title: UserTaskPublicResponse
      type: object
      properties:
        id:
          title: Id
          description: ID of the Task
          type: integer
        title:
          title: Title
          description: Title of the Task
          type: string
        notes:
          title: Notes
          description: Notes for the Task
          type: string
        contract:
          title: Contract
          description: The Details of the Contract
          type: object
          properties:
            id:
              title: Id
              type: integer
            public_id:
              title: Public Id
              type: string
            contract_name:
              title: Contract Name
              type: string
            contract_type_id:
              title: Contract Type Id
              type: integer
            contract_template_id:
              title: Contract Template Id
              type: integer
            status:
              title: Status
              type: string
            display_status:
              title: ContractDisplayStatus
              description: An enumeration.
              enum:
              - DRAFT
              - REDLINING
              - SIGN
              - EXECUTED
              - ON_HOLD
              - VOIDED
              type: string
            display_status_without_on_hold_check:
              title: ContractDisplayStatus
              description: An enumeration.
              enum:
              - DRAFT
              - REDLINING
              - SIGN
              - EXECUTED
              - ON_HOLD
              - VOIDED
              type: string
            workflow_status:
              title: ContractWorkflowStatus
              description: An enumeration.
              enum:
              - DRAFT
              - INVITE_CLIENT
              - INFO_COLLECTION
              - CONTRACT_APPROVAL
              - CONTRACT_DRAFT_APPROVAL
              - CONTRACT_APPROVAL_REJECTED
              - REVIEW
              - SIGN
              - COMPLETING
              - COMPLETED
              - TEMPLATE_PRE_SIGN_APPROVAL
              type: string
            contract_kind:
              title: ContractKind
              description: An enumeration.
              enum:
              - TEMPLATE
              - TEMPLATE_EDITABLE
              - UPLOAD_EDITABLE
              - UPLOAD_SIGN
              - UPLOAD_EXECUTED
              - EXPRESS_TEMPLATE
              - CLICKWRAP
              - HISTORICAL_CLICKWRAP
              type: string
            campaign_id:
              title: Campaign Id
              type: integer
            campaign_v3_id:
              title: Campaign V3 Id
              type: integer
            express_template_id:
              title: Express Template Id
              type: integer
            contract_data_id:
              title: Contract Data Id
              type: integer
            contract_editable_document_id:
              title: Contract Editable Document Id
              type: integer
            created:
              title: Created
              type: string
              format: date-time
            created_by_workspace_id:
              title: Created By Workspace Id
              type: integer
            editor_client:
              title: ContractEditorClient
              description: An enumeration.
              enum:
              - ONLY_OFFICE_NATIVE
              - WOPI
              - UNSET
              type: string
            execution_date:
              title: Execution Date
              type: string
              format: date-time
            frozen_template_id:
              title: Frozen Template Id
              type: integer
            workflow_id:
              title: Workflow Id
              type: string
            workflow_name:
              title: Workflow Name
              type: string
          required:
          - id
          - public_id
          - contract_name
          - contract_type_id
          - status
          - display_status
          - display_status_without_on_hold_check
          - contract_kind
          - created
          - created_by_workspace_id
          - editor_client
          - workflow_id
        created_by_org_user:
          title: Created By Org User
          type: object
          properties:
            id:
              title: Id
              type: integer
            first_name:
              title: First Name
              default: ''
              type: string
            last_name:
              title: Last Name
              default: ''
              type: string
            name:
              title: Name
              type: string
            designation:
              title: Designation
              type: string
            email:
              title: Email
              type: string
            auth_user_id:
              title: Auth User Id
              type: integer
            is_deleted:
              title: Is Deleted
              type: boolean
            is_active:
              title: Is Active
              type: boolean
            is_primary:
              title: Is Primary
              type: boolean
            organization_id:
              title: Organization Id
              type: integer
            invite_accepted:
              title: Invite Accepted
              type: boolean
            phone_number:
              title: Phone Number
              type: object
            identity_id:
              title: Identity Id
              type: string
              format: uuid
          required:
          - id
          - name
          - email
          - is_primary
          - identity_id
          description: The Details of the Org User who created the Task
        completed_by_org_user:
          title: Completed By Org User
          type: object
          properties:
            id:
              title: Id
              type: integer
            first_name:
              title: First Name
              default: ''
              type: string
            last_name:
              title: Last Name
              default: ''
              type: string
            name:
              title: Name
              type: string
            designation:
              title: Designation
              type: string
            email:
              title: Email
              type: string
            auth_user_id:
              title: Auth User Id
              type: integer
            is_deleted:
              title: Is Deleted
              type: boolean
            is_active:
              title: Is Active
              type: boolean
            is_primary:
              title: Is Primary
              type: boolean
            organization_id:
              title: Organization Id
              type: integer
            invite_accepted:
              title: Invite Accepted
              type: boolean
            phone_number:
              title: Phone Number
              type: object
            identity_id:
              title: Identity Id
              type: string
              format: uuid
          required:
          - id
          - name
          - email
          - is_primary
          - identity_id
          description: The Details of the Org User who completed the Task
        completed_at:
          title: Completed At
          description: The date and time when the Task got completed
          type: string
          format: date-time
        absolute_due_date:
          title: Absolute Due Date
          description: The date and time when the Task is due for completion
          type: string
          format: date-time
        created:
          title: Created
          description: The date and time when the task got created
          type: string
          format: date-time
        created_by_workspace:
          title: Created By Workspace
          type: object
          properties:
            id:
              title: Id
              type: integer
            owner_id:
              title: Owner Id
              type: integer
            name:
              title: Name
              type: string
            is_individual_org:
              title: Is Individual Org
              type: boolean
            show_workspace_migration:
              title: Show Workspace Migration
              type: boolean
            short_hand_notation:
              title: Short Hand Notation
              type: string
            company_email_domains:
              title: Company Email Domains
              type: array
              items:
                type: string
            brand_name:
              title: Brand Name
              type: string
          required:
          - id
          - name
          - is_individual_org
          - show_workspace_migration
          description: The Details of the Workspace who created the Task
        assignees:
          title: Assignees
          description: The Details of Assignees for the Task
          type: array
          items:
            title: TaskAssigneeDomainModel
            type: object
            properties:
              id:
                title: Id
                type: integer
              user_task_id:
                title: User Task Id
                type: integer
              assignee_org_user:
                title: Assignee Org User
                type: object
                properties:
                  id:
                    title: Id
                    type: integer
                  first_name:
                    title: First Name
                    default: ''
                    type: string
                  last_name:
                    title: Last Name
                    default: ''
                    type: string
                  name:
                    title: Name
                    type: string
                  designation:
                    title: Designation
                    type: string
                  email:
                    title: Email
                    type: string
                  auth_user_id:
                    title: Auth User Id
                    type: integer
                  is_deleted:
                    title: Is Deleted
                    type: boolean
                  is_active:
                    title: Is Active
                    type: boolean
                  is_primary:
                    title: Is Primary
                    type: boolean
                  organization_id:
                    title: Organization Id
                    type: integer
                  invite_accepted:
                    title: Invite Accepted
                    type: boolean
                  phone_number:
                    title: Phone Number
                    type: object
                  identity_id:
                    title: Identity Id
                    type: string
                    format: uuid
                required:
                - id
                - name
                - email
                - is_primary
                - identity_id
                description: The Details of the Assignee Org User
              assignee_role:
                title: Assignee Role
                type: object
                properties:
                  id:
                    title: Id
                    type: integer
                  name:
                    title: Name
                    type: string
                  description:
                    title: Description
                    type: string
                  created:
                    title: Created
                    type: string
                    format: date-time
                  point_of_contact:
                    title: OrganizationUserResponse
                    type: object
                    properties:
                      id:
                        title: Id
                        type: integer
                      first_name:
                        title: First Name
                        default: ''
                        type: string
                      last_name:
                        title: Last Name
                        default: ''
                        type: string
                      name:
                        title: Name
                        type: string
                      designation:
                        title: Designation
                        type: string
                      email:
                        title: Email
                        type: string
                      auth_user_id:
                        title: Auth User Id
                        type: integer
                      is_deleted:
                        title: Is Deleted
                        type: boolean
                      is_active:
                        title: Is Active
                        type: boolean
                      is_primary:
                        title: Is Primary
                        type: boolean
                      organization_id:
                        title: Organization Id
                        type: integer
                      invite_accepted:
                        title: Invite Accepted
                        type: boolean
                      phone_number:
                        title: Phone Number
                        type: object
                      identity_id:
                        title: Identity Id
                        type: string
                        format: uuid
                    required:
                    - id
                    - name
                    - email
                    - is_primary
                    - identity_id
                required:
                - id
                - name
                - description
                - created
                description: The Details of the Role assigned to Assignee
              last_manual_reminder_sent_at:
                title: Last Manual Reminder Sent At
                type: string
                format: date-time
            required:
            - id
            - user_task_id
        status:
          allOf:
          - $ref: '#/components/schemas/UserTaskPublicResponseStatusEnum'
          title: UserTaskStatus
          description: An enumeration.
          default: NO_DATE
        deleted_at:
          title: Deleted At
          description: The date and time when the task got deleted
          type: string
          format: date-time
        task_category:
          allOf:
          - $ref: '#/components/schemas/TaskCategoryEnum'
          title: TaskCategory
          description: The category of the task
          default: USER_TASK
        task_associations:
          title: Task Associations
          description: List of Task Associations for the Task
          type: array
          items:
            title: TaskAssociationPublicResponse
            type: object
            properties:
              entity_id:
                title: Entity Id
                description: Entity id of the task association
                type: string
              entity_type:
                title: TaskAssociationEntityType
                description: Entity type of the task association
                enum:
                - OBLIGATION
                - LEGAL_INTAKE
                type: string
              association_type:
                title: TaskAssociationType
                description: Association type of the task association
                enum:
                - PRIMARY
                - SECONDARY
                type: string
            required:
            - entity_id
            - entity_type
            - association_type
        due_date_key_pointer_id:
          title: Due Date Key Pointer Id
          description: The ID of the key pointer that has the due date for the task
          type: integer
        reminders:
          title: Reminders
          description: List of Reminders for the Task
          default: ''
          type: array
          items:
            title: ReminderDomainModel
            type: object
            properties:
              id:
                title: Id
                type: integer
              user_task_id:
                title: User Task Id
                type: integer
              relative_time:
                title: ReminderRelativeTime
                type: object
                properties:
                  value:
                    title: Value
                    description: The value of the reminder relative time
                    type: integer
                  type:
                    title: DurationKind
                    description: The type of the reminder relative time
                    enum:
                    - DAYS
                    - WEEKS
                    - MONTHS
                    - YEARS
                    default: DAYS
                  days:
                    title: Days
                    description: The number of days for the reminder relative time
                    type: integer
                required:
                - value
                - days
              absolute_time:
                title: Absolute Time
                type: string
                format: date-time
            required:
            - id
            - user_task_id
            - relative_time
      required:
      - id
      - title
      - created_by_org_user
      - created_by_workspace
      - assignees
    PriorityEnum:
      enum:
      - LOW
      - MEDIUM
      - HIGH
      type: string
  securitySchemes:
    ClickwrapId:
      type: apiKey
      in: header
      name: clickwrap-id
      description: Public clickwrap identifier header.
    ClientId:
      type: apiKey
      name: client-id
      in: header
    ClientSecret:
      type: apiKey
      name: client-secret
      in: header
    NativeIntegrationBasic:
      type: http
      scheme: basic
      description: HTTP Basic auth for supported native integrations. Send base64(client_id:client_secret) in the Authorization header.
    OAuthBearer:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 bearer token for workspace user access.
    Origin:
      type: apiKey
      in: header
      name: Origin
      description: Browser origin header used for clickwrap domain validation.
x-logo:
  url: https://cdn.spotdraft.com/assets/logo-black-new.png
  backgroundColor: transparent
  altText: SpotDraft Logo
  href: https://spotdraft.com
x-tagGroups:
- name: Contracts
  tags:
  - V2.1 Contract APIs
  - V2 Contract APIs
  - V1 Contract APIs
  - V2.1 Contract Approvals
  - V2 Contract Approvals
  - V2.1 Contract Activity
  - V2 Contract Activity
  - V2.1 Contract Invitations
  - V2 Contract Invitations
  - V2.1 Contract Metadata Values
  - V2 Contract Metadata Values
  - V2.1 Contract External Metadata
  - V2.1 Contract Notes
  - V2 Contract Notes
  - V2.1 Contract Obligations
  - V2.1 Contract Facets
  - V2.1 Contract Versions
  - V2 Contract Versions
  - V2.1 Recipients
  - V2 Recipients
- name: Clickwrap
  tags:
  - V2.1 Clickwrap
- name: Legal Intake
  tags:
  - V1 Legal Intake
- name: Workflow
  tags:
  - V2.1 Contract Metadata Definitions
  - V2 Contract Metadata Definitions
  - V2.1 Contract Types
  - V2 Contract Types
  - V2.1 Templates
  - V2 Templates
  - V1 Templates
- name: Platform
  tags:
  - V2.1 Users
  - V2 Users
  - V1 Users
  - V2.1 Counterparties
  - V2 Counterparties
  - V2.1 Organizations
  - V2 Organizations
  - V1 Obligation Types
  - V1 Native Integrations
  - V2.1 Workspace Files
  - V2.1 Tasks and Reminders
  - V2 Tasks and Reminders
  - V2.1 Webhooks
  - V1 Webhooks
  - V1 Emails
  - V2.1 Analytics Query
  - V2.1 Workspaces
  - V2.1 Workspace Tags
- name: Sidebar
  tags:
  - V2.1 Sidebar
