openapi: 3.2.0
info:
  title: SpotDraft V2 Contract APIs API
  version: v1
  x-version: v1
  x-logo:
    url: https://cdn.spotdraft.com/assets/logo-black-new.png
    backgroundColor: transparent
    altText: SpotDraft Logo
    href: https://spotdraft.com
  x-favicon: https://cdn.spotdraft.com/assets/favicon.png
  x-footer: © SpotDraft Inc. All rights reserved.
  description: '# SpotDraft Public API


    Welcome to the **SpotDraft Public API**.'
servers:
- url: https://api.eu.spotdraft.com
  description: Europe
- url: https://api.in.spotdraft.com
  description: India
- url: https://api.us.spotdraft.com
  description: United States
- url: https://api.me.spotdraft.com
  description: Middle East
tags:
- name: V2 Contract APIs
  description: Contract creation, retrieval, updates, previews, downloads, uploads, and lifecycle actions across public API versions.
paths:
  /api/v2/public/contracts/:
    get:
      operationId: v2_public_contracts_retrieve
      description: 'Returns contracts visible to the current workspace.


        Use pagination, filter, and sort parameters to narrow the result set. Where supported by the version, contract metadata filters are also available.'
      summary: List Contracts
      parameters:
      - in: query
        name: filter__client_email_address
        schema:
          type: string
        description: Filters on the counter party email. Does an exact match.
      - in: query
        name: filter__client_name
        schema:
          type: string
        description: Filters on the counter party name. Does an exact match.
      - in: query
        name: limit
        schema:
          type: integer
          default: 10
        description: The number of items to return per page.
      - in: query
        name: page
        schema:
          type: integer
          default: 1
        description: The page to return. Page numbers start at 1.
      tags:
      - V2 Contract APIs
      security:
      - ClientId: []
        ClientSecret: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContractListResponseV2'
              examples:
                Example:
                  value:
                    total_results: 2
                    page: 1
                    limit: 10
                    results:
                    - id: T-34211
                      created: '2021-05-20T04:52:04Z'
                      created_by: Acme
                      contract_link: https://app.spotdraft.com/contracts/v2/1234
                      contract_status: REDLINING
                      contract_name: Standard NDA
                      counter_party_name: Microsoft
                      contract_type_name: Standard NDA
                      contract_type_id: 100
                      reference_id: SD-1234
                      created_by_user_name: Elena Kagan
                      created_by_user_email: elena@acme.com
                      created_by_workspace: 1
                    - id: H-2342
                      created: '2021-05-10T04:42:00Z'
                      created_by: Apple
                      contract_link: https://app.spotdraft.com/contracts/v2/4322
                      contract_status: EXECUTED
                      contract_name: Standard NDA - With Apple
                      counter_party_name: Apple Inc.
                      contract_type_name: Standard NDA
                      contract_type_id: 100
                      reference_id: SD-4322
                      created_by_user_name: Sonia Sotomayor
                      created_by_user_email: sonia@apple.com
                      created_by_workspace: 1
          description: Contract List
      x-tagGroup: Contracts
    post:
      operationId: v2_public_contracts_create
      description: 'Creates a new contract from a SpotDraft template and returns the created contract.


        Provide the template id, contract data, and counterparty details needed to render the agreement. Use this endpoint when you want SpotDraft to generate the contract from structured data.


        Creates a new contract from a SpotDraft template and returns the created contract.


        Provide contract data, counterparty details, and any required signatories for the workflow.


        In signatories list, sign_order should be set for either all items or no items of the list. Additionally when

        sign_order is set for all items of signatories list then at-least one counter party signatory user should also be part

        of the list.


        The `contract_data` object must use **template field names as keys**. Each value should match the data type configured for that field in SpotDraft.


        | Field type | Expected value | Example |

        | ---------- | -------------- | ------- |

        | String / text | String | `"Acme Inc."` |

        | Multi-line text | String with line breaks if needed | `"Not applicable\nCustomer redlines pending"` |

        | Number | Integer or decimal | `15` or `3.14` |

        | Boolean / checkbox | Boolean | `true` |

        | Date | `YYYY-MM-DD` | `"2026-03-28"` |

        | Datetime | ISO 8601 timestamp | `"2026-09-15T10:30:00Z"` |

        | Dropdown | Selected option value | `"annual_invoice"` |

        | Multi-select | Array of selected option values | `["US", "IN"]` |

        | Currency | `{ "type": "", "value": number }` | `{ "type": "USD", "value": 12000 }` |

        | Duration | `{ "days": int, "type": "DAYS\|MONTHS\|YEARS", "value": int }` | `{ "days": 180, "type": "MONTHS", "value": 6 }` |

        | Address | Object with address fields | `{ "line_one": "350 Fifth Avenue", "city": "New York", "country": "United States" }` |

        | Repeating group | Array of row objects | `[{"milestone": "Implementation", "amount": {"type": "USD", "value": 5000}}]` |

        | File / attachment | File object or uploaded file reference supported by the workflow | `{ "file_name": "security-schedule.pdf", "content_type": "application/pdf" }` |


        Sample contract data:


        ```json

        {

        "agreement_date": "2026-03-28",

        "renewal_review_at": "2026-09-15T10:30:00Z",

        "customer_name": "Acme Inc.",

        "billing_currency": {"type": "USD", "value": 12000},

        "subscription_term": {"type": "MONTHS", "value": 12, "days": 365},

        "auto_renewal": true,

        "notice_period_days": 30,

        "service_countries": ["US", "IN"],

        "billing_address": {

        "line_one": "350 Fifth Avenue",

        "city": "New York",

        "state": "NY",

        "country": "United States",

        "zipcode": "10118"

        },

        "pricing_schedule": [

        {"milestone": "Implementation", "amount": {"type": "USD", "value": 5000}},

        {"milestone": "Annual subscription", "amount": {"type": "USD", "value": 7000}}

        ],

        "msa_attachment": {"file_name": "security-schedule.pdf", "content_type": "application/pdf"}

        }

        ```'
      summary: Create Contract
      parameters:
      - in: header
        name: user-email
        schema:
          type: string
        description: The email address of the user to act as (when using client-secret authentication). This header attributes actions taken using the API to the given user.
      tags:
      - V2 Contract APIs
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExternalCreateContract'
            examples:
              CreateContractRequest:
                value:
                  contract_template_id: 1204
                  contract_data:
                    agreement_date: '2026-03-28'
                    renewal_review_at: '2026-09-15T10:30:00Z'
                    customer_name: Acme Inc.
                    billing_currency:
                      type: USD
                      value: 12000
                    subscription_term:
                      type: MONTHS
                      value: 12
                      days: 365
                    auto_renewal: true
                    notice_period_days: 30
                    service_countries:
                    - US
                    - IN
                    billing_address:
                      line_one: 350 Fifth Avenue
                      city: New York
                      state: NY
                      country: United States
                      zipcode: '10118'
                    pricing_schedule:
                    - milestone: Implementation
                      amount:
                        type: USD
                        value: 5000
                    - milestone: Annual subscription
                      amount:
                        type: USD
                        value: 7000
                    msa_attachment:
                      file_name: security-schedule.pdf
                      content_type: application/pdf
                  counter_party_details:
                  - is_individual: false
                    organization_type: company
                    organization_name: Acme Inc.
                    poc_details:
                      first_name: Avery
                      last_name: Stone
                      email: legal@acme.example
                    organization_details:
                      jurisdiction: Delaware
                      address:
                        line_one: 350 Fifth Avenue
                        city: New York
                        state: NY
                        country: United States
                        zipcode: '10118'
                  external_metadata:
                    id: hubspot-deal-10024
                    integration_name: HubSpot
                    record_type: Deal
                    record_data:
                      deal_stage: contractsent
                      owner_email: owner@acme.example
                  contract_name: Acme Master Services Agreement
                summary: Create contract request
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ExternalCreateContract'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ExternalCreateContract'
        required: true
      security:
      - ClientId: []
        ClientSecret: []
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExternalCreateContractResponse'
          description: ''
      x-tagGroup: Contracts
  /api/v2/public/contracts/by_external_metadata/{external_metadata_id}:
    get:
      operationId: v2_public_contracts_by_external_metadata_retrieve
      description: 'Returns up to 50 contracts linked to the supplied external metadata id.


        Use this when you have an external system record id and need to find the related SpotDraft contracts.'
      summary: List Contracts by External Metadata ID
      parameters:
      - in: path
        name: external_metadata_id
        schema:
          type: string
        description: External Metadata ID of the Contract. This can be used to search for contracts based on an ID specified when creating the contract using the external API.
        required: true
      tags:
      - V2 Contract APIs
      security:
      - ClientId: []
        ClientSecret: []
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ExternalContractV3'
              examples:
                Example:
                  value:
                  - - id: T-34211
                      created: '2021-05-20T04:52:04Z'
                      created_by: Acme
                      contract_link: https://app.spotdraft.com/contracts/v2/1234
                      contract_status: REDLINING
                      contract_name: Standard NDA
                      counter_party_name: Microsoft
                      contract_type_name: Standard NDA
                      contract_type_id: 100
                      reference_id: SD-1234
                      created_by_user_name: Elena Kagan
                      created_by_user_email: elena@acme.com
                      created_by_workspace: 1
                    - id: H-2342
                      created: '2021-05-10T04:42:00Z'
                      created_by: Apple
                      contract_link: https://app.spotdraft.com/contracts/v2/4322
                      contract_status: EXECUTED
                      contract_name: Standard NDA - With Apple
                      counter_party_name: Apple Inc.
                      contract_type_name: Standard NDA
                      contract_type_id: 100
                      reference_id: SD-4322
                      created_by_user_name: Sonia Sotomayor
                      created_by_user_email: sonia@apple.com
                      created_by_workspace: 1
          description: Contract List
      x-tagGroup: Contracts
  /api/v2/public/contracts/embedded/contracts/{contract_id}/counter_party/:
    get:
      operationId: v2_public_contracts_embedded_contracts_counter_party_retrieve
      description: 'Returns a short-lived embedded signing URL for the specified counterparty email on the contract.

        Use this to render the counterparty signing experience inside your own product.'
      summary: Get Counterparty Embedded URL
      parameters:
      - in: path
        name: contract_id
        schema:
          type: string
          pattern: ^[0-9]+$
        required: true
      - in: query
        name: cp_email_id
        schema:
          type: string
        description: Email address of the CP for which the url needs to be returned.
      tags:
      - V2 Contract APIs
      security:
      - ClientId: []
        ClientSecret: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CounterPartyEmbeddedUrlResponse'
          description: Success
      x-tagGroup: Contracts
  /api/v2/public/contracts/preview/:
    post:
      operationId: v2_public_contracts_preview_create
      description: 'Generates a preview PDF using the supplied contract data without creating or updating a contract.


        Use this to validate how template variables render before you create the actual contract.


        The `contract_data` object must use **template field names as keys**. Each value should match the data type configured for that field in SpotDraft.


        | Field type | Expected value | Example |

        | ---------- | -------------- | ------- |

        | String / text | String | `"Acme Inc."` |

        | Multi-line text | String with line breaks if needed | `"Not applicable\nCustomer redlines pending"` |

        | Number | Integer or decimal | `15` or `3.14` |

        | Boolean / checkbox | Boolean | `true` |

        | Date | `YYYY-MM-DD` | `"2026-03-28"` |

        | Datetime | ISO 8601 timestamp | `"2026-09-15T10:30:00Z"` |

        | Dropdown | Selected option value | `"annual_invoice"` |

        | Multi-select | Array of selected option values | `["US", "IN"]` |

        | Currency | `{ "type": "", "value": number }` | `{ "type": "USD", "value": 12000 }` |

        | Duration | `{ "days": int, "type": "DAYS\|MONTHS\|YEARS", "value": int }` | `{ "days": 180, "type": "MONTHS", "value": 6 }` |

        | Address | Object with address fields | `{ "line_one": "350 Fifth Avenue", "city": "New York", "country": "United States" }` |

        | Repeating group | Array of row objects | `[{"milestone": "Implementation", "amount": {"type": "USD", "value": 5000}}]` |

        | File / attachment | File object or uploaded file reference supported by the workflow | `{ "file_name": "security-schedule.pdf", "content_type": "application/pdf" }` |


        Sample contract data:


        ```json

        {

        "agreement_date": "2026-03-28",

        "renewal_review_at": "2026-09-15T10:30:00Z",

        "customer_name": "Acme Inc.",

        "billing_currency": {"type": "USD", "value": 12000},

        "subscription_term": {"type": "MONTHS", "value": 12, "days": 365},

        "auto_renewal": true,

        "notice_period_days": 30,

        "service_countries": ["US", "IN"],

        "billing_address": {

        "line_one": "350 Fifth Avenue",

        "city": "New York",

        "state": "NY",

        "country": "United States",

        "zipcode": "10118"

        },

        "pricing_schedule": [

        {"milestone": "Implementation", "amount": {"type": "USD", "value": 5000}},

        {"milestone": "Annual subscription", "amount": {"type": "USD", "value": 7000}}

        ],

        "msa_attachment": {"file_name": "security-schedule.pdf", "content_type": "application/pdf"}

        }

        ```'
      summary: Generate Contract Preview
      tags:
      - V2 Contract APIs
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenerateContractPreviewRequest'
            examples:
              PreviewRequest:
                value:
                  contract_template_id: 1204
                  contract_data:
                    agreement_date: '2026-03-28'
                    customer_name: Acme Inc.
                    subscription_term:
                      type: MONTHS
                      value: 12
                      days: 365
                    billing_currency:
                      type: USD
                      value: 12000
                  counter_party_details:
                  - name: Acme Inc.
                    email: legal@acme.example
                summary: Preview request
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/GenerateContractPreviewRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/GenerateContractPreviewRequest'
        required: true
      security:
      - ClientId: []
        ClientSecret: []
      responses:
        '200':
          content:
            application/json:
              schema:
                type: string
                format: binary
          description: Preview PDF File
      x-tagGroup: Contracts
  /api/v2/public/contracts/upload_review_contracts/:
    post:
      operationId: v2_public_contracts_upload_review_contracts_create
      description: 'This API endpoint supports uploading Third-Party Paper (TPP) contracts and optionally allows for a review request.


        `contract_type_id` must be linked to a published Third-Party Paper upload workflow.

        If this linkage is missing, the API can fail with `SD_CONTRACTS_00289`.


        It accepts intake form data.


        The Intake Form Data should have the following data types with the following output:


        Type

        Data Format

        Sample


        Duration


        {"days": int, "type": DurationKind, "value": int}


        `DurationKind`: `DAYS` or `MONTHS` or `YEARS`


        {"days": 180, "type": "MONTHS", "value": 6}


        Date


        String formatted date in form YYYY-MM-dd


        "2019-11-29"


        Dropdown


        Value as returned in options. Can be string or number.


        "1"


        String


        A string value.


        "Something"


        Currency


        {"type": CurrencyCode, "value": float}


        Where currencyCode: "INR", "USD", "SGD", "EUR"


        {"type": "INR", "value": 15000.00}


        Check-box


        A boolean value


        true


        text-box


        A string value. Can be multi-line


        "Not Applicable\nBecause..."


        number


        A numeric value. Can be int or float


        4 or 3.14


        ### Sample Intake Form Data:

        ```

        {

        "term": {"days": 180, "type": "MONTHS", "value": 6},

        "notes": "Not Applicable",

        "capacity": 15,

        "setup_fee": {"type": "INR", "value": 30000.00},

        "start_date": "2019-11-29",

        "yes_discounts": false,

        "payment_method": "1",

        "suggestions": "No suggestions"

        }

        ```'
      summary: Upload Contract for Review
      tags:
      - V2 Contract APIs
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContractUploadForReviewRequest'
            examples:
              UploadForReviewRequest:
                value:
                  contract_name: Acme Vendor Paper
                  contract_type_id: 1
                  file_name: vendor-paper.pdf
                  file_base64: base64 encoded string of the PDF file
                  creator_organization_entity_id: 1
                  counterparty_organization_name: Acme Corporation
                  counterparty_is_individual: false
                  counterparty_poc_details:
                    first_name: Avery
                    last_name: Stone
                    email: legal@acme.example
                  reviewer:
                    org_user_email: reviewer@spotdraft.example
                    description: Please review the indemnity clause and payment terms.
                  intake_form_data:
                    term:
                      days: 180
                      type: MONTHS
                      value: 6
                    notes: Customer requested revised indemnity clause.
                    capacity: 15
                    setup_fee:
                      type: USD
                      value: 30000.0
                    start_date: '2026-04-01'
                    payment_method: annual_invoice
                summary: Upload for review request
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ContractUploadForReviewRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ContractUploadForReviewRequest'
        required: true
      security:
      - ClientId: []
        ClientSecret: []
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContractResponseV2'
              examples:
                Example1:
                  value:
                    id: T-1234
                    created: '2021-05-20T04:52:04Z'
                    contract_name: Acme Corporation NDA
                    contract_link: https://app.spotdraft.com/contracts/v2/4322
                    contract_status: EXECUTED
                    created_by: Morgan Freeman
                    counter_party_name: Mike Reed
                    contract_type_name: Historic
                    contract_type_id: 103
                    external_metadata: {}
                    created_by_user_name: Elena Kagan
                    created_by_user_email: elena@acme.com
                    created_by_workspace: 1
                  summary: Example 1
          description: Success
      x-tagGroup: Contracts
  /api/v2/public/contracts/upload_sign_contracts/:
    post:
      operationId: v2_public_contracts_upload_sign_contracts_create
      description: 'This API can be used to create a new Third-Party Paper (TPP) contract for signing.

        Use this API when you want to upload a new contract and send it for signing.


        `contract_type_id` must be linked to a published Third-Party Paper upload workflow.

        If this linkage is missing, the API can fail with `SD_CONTRACTS_00289`.


        It accepts intake form data.


        The Intake Form Data should have the following data types with the following output:


        Type

        Data Format

        Sample


        Duration


        {"days": int, "type": DurationKind, "value": int}


        `DurationKind`: `DAYS` or `MONTHS` or `YEARS`


        {"days": 180, "type": "MONTHS", "value": 6}


        Date


        String formatted date in form YYYY-MM-dd


        "2019-11-29"


        Dropdown


        Value as returned in options. Can be string or number.


        "1"


        String


        A string value.


        "Something"


        Currency


        {"type": CurrencyCode, "value": float}


        Where currencyCode: "INR", "USD", "SGD", "EUR"


        {"type": "INR", "value": 15000.00}


        Check-box


        A boolean value


        true


        text-box


        A string value. Can be multi-line


        "Not Applicable\nBecause..."


        number


        A numeric value. Can be int or float


        4 or 3.14


        ### Sample Intake Form Data:

        ```

        {

        "term": {"days": 180, "type": "MONTHS", "value": 6},

        "notes": "Not Applicable",

        "capacity": 15,

        "setup_fee": {"type": "INR", "value": 30000.00},

        "start_date": "2019-11-29",

        "yes_discounts": false,

        "payment_method": "1",

        "suggestions": "No suggestions"

        }

        ```'
      summary: Upload Contract for Signature
      tags:
      - V2 Contract APIs
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContractUploadForSignatureRequest'
            examples:
              UploadForSignatureRequest:
                value:
                  contract_name: Acme Corporation NDA
                  contract_type_id: 1
                  file_name: Acme_nda.pdf
                  file_base64: base64 encoded string of the PDF file
                  creator_organization_entity_id: 1
                  counterparty_organization_name: Acme Corporation
                  external_metadata:
                    id: hubspot-deal-10024
                    integration_name: HubSpot
                    record_type: Deal
                    record_data:
                      deal_stage: contractsent
                      owner_email: owner@acme.example
                  counterparty_is_individual: false
                  counterparty_poc_details:
                    first_name: Avery
                    last_name: Stone
                    email: legal@acme.example
                  intake_form_data:
                    term:
                      days: 180
                      type: MONTHS
                      value: 6
                    notes: Customer requested revised indemnity clause.
                    capacity: 15
                    setup_fee:
                      type: USD
                      value: 30000.0
                    start_date: '2026-04-01'
                    payment_method: annual_invoice
                  business_user_email: owner@spotdraft.example
                summary: Upload for signature request
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ContractUploadForSignatureRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ContractUploadForSignatureRequest'
        required: true
      security:
      - ClientId: []
        ClientSecret: []
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContractResponseV2'
              examples:
                Example1:
                  value:
                    id: T-1234
                    created: '2021-05-20T04:52:04Z'
                    contract_name: Acme Corporation NDA
                    contract_link: https://app.spotdraft.com/contracts/v2/4322
                    contract_status: EXECUTED
                    created_by: Morgan Freeman
                    counter_party_name: Mike Reed
                    contract_type_name: Historic
                    contract_type_id: 103
                    external_metadata: {}
                    created_by_user_name: Elena Kagan
                    created_by_user_email: elena@acme.com
                    created_by_workspace: 1
                  summary: Example 1
          description: Success
      x-tagGroup: Contracts
  /api/v2/public/contracts/webhooks/re_trigger_latest/:
    post:
      operationId: v2_public_contracts_webhooks_re_trigger_latest_create
      description: Re-trigger the last webhook call made for all given contracts.
      summary: Re-trigger Contract Webhooks
      tags:
      - V2 Contract APIs
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RetriggerLatestWebhooksRequest'
            examples:
              Example1:
                value:
                  contract_ids:
                  - 1
                  - 2
                  - 3
                summary: Example 1
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/RetriggerLatestWebhooksRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/RetriggerLatestWebhooksRequest'
        required: true
      security:
      - ClientId: []
        ClientSecret: []
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    default: Success
          description: Success
        '404':
          content:
            application/json:
              schema:
                type: object
                properties:
                  detail:
                    type: string
                    default: Not Found
          description: Not Found
      x-tagGroup: Contracts
  /api/v2/public/contracts/{composite_id}/download:
    post:
      operationId: v2_public_contracts_download_create
      description: 'Generates and returns the latest downloadable copy of the contract.


        Use this when you need the contract file itself rather than a temporary download URL.'
      summary: Download Contract File
      parameters:
      - in: path
        name: composite_id
        schema:
          type: string
        description: ID of the Contract. Should be of the form T-123 or H-123. T stands for Template contracts and H stands for Historical contracts.
        required: true
      tags:
      - V2 Contract APIs
      security:
      - ClientId: []
        ClientSecret: []
      responses:
        '200':
          content:
            application/json:
              schema:
                type: string
                format: binary
          description: PDF copy of the Contract
      x-tagGroup: Contracts
  /api/v2/public/contracts/{composite_id}/download_link:
    post:
      operationId: v2_public_contracts_download_link_create
      description: 'Returns a temporary download URL for the contract file.


        Optionally provide a `format` in the request body (`PDF`, `DOCX`, or `DOCX_WITH_FALLBACK_TO_PDF`). If omitted, the response defaults to `PDF`.'
      summary: Create Contract Download Link
      parameters:
      - in: path
        name: composite_id
        schema:
          type: string
          pattern: ^[HT\-0-9]+$
        required: true
      - in: path
        name: contract_id
        schema:
          type: string
        description: ID of the Contract. Should be of the form T-123 or H-123. T stands for Template contracts and H stands for Historical contracts.
        required: true
      tags:
      - V2 Contract APIs
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DownloadLinkRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/DownloadLinkRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/DownloadLinkRequest'
      security:
      - ClientId: []
        ClientSecret: []
      - OAuthBearer: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DownloadUrl'
              examples:
                Example:
                  value:
                    url: https://storage.googleapis.com/some/path?signature=ASDASD
                    file_name: Standard NDA a3b2.pdf
                    current_version_id: 1
          description: Download Link
      x-tagGroup: Contracts
  /api/v2/public/contracts/{composite_id}/intake_form/response:
    patch:
      operationId: v2_public_contracts_intake_form_response_partial_update
      description: 'Update intake-form data for the uploaded contract.

        For information about construction of payload, refer to `Sample Intake Form Data` in this section.

        Get the Intake form questionnaire details using the Get Intake Form Questionnaire API.


        The request is merged as a partial update into the latest intake-form response.

        Unknown keys are currently accepted, so clients should send only questionnaire field names.'
      summary: Edit Intake Form Response
      parameters:
      - in: path
        name: composite_id
        schema:
          type: string
        description: ID of the Contract. Should be of the form T-123 or H-123. T stands for Template contracts and H stands for Historical contracts.
        required: true
      tags:
      - V2 Contract APIs
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchedIntakeFormData'
            examples:
              Example1:
                value:
                  term:
                    days: 180
                    type: MONTHS
                    value: 6
                  notes: Customer requested revised indemnity clause.
                  capacity: 15
                  setup_fee:
                    type: USD
                    value: 30000.0
                  start_date: '2026-04-01'
                  payment_method: annual_invoice
                summary: Example 1
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PatchedIntakeFormData'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/PatchedIntakeFormData'
      security:
      - ClientId: []
        ClientSecret: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExternalQuestionnaireResponseDomainModel'
              examples:
                Example1:
                  value:
                    data:
                      name: Admin
                      is_individual: false
                    created: '2009-08-06T00:00:00Z'
                  summary: Example 1
          description: Intake form response details
      x-tagGroup: Contracts
  /api/v2/public/contracts/{composite_id}/send_to_counterparties:
    post:
      operationId: v2_public_contracts_send_to_counterparties_create
      description: 'Sends the contract to counterparties for their next action in the workflow.


        Use this after preparing the contract when you want SpotDraft to trigger the external recipient flow.'
      summary: Send Contract to Counterparties
      parameters:
      - in: path
        name: composite_id
        schema:
          type: string
          pattern: ^[HT\-0-9]+$
        required: true
      - in: path
        name: contract_id
        schema:
          type: string
        description: ID of the Contract. Should be of the form T-123 or H-123. T stands for Template contracts and H stands for Historical contracts.
        required: true
      tags:
      - V2 Contract APIs
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SendToCounterparty'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/SendToCounterparty'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/SendToCounterparty'
        required: true
      security:
      - ClientId: []
        ClientSecret: []
      responses:
        '200':
          description: Contract sent to counterparties.
      x-tagGroup: Contracts
  /api/v2/public/contracts/{composite_id}/status:
    get:
      operationId: v2_public_contracts_status_retrieve
      description: 'Returns the display **status** and **contract name** for the requested contract.


        When the `Enforce-User-Scoping` header is `true`, only contracts the specified user may access (based on their permissions) are returned.'
      summary: Get Contract Status
      parameters:
      - in: path
        name: composite_id
        schema:
          type: string
          pattern: ^[HT\-0-9]+$
        required: true
      - in: path
        name: contract_id
        schema:
          type: string
        description: ID of the Contract. Should be of the form T-123 or H-123. T stands for Template contracts and H stands for Historical contracts.
        required: true
      tags:
      - V2 Contract APIs
      security:
      - ClientId: []
        ClientSecret: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExternalContractStatus'
              examples:
                Example:
                  value:
                    contract_status: EXECUTED
                    contract_name: Service Agreement - Acme Corp
          description: Contract Status
      x-tagGroup: Contracts
  /api/v2/public/contracts/{contract_id}/contract_data:
    patch:
      operationId: v2_public_contracts_contract_data_partial_update
      description: 'Updates the structured contract data used to populate the contract template.


        Use this to refresh template field values before the contract is finalized. Historic contracts are not supported for this endpoint.


        The `contract_data` object must use **template field names as keys**. Each value should match the data type configured for that field in SpotDraft.


        | Field type | Expected value | Example |

        | ---------- | -------------- | ------- |

        | String / text | String | `"Acme Inc."` |

        | Multi-line text | String with line breaks if needed | `"Not applicable\nCustomer redlines pending"` |

        | Number | Integer or decimal | `15` or `3.14` |

        | Boolean / checkbox | Boolean | `true` |

        | Date | `YYYY-MM-DD` | `"2026-03-28"` |

        | Datetime | ISO 8601 timestamp | `"2026-09-15T10:30:00Z"` |

        | Dropdown | Selected option value | `"annual_invoice"` |

        | Multi-select | Array of selected option values | `["US", "IN"]` |

        | Currency | `{ "type": "", "value": number }` | `{ "type": "USD", "value": 12000 }` |

        | Duration | `{ "days": int, "type": "DAYS\|MONTHS\|YEARS", "value": int }` | `{ "days": 180, "type": "MONTHS", "value": 6 }` |

        | Address | Object with address fields | `{ "line_one": "350 Fifth Avenue", "city": "New York", "country": "United States" }` |

        | Repeating group | Array of row objects | `[{"milestone": "Implementation", "amount": {"type": "USD", "value": 5000}}]` |

        | File / attachment | File object or uploaded file reference supported by the workflow | `{ "file_name": "security-schedule.pdf", "content_type": "application/pdf" }` |


        Sample contract data:


        ```json

        {

        "agreement_date": "2026-03-28",

        "renewal_review_at": "2026-09-15T10:30:00Z",

        "customer_name": "Acme Inc.",

        "billing_currency": {"type": "USD", "value": 12000},

        "subscription_term": {"type": "MONTHS", "value": 12, "days": 365},

        "auto_renewal": true,

        "notice_period_days": 30,

        "service_countries": ["US", "IN"],

        "billing_address": {

        "line_one": "350 Fifth Avenue",

        "city": "New York",

        "state": "NY",

        "country": "United States",

        "zipcode": "10118"

        },

        "pricing_schedule": [

        {"milestone": "Implementation", "amount": {"type": "USD", "value": 5000}},

        {"milestone": "Annual subscription", "amount": {"type": "USD", "value": 7000}}

        ],

        "msa_attachment": {"file_name": "security-schedule.pdf", "content_type": "application/pdf"}

        }

        ```'
      summary: Update Contract Data
      parameters:
      - in: path
        name: contract_id
        schema:
          type: string
        description: ID of the Contract. Should be of the form T-123 or H-123. T stands for Template contracts and H stands for Historical contracts.
        required: true
      - in: header
        name: user-email
        schema:
          type: string
        description: The email address of the user to act as (when using client-secret authentication). This header attributes actions taken using the API to the given user.
      tags:
      - V2 Contract APIs
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchedContractDataUpdateRequest'
            examples:
              Example1:
                value:
                  data:
                    term:
                      days: 180
                      type: MONTHS
                      value: 6
                    notes: Not Applicable
                    capacity: 15
                    setup_fee:
                      type: INR
                      value: 30000.0
                    start_date: '2019-11-29'
                    yes_discounts: false
                    payment_method: '1'
                    suggestions: No suggestions
                summary: Example 1
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PatchedContractDataUpdateRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/PatchedContractDataUpdateRequest'
        required: true
      security:
      - ClientId: []
        ClientSecret: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PatchedContractDataUpdateRequest'
              examples:
                Example1:
                  value:
                    data:
                      term:
                        days: 180
                        type: MONTHS
                        value: 6
                      notes: Not Applicable
                      capacity: 15
                      setup_fee:
                        type: INR
                        value: 30000.0
                      start_date: '2019-11-29'
                      yes_discounts: false
                      payment_method: '1'
                      suggestions: No suggestions
                  summary: Example 1
          description: Updated Data
        '400':
          content:
            application/json:
              schema:
                type: object
                properties:
                  detail:
                    type: string
                    default: Contract cannot be updated because it has been executed.
                  code:
                    type: string
                    default: SD_PUBLIC_00009
          description: Contract cannot be updated in its current status
      x-tagGroup: Contracts
  /api/v2/public/contracts/{contract_id}/download_docx/:
    post:
      operationId: v2_public_contracts_download_docx_create
      description: 'Downloads a DOCX version of the contract.

        If the current version does not have a DOCX artifact, SpotDraft returns the last available DOCX version for the contract.'
      summary: Download Docx for a Contract
      parameters:
      - in: path
        name: contract_id
        schema:
          type: integer
        description: ID of the Contract.
        required: true
      tags:
      - V2 Contract APIs
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PublicDownloadContractDocxRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PublicDownloadContractDocxRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/PublicDownloadContractDocxRequest'
      security:
      - ClientId: []
        ClientSecret: []
      responses:
        '200':
          content:
            application/json:
              schema:
                type: string
                format: binary
          description: DOCX copy of the Contract
      x-tagGroup: Contracts
  /api/v2/public/contracts/{contract_id}/questionnaire/responses/:
    get:
      operationId: v2_public_contracts_questionnaire_responses_retrieve
      summary: Get Questionnaire Response
      parameters:
      - in: path
        name: contract_id
        schema:
          type: integer
        description: ID of the Contract.
        required: true
      - in: query
        name: questionnaire_type
        schema:
          type: string
        description: 'Enum: `INTAKE_FORM/TEMPLATE`. Type of the questionnaire for which response needs to be returned.'
        required: true
      tags:
      - V2 Contract APIs
      security:
      - ClientId: []
        ClientSecret: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExternalContractQuestionnairePublicResponse'
              examples:
                Example1:
                  value:
                    questionnaire_response_data:
                      department: product
                    respondents:
                    - created_at: '2023-06-14T10:46:15.205587Z'
                      created_by: Mike Reed
                      org_name: Acme Inc.
                  summary: Example 1
          description: Success
      x-tagGroup: Contracts
  /api/v2/public/supported_documents/{contract_id}/:
    post:
      operationId: v2_public_supported_documents_create
      summary: Upload Supported Documents for a Given Contract
      parameters:
      - in: path
        name: contract_id
        schema:
          type: string
        description: ID of the Contract. Should be of the form T-123 or H-123. T stands for Template contracts and H stands for Historical contracts.
        required: true
      tags:
      - V2 Contract APIs
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PublicSupportedDocumentCreateAPIRequest'
            examples:
              Example1:
                value:
                  name: Acme Corporation Related Document
                  file_name: Acme Related Document.pdf
                  file_base64: base64 encoded string of the file content
                summary: Example 1
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PublicSupportedDocumentCreateAPIRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/PublicSupportedDocumentCreateAPIRequest'
        required: true
      security:
      - ClientId: []
        ClientSecret: []
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SupportedDocumentResponse'
              examples:
                Example1:
                  value:
                    id: '199'
                    name: Acme Corporation Related Document
                    created: '2022-10-10'
                  summary: Example 1
          description: Success
        '400':
          content:
            application/json:
              schema:
                type: object
                properties:
                  detail:
                    type: string
                    description: Error detail.
                  status_code:
                    type: integer
                    description: HTTP status code.
                  code:
                    type: string
                    description: Application error code.
                  message:
                    type: string
                    description: Human-readable message.
                required:
                - detail
                - status_code
                - code
                - message
          description: Bad Request
        '403':
          content:
            application/json:
              schema:
                type: object
                properties:
                  detail:
                    type: string
                    description: Error detail.
                  status_code:
                    type: integer
                    description: HTTP status code.
                  code:
                    type: string
                    description: Application error code.
                  message:
                    type: string
                    description: Human-readable message.
                required:
                - detail
                - status_code
                - code
                - message
          description: Forbidden
      x-tagGroup: Contracts
components:
  schemas:
    PatchedIntakeFormData:
      title: IntakeFormData
      description: A key-value object keyed by intake-form question field name. Values must match the question type configured on the contract type questionnaire.
      type: object
      additionalProperties: false
      examples:
      - term:
          days: 180
          type: MONTHS
          value: 6
        notes: Customer requested revised indemnity clause.
        capacity: 15
        setup_fee:
          type: USD
          value: 30000.0
        start_date: '2026-04-01'
        payment_method: annual_invoice
    PublicSupportedDocumentCreateAPIRequest:
      title: PublicSupportedDocumentCreateAPIRequest
      type: object
      properties:
        name:
          title: Name
          description: Name of the document
          type: string
        file_name:
          title: File Name
          description: Name of the file, including its extension.
          type: string
        file_base64:
          title: File Base64
          description: The contents of the file as a base64 encoded string.
          type: string
      required:
      - name
      - file_name
      - file_base64
      examples:
      - name: Acme Corporation Related Document
        file_name: Acme Related Document.pdf
        file_base64: base64 encoded string of the file content
    WorkflowConfig:
      type: object
      properties:
        auto_send_to_counterparty:
          type: boolean
          default: false
        api_only_contract_edits:
          type: boolean
          default: false
        skip_cp_info_collection:
          type: boolean
          default: false
        skip_creator_info_collection:
          type: boolean
          default: false
    ExternalContractStatus:
      type: object
      description: Defines the data that is required to show the status of a contract
      properties:
        contract_status:
          allOf:
          - $ref: '#/components/schemas/ContractDisplayStatusEnum'
          description: 'The status of this contract.


            * `DRAFT` - DRAFT

            * `REDLINING` - REDLINING

            * `SIGN` - SIGN

            * `EXECUTED` - EXECUTED

            * `ON_HOLD` - ON_HOLD

            * `VOIDED` - VOIDED'
        contract_name:
          type: string
          description: The name of the contract that is visible to users.
      required:
      - contract_name
      - contract_status
    ContractResponseV2:
      title: ContractResponseV2
      description: Must be kept in sync with ExternalContractV3Serializer
      type: object
      properties:
        id:
          title: Id
          description: The Id of the contract on SpotDraft's Platform.
          type: string
        created:
          title: Created
          description: The date and time at which the contract was created or uploaded on SpotDraft's platform.
          type: string
          format: date-time
        contract_name:
          title: Contract Name
          description: The name of the contract that is visible to users.
          type: string
        contract_link:
          title: Contract Link
          description: The Url to view the contract.
          type: string
        contract_status:
          title: Contract Status
          description: The status of the contract.
          type: string
        created_by:
          title: Created By
          description: The full name of user who created or uploaded the executed contract on to SpotDraft's platform.
          type: string
        counter_party_name:
          title: Counter Party Name
          description: The full name of the counter party involved in the contract.
          type: string
        contract_type_name:
          title: Contract Type Name
          description: The type of the contract.
          type: string
        contract_type_id:
          title: Contract Type Id
          description: The ID of the contract type.
          type: integer
        external_metadata:
          title: External Metadata
          type: object
        reference_id:
          title: Reference Id
          type: string
        created_by_user_name:
          title: Created By User Name
          description: The full name of user who created or uploaded the executed contract on to SpotDraft's platform.
          type: string
        created_by_user_email:
          title: Created By User Email
          description: The email of user who created or uploaded the executed contract on to SpotDraft's platform.
          type: string
        created_by_workspace:
          title: Created By Workspace
          description: The workspace ID of the user who created or uploaded the executed contract on to SpotDraft's platform.
          type: integer
      required:
      - id
      - created
      - contract_name
      - contract_link
      - contract_status
      - created_by
      - counter_party_name
      - contract_type_name
      - contract_type_id
      - created_by_workspace
      examples:
      - id: T-1234
        created: '2021-05-20T04:52:04Z'
        contract_name: Acme Corporation NDA
        contract_link: https://app.spotdraft.com/contracts/v2/4322
        contract_status: EXECUTED
        created_by: Morgan Freeman
        counter_party_name: Mike Reed
        contract_type_name: Historic
        contract_type_id: 103
        external_metadata: {}
        created_by_user_name: Elena Kagan
        created_by_user_email: elena@acme.com
        created_by_workspace: 1
    EmailBase64Attachment:
      type: object
      properties:
        file_name:
          type: string
        mime_type:
          type: string
        content_base64:
          type: string
      required:
      - content_base64
      - file_name
      - mime_type
    SendToCounterparty:
      type: object
      properties:
        to_emails:
          type: array
          items:
            type: string
          description: Optional list of primary recipient email addresses. If omitted, SpotDraft uses the configured counterparty recipients for the contract.
        cc_emails:
          type: array
          items:
            type: string
          description: Optional list of email addresses to copy on the outbound contract email.
        bcc_emails:
          type: array
          items:
            type: string
          description: Optional list of blind-copy email addresses for the outbound contract email.
        attachment_formats:
          type: array
          items:
            $ref: '#/components/schemas/AttachmentFormatsEnum'
          description: At least one attachment format is required. Allowed values come from the ContractEmailFormat enum.
        extra_attachments:
          type: array
          items:
            $ref: '#/components/schemas/EmailBase64Attachment'
          description: Optional additional attachments to send with the contract email.
        custom_message:
          type: string
          description: Optional custom message to include in the contract email body.
        subject:
          type: string
          description: Optional custom email subject line.
      required:
      - attachment_formats
    AttachmentFormatsEnum:
      enum:
      - DOCX
      - PDF
      - TEMPLATE
      type: string
      description: '* `DOCX` - DOCX

        * `PDF` - PDF

        * `TEMPLATE` - TEMPLATE'
    ContractUploadForReviewRequest:
      title: ContractUploadForReviewRequest
      type: object
      properties:
        contract_name:
          title: Contract Name
          description: The name of the uploaded contract that is visible to users.
          type: string
        contract_type_id:
          title: Contract Type Id
          description: The ID of the contract type for this uploaded contract. Use the [Get Contract Types](#tag/V2.1-Contract-Type-APIs/operation/v2.1_public_contract_types_list) API to get this ID.
          type: integer
        file_name:
          title: File Name
          description: The name of the file being uploaded. This is used when the file is downloaded. Expected to be a fully qualified file name with an extension.
          type: string
        file_base64:
          title: File Base64
          description: The contents of the file as a base64 encoded string.
          type: string
        creator_organization_entity_id:
          title: Creator Organization Entity Id
          description: The ID of the organization entity for the creator party of the uploaded contract. Use the [Get Organization Entities](#tag/V2.1-Organization-APIs/operation/v2.1_public_organizations_entities_list) API to get this ID.
          type: integer
        external_metadata:
          title: External Metadata
          type: object
          properties:
            id:
              title: Id
              description: Identifier of the record in the external system.
            integration_name:
              title: Integration Name
              description: Name of the external integration, for example Salesforce.
              type: string
            record_type:
              title: Record Type
              description: External record type, for example Opportunity or Account.
              type: string
            record_data:
              title: Record Data
              description: Arbitrary metadata payload from the external system.
              type: object
            object_configuration_id:
              title: Object Configuration Id
              description: Optional public identifier for a native integration object configuration. When provided, also send `record_type`. The API resolves and stores the corresponding internal entity reference.
              type: string
              format: uuid
          description: Optional external system metadata to associate with the uploaded contract.
        reviewer:
          title: Reviewer
          type: object
          properties:
            org_user_email:
              title: Org User Email
              description: Email of the reviewer
              type: string
            role_id:
              title: Role Id
              description: Role id of reviewer
              type: integer
            description:
              title: Description
              description: Note to the reviewer
              default: ''
              type: string
          description: Used to set reviewer for contract being uploaded
        counterparty_workspace_id:
          title: Counterparty Workspace Id
          description: workspace_id of counterparty organization. Either this field or `counterparty_organization_name` is required.
          type: integer
        counterparty_organization_name:
          title: Counterparty Organization Name
          description: The name of the counter party's organization. Either this field or `counterparty_workspace_id` is required.
          type: string
        counterparty_is_individual:
          title: Counterparty Is Individual
          description: Defines if this Counterparty is an individual or an organization like a company.When not provided organization like company is created.
          type: boolean
        counterparty_poc_details:
          title: Counterparty Poc Details
          type: object
          properties:
            first_name:
              title: First Name
              description: The first name of the Point of Contact
              type: string
            last_name:
              title: Last Name
              description: The last name of the Point of Contact
              type: string
            email:
              title: Email
              description: The email address of the Point of Contact
              type: string
          required:
          - first_name
          - last_name
          - email
          description: Point of Contact details for this counterparty. Should be the details of the individual for `counterparty_is_individual=True` and the details of the contact at the counterparty organization in case of `counterparty_is_individual=False`.
        intake_form_data:
          title: Intake Form Data
          description: A key-value object keyed by intake-form questionnaire field name. Values must match the question type configured on the upload workflow. Use the Intake Form Questionnaire API to discover the allowed field names and expected value shapes.
          type: object
        business_user_email:
          title: Business User Email
          description: The email address of the business user for the Upload for Sign contract.
          type: string
          format: email
        creator_signatories:
          title: Creator Signatories
          description: Details of the signatories on the creator party side.
          type: array
          items:
            title: CreatorPartySignatoryRequest
            type: object
            properties:
              email:
                title: Email
                description: Email of the signatory on the creator party side.
                type: string
                format: email
              title:
                title: Title
                description: Title of the signatory.
                default: ''
                type: string
              note:
                title: Note
                description: Note for the signatory
                type: string
            required:
            - email
      required:
      - contract_name
      - contract_type_id
      - file_name
      - file_base64
      examples:
      - contract_name: Acme Vendor Paper
        contract_type_id: 1
        file_name: vendor-paper.pdf
        file_base64: base64 encoded string of the PDF file
        creator_organization_entity_id: 1
        counterparty_organization_name: Acme Corporation
        counterparty_is_individual: false
        counterparty_poc_details:
          first_name: Avery
          last_name: Stone
          email: legal@acme.example
        reviewer:
          org_user_email: reviewer@spotdraft.example
          description: Please review the indemnity clause and payment terms.
        intake_form_data:
          term:
            days: 180
            type: MONTHS
            value: 6
          notes: Customer requested revised indemnity clause.
          capacity: 15
          setup_fee:
            type: USD
            value: 30000.0
          start_date: '2026-04-01'
          payment_method: annual_invoice
    OrganizationDetails:
      type: object
      description: Defines structure for organization details
      properties:
        jurisdiction:
          type: string
        address:
          $ref: '#/components/schemas/OrganizationAddress'
    ExternalCounterPartyDetails:
      type: object
      description: Defines the data required for contract counterpartydetails
      properties:
        is_individual:
          type: boolean
        organization_type:
          type: string
        organization_name:
          type: string
          description: The legal name of the organization. Required if `is_individual` is False.
        poc_details:
          allOf:
          - $ref: '#/components/schemas/ExternalPOCDetails'
          description: Details of the primary point of contact for this counterparty. Required for both individuals and organizations.
        organization_details:
          $ref: '#/components/schemas/OrganizationDetails'
        party_role_identifier:
          type: string
          minLength: 1
      required:
      - is_individual
      - poc_details
    RetriggerLatestWebhooksRequest:
      title: RetriggerLatestWebhooksRequest
      type: object
      properties:
        contract_ids:
          title: Contract Ids
          description: The list of contract ids whose latest webhook calls need to be re-triggered. Provide one or more contract ids.
          type: array
          items:
            type: integer
      required:
      - contract_ids
      examples:
      - contract_ids:
        - 1
        - 2
        - 3
    ExternalCreateContractSignatory:
      type: object
      description: Defines the data that is required for create contract signatory
      properties:
        name:
          type: string
        email:
          type: string
        title:
          type: string
        is_counterparty_signatory:
          type: boolean
          description: Set this as True if the signatory belongs to a counterparty. Else set it as False.
        counterparty_name:
          type: string
          description: Required if `is_counterparty_signatory` is True. Must match the name of one of the counterparties in `counter_party_details`. If the counterparty `is_individual` is True, this should be the concatenation of the `first_name` and `last_name` from `poc_details` (e.g., 'John Doe'). If `is_individual` is False, this should match the `organization_name` of the counterparty.  If `is_counterparty_signatory` is False, leave this field blank.
        sign_order:
          type: integer
        note:
          type: string
      required:
      - email
      - is_counterparty_signatory
      - name
    CounterPartyEmbeddedUrlResponse:
      title: CounterPartyEmbeddedUrlResponse
      type: object
      properties:
        url:
          title: Url
          type: string
      required:
      - url
    PatchedContractDataUpdateRequest:
      title: ContractDataUpdateRequest
      type: object
      properties:
        data:
          title: Data
          description: Contract data keyed by template field name. Values must match the field types configured on the contract template.
          type: object
      required:
      - data
      examples:
      - data:
          term:
            days: 180
            type: MONTHS
            value: 6
          notes: Not Applicable
          capacity: 15
          setup_fee:
            type: INR
            value: 30000.0
          start_date: '2019-11-29'
          yes_discounts: false
          payment_method: '1'
          suggestions: No suggestions
    OrganizationAddress:
      type: object
      description: Defines structure for organization address
      properties:
        city:
          type: string
        state:
          type: string
          default: ''
        country:
          type: string
        zipcode:
          type: string
          default: ''
        line_one:
          type: string
        line_two:
          type: string
        email:
          type: string
        phone:
          type: string
        gst_number:
          type: string
        tax_id:
          type: string
        country_iso_code:
          type: string
      required:
      - city
      - country
      - line_one
    ExternalContractV3:
      type: object
      description: Defines the data required to be shown affter contract creation
      properties:
        id:
          type: integer
          readOnly: true
        created:
          type: string
          format: date-time
          description: The timestamp at which this contract was first created.
        contract_name:
          type: string
          description: The name of the contract. Might be defaulted from the template or edited by the user.
        contract_link:
          type: string
          readOnly: true
          description: The link to the SpotDraft app where this contract can be viewed. The user will need to log in (and have view access) to be able to view the contract.
        contract_status:
          allOf:
          - $ref: '#/components/schemas/ContractDisplayStatusEnum'
          description: The status of this contract.
          readOnly: true
        created_by:
          type: string
          readOnly: true
          description: The email address of the user who created this contract.
        counter_party_name:
          type: string
          readOnly: true
          description: The name of the Counter Party for this contract.
        contract_type_name:
          type: string
          readOnly: true
          description: The type of Contract. The types are as defined by the Client.
        contract_type_id:
          type: integer
          readOnly: true
          description: The ID of the Contract Type.
        created_by_workspace:
          type: integer
          readOnly: true
          description: The workspace ID of the user who created or uploaded the executed contract on to SpotDraft's platform.
        external_metadata:
          type: object
          additionalProperties: {}
          readOnly: true
          description: The external metadata associated with this contract.
        reference_id:
          type: string
          readOnly: true
          description: The reference id of the contract.
      required:
      - contract_link
      - contract_name
      - contract_status
      - contract_type_id
      - contract_type_name
      - counter_party_name
      - created
      - created_by
      - created_by_workspace
      - external_metadata
      - id
      - reference_id
    ExternalPOCDetails:
      type: object
      description: Defines the data required in poc details
      properties:
        first_name:
          type: string
        last_name:
          type: string
          default: ''
        email:
          type: string
      required:
      - email
      - first_name
    ExternalCreateContractResponse:
      type: object
      description: Response schema for v2/v2.1 create contract APIs.
      properties:
        id:
          type: string
          description: The ID of the contract on SpotDraft's platform.
        created:
          type: string
          format: date-time
          description: The timestamp at which this contract was first created.
        contract_name:
          type: string
          description: The name of the contract. Might be defaulted from the template or edited by the user.
        contract_link:
          type: string
          readOnly: true
          description: The link to the SpotDraft app where this contract can be viewed. The user will need to log in (and have view access) to be able to view the contract.
        contract_status:
          allOf:
          - $ref: '#/components/schemas/ContractDisplayStatusEnum'
          description: The status of this contract.
          readOnly: true
        created_by:
          type: string
          readOnly: true
          description: The email address of the user who created this contract.
        counter_party_name:
          type: string
          readOnly: true
          description: The name of the Counter Party for this contract.
        contract_type_name:
          type: string
          readOnly: true
          description: The type of Contract. The types are as defined by the Client.
        contract_type_id:
          type: integer
          readOnly: true
          description: The ID of the Contract Type.
        created_by_workspace:
          type: integer
          readOnly: true
          description: The workspace ID of the user who created or uploaded the executed contract on to SpotDraft's platform.
        external_metadata:
          type: object
          additionalProperties: {}
          readOnly: true
          description: The external metadata associated with this contract.
        reference_id:
          type: string
          readOnly: true
          description: The reference id of the contract.
        contract_id:
          type: integer
          description: The numeric internal contract ID.
      required:
      - contract_id
      - contract_link
      - contract_name
      - contract_status
      - contract_type_id
      - contract_type_name
      - counter_party_name
      - created
      - created_by
      - created_by_workspace
      - external_metadata
      - id
      - reference_id
    SupportedDocumentResponse:
      title: SupportedDocumentResponse
      type: object
      properties:
        id:
          title: Id
          description: Id of supported document
          type: integer
        name:
          title: Name
          description: Name of the document
          type: string
        created:
          title: Created
          description: Datetime when document was created
          type: string
          format: date-time
      required:
      - id
      - name
      - created
      examples:
      - id: '199'
        name: Acme Corporation Related Document
        created: '2022-10-10'
    ContractDisplayStatusEnum:
      enum:
      - DRAFT
      - REDLINING
      - SIGN
      - EXECUTED
      - ON_HOLD
      - VOIDED
      type: string
    EditableDocumentDownloadFormat:
      enum:
      - PDF
      - DOCX
      - DOCX_WITH_FALLBACK_TO_PDF
      title: EditableDocumentDownloadFormat
      type: string
    ContractListResponseV2:
      title: ContractListResponseV2
      type: object
      properties:
        page:
          title: Page
          type: integer
        limit:
          title: Limit
          type: integer
        total_results:
          title: Total Results
          type: integer
        results:
          title: Results
          type: array
          items:
            title: ContractResponseV2
            description: Must be kept in sync with ExternalContractV3Serializer
            type: object
            properties:
              id:
                title: Id
                description: The Id of the contract on SpotDraft's Platform.
                type: string
              created:
                title: Created
                description: The date and time at which the contract was created or uploaded on SpotDraft's platform.
                type: string
                format: date-time
              contract_name:
                title: Contract Name
                description: The name of the contract that is visible to users.
                type: string
              contract_link:
                title: Contract Link
                description: The Url to view the contract.
                type: string
              contract_status:
                title: Contract Status
                description: The status of the contract.
                type: string
              created_by:
                title: Created By
                description: The full name of user who created or uploaded the executed contract on to SpotDraft's platform.
                type: string
              counter_party_name:
                title: Counter Party Name
                description: The full name of the counter party involved in the contract.
                type: string
              contract_type_name:
                title: Contract Type Name
                description: The type of the contract.
                type: string
              contract_type_id:
                title: Contract Type Id
                description: The ID of the contract type.
                type: integer
              external_metadata:
                title: External Metadata
                type: object
              reference_id:
                title: Reference Id
                type: string
              created_by_user_name:
                title: Created By User Name
                description: The full name of user who created or uploaded the executed contract on to SpotDraft's platform.
                type: string
              created_by_user_email:
                title: Created By User Email
                description: The email of user who created or uploaded the executed contract on to SpotDraft's platform.
                type: string
              created_by_workspace:
                title: Created By Workspace
                description: The workspace ID of the user who created or uploaded the executed contract on to SpotDraft's platform.
                type: integer
            required:
            - id
            - created
            - contract_name
            - contract_link
            - contract_status
            - created_by
            - counter_party_name
            - contract_type_name
            - contract_type_id
            - created_by_workspace
            examples:
            - id: T-1234
              created: '2021-05-20T04:52:04Z'
              contract_name: Acme Corporation NDA
              contract_link: https://app.spotdraft.com/contracts/v2/4322
              contract_status: EXECUTED
              created_by: Morgan Freeman
              counter_party_name: Mike Reed
              contract_type_name: Historic
              contract_type_id: 103
              external_metadata: {}
              created_by_user_name: Elena Kagan
              created_by_user_email: elena@acme.com
              created_by_workspace: 1
      required:
      - page
      - limit
      - total_results
      - results
    ContractUploadForSignatureRequest:
      title: ContractUploadForSignatureRequest
      type: object
      properties:
        contract_name:
          title: Contract Name
          description: The name of the uploaded contract that is visible to users.
          type: string
        contract_type_id:
          title: Contract Type Id
          description: The ID of the contract type for this uploaded contract. Use the [Get Contract Types](#tag/V2-Contract-Type-APIs/operation/v2_public_contract_types_list) API to get this ID.
          type: integer
        file_name:
          title: File Name
          description: The name of the file being uploaded. This is used when the file is downloaded. Expected to be a fully qualified file name with an extension.
          minLength: 1
          type: string
        file_base64:
          title: File Base64
          description: The contents of the file as a base64 encoded string.
          minLength: 1
          type: string
        creator_organization_entity_id:
          title: Creator Organization Entity Id
          description: The ID of the organization entity for the creator party of the uploaded contract. Use the [Get Organization Entities](#tag/V2-Organization-APIs/operation/v2_public_organizations_entities_list) API to get this ID.
          type: integer
        counterparty_organization_name:
          title: Counterparty Organization Name
          description: The name of the counter party's organization.
          type: string
        external_metadata:
          title: External Metadata
          type: object
          properties:
            id:
              title: Id
              description: Identifier of the record in the external system.
            integration_name:
              title: Integration Name
              description: Name of the external integration, for example Salesforce.
              type: string
            record_type:
              title: Record Type
              description: External record type, for example Opportunity or Account.
              type: string
            record_data:
              title: Record Data
              description: Arbitrary metadata payload from the external system.
              type: object
            object_configuration_id:
              title: Object Configuration Id
              description: Optional public identifier for a native integration object configuration. When provided, also send `record_type`. The API resolves and stores the corresponding internal entity reference.
              type: string
              format: uuid
          description: Optional external system metadata to associate with the uploaded contract.
        counterparty_is_individual:
          title: Counterparty Is Individual
          description: Defines if this Counterparty is an individual or an organization like a company. When not provided, the counterparty is treated as an organization.
          type: boolean
        counterparty_poc_details:
          title: Counterparty Poc Details
          type: object
          properties:
            first_name:
              title: First Name
              description: The first name of the Point of Contact
              type: string
            last_name:
              title: Last Name
              description: The last name of the Point of Contact
              type: string
            email:
              title: Email
              description: The email address of the Point of Contact
              type: string
          required:
          - first_name
          - last_name
          - email
          description: Point of Contact details for this counterparty. Should be the details of the individual for `counterparty_is_individual=True` and the details of the contact at the counterparty organization in case of `counterparty_is_individual=False`.
        intake_form_data:
          title: Intake Form Data
          description: A key-value object keyed by intake-form questionnaire field name. Values must match the question type configured on the upload workflow. Use the Intake Form Questionnaire API to discover the allowed field names and expected value shapes.
          type: object
        business_user_email:
          title: Business User Email
          description: The email address of the business user for the Upload for Sign contract.
          type: string
          format: email
        creator_signatories:
          title: Creator Signatories
          description: Details of the signatories on the creator party side.
          type: array
          items:
            title: CreatorPartySignatoryRequest
            type: object
            properties:
              email:
                title: Email
                description: Email of the signatory on the creator party side.
                type: string
                format: email
              title:
                title: Title
                description: Title of the signatory.
                default: ''
                type: string
              note:
                title: Note
                description: Note for the signatory
                type: string
            required:
            - email
      required:
      - contract_name
      - contract_type_id
      - file_name
      - file_base64
      - counterparty_organization_name
      examples:
      - contract_name: Acme Corporation NDA
        contract_type_id: 1
        file_name: Acme_nda.pdf
        file_base64: base64 encoded string of the PDF file
        creator_organization_entity_id: 1
        counterparty_organization_name: Acme Corporation
        external_metadata:
          id: hubspot-deal-10024
          integration_name: HubSpot
          record_type: Deal
          record_data:
            deal_stage: contractsent
            owner_email: owner@acme.example
        counterparty_is_individual: false
        counterparty_poc_details:
          first_name: Avery
          last_name: Stone
          email: legal@acme.example
        intake_form_data:
          term:
            days: 180
            type: MONTHS
            value: 6
          notes: Customer requested revised indemnity clause.
          capacity: 15
          setup_fee:
            type: USD
            value: 30000.0
          start_date: '2026-04-01'
          payment_method: annual_invoice
        business_user_email: owner@spotdraft.example
    PublicDownloadContractDocxRequest:
      title: PublicDownloadContractDocxRequest
      type: object
      properties:
        fallback_to_last_available_docx:
          title: Fallback To Last Available Docx
          description: 'Whether to fallback to last available DOCX version if current contract version is not in DOCX format. Note: This might return an outdated DOCX version if the current version which is being used is in a different format (e.g., PDF). The returned DOCX may not reflect recent changes made in the current version.'
          default: false
          type: boolean
    DownloadLinkRequest:
      description: Request body for Get Contract Download Link API. Optional; defaults to PDF if omitted.
      properties:
        format:
          anyOf:
          - $ref: '#/components/schemas/EditableDocumentDownloadFormat'
          - type: 'null'
          default: PDF
          description: Download format for the contract file. Defaults to `PDF` when omitted.
      title: DownloadLinkRequest
      type: object
    GenerateContractPreviewRequest:
      title: GenerateContractPreviewRequest
      type: object
      properties:
        contract_template_id:
          title: Contract Template Id
          description: ID of the SpotDraft contract template used to render the preview.
          type: integer
        contract_data:
          title: Contract Data
          description: 'A key-value object where each key must match a template field name from the contract template.


            Values should use the data type expected by that template field. Common patterns include:

            - `string`: free-form text

            - `number`: integer or decimal values

            - `boolean`: `true` or `false`

            - `date`: `YYYY-MM-DD`

            - `datetime`: ISO 8601 timestamp such as `2026-03-28T10:15:00Z`

            - `duration`: `{ "type": "MONTHS" | "YEARS" | "DAYS", "value": number, "days": number }`

            - `currency`: `{ "type": "USD" | "INR" | ... , "value": number }`

            - `dropdown`: the selected option value as configured in the template

            - `multi_select`: an array of selected option values

            - `address`: an object such as `{ "line_one": ..., "city": ..., "country": ..., "zipcode": ... }`

            - `repeating`: an array of row objects for repeating groups or dynamic tables

            - `file`: a file object or uploaded file reference where the workflow supports attachments


            Use template field names exactly as configured in SpotDraft.'
          type: object
        organization_entity_id:
          title: Organization Entity Id
          description: Optional creator organization entity id used while rendering the preview.
          type: integer
        counter_party_details:
          title: Counter Party Details
          description: Optional counterparties used to render counterparty variables in the preview. For organizational counterparties, `organization_name` is required.
          type: array
          items:
            title: CounterPartyDetails
            type: object
            properties:
              is_individual:
                title: Is Individual
                description: Defines if this Counterparty is an individual or an organization like a company
                type: boolean
              organization_type:
                title: Organization Type
                description: The type of the counterparty if it is an organization. Expects values like LLC, LLP, etc. Please ask help@spotdraft.com for valid values.
                type: string
              organization_name:
                title: Organization Name
                description: The name of the counterparty if it is an organization. Expects the name of the company/entity that is the counterparty. Required when `is_individual=false`.
                type: string
              organization_details:
                title: Organization Details
                type: object
                properties:
                  jurisdiction:
                    title: Jurisdiction
                    description: The jurisdiction to which this organization belongs. Valid values are defined internally. Please reach out to help@spotdraft.com for a list.
                    type: string
                  address:
                    title: Address
                    type: object
                    properties:
                      city:
                        title: City
                        description: The city name for this address.
                        type: string
                      state:
                        title: State
                        description: The state name for this address.
                        default: ''
                        type: string
                      country:
                        title: Country
                        description: The name of the country associated with this counterparty address. Any value passed here is ignored if `country_iso_code` is passed. Valid values are defined internally. Please ask help@spotdraft.com for more information.
                        type: string
                      zipcode:
                        title: Zipcode
                        description: The zip/pin/postal code for this address.
                        default: ''
                        type: string
                      line_one:
                        title: Line One
                        description: The first line of the address. Usually the apartment, floor, and street information.
                        type: string
                      line_two:
                        title: Line Two
                        description: The second address line (if any).
                        type: string
                      email:
                        title: Email
                        description: The email address associated with this counterparty address (if any).
                        type: string
                      phone:
                        title: Phone
                        description: The phone number associated with this counterparty address (if any).
                        type: string
                      gst_number:
                        title: Gst Number
                        description: The GST Number for this Organization. Can be unset if not available or applicable.
                        type: string
                      tax_id:
                        title: Tax Id
                        description: The VAT/GST/Sales Tax/etc ID for this Organization.
                        type: string
                      country_iso_code:
                        title: Country Iso Code
                        description: The ISO-3166-1 Alpha-2 code of the country associated with this counterparty address. Any value passed here is overrides `country`. Valid values can be found [here](https://en.wikipedia.org/wiki/List_of_ISO_3166_country_codes).
                        type: string
                    required:
                    - city
                    - country
                    - line_one
                    description: The primary address for this organization (if any)
                description: Additional details for an organization. Should be set if `is_individual=False`
              poc_details:
                title: Poc Details
                type: object
                properties:
                  first_name:
                    title: First Name
                    description: The first name of the Point of Contact
                    type: string
                  last_name:
                    title: Last Name
                    description: The last name of the Point of Contact
                    type: string
                  email:
                    title: Email
                    description: The email address of the Point of Contact
                    type: string
                required:
                - first_name
                - last_name
                - email
                description: Point of Contact details for this counterparty. Should be the details of the individual for `is_individual=True` and the details of the contact at the counterparty organization in case of `is_individual=False`.
              party_role_identifier:
                title: Party Role Identifier
                description: The unique identifier of the party this counterparty should be assigned to.
                minLength: 1
                type: string
            required:
            - is_individual
            - poc_details
            examples:
            - is_individual: true
              organization_type: Private Limited
              organization_name: Acme Corporation
              organization_details: {}
              poc_details:
                first_name: Mike
                last_name: Reed
                email: Mike_reed@yahoo.com
              primary_address:
                city_name: Cincinnati
                state_name: Ohio
                country_name: USA
                zipcode: '513'
                line_one: 'st: 3, block: 2, Jenkins Road'
      required:
      - contract_template_id
      - contract_data
      example:
        contract_template_id: 1204
        contract_data:
          agreement_date: '2026-03-28'
          renewal_review_at: '2026-09-15T10:30:00Z'
          customer_name: Acme Inc.
          billing_currency:
            type: USD
            value: 12000
          subscription_term:
            type: MONTHS
            value: 12
            days: 365
          auto_renewal: true
          notice_period_days: 30
          service_countries:
          - US
          - IN
          billing_address:
            line_one: 350 Fifth Avenue
            city: New York
            state: NY
            country: United States
            zipcode: '10118'
          pricing_schedule:
          - milestone: Implementation
            amount:
              type: USD
              value: 5000
          - milestone: Annual subscription
            amount:
              type: USD
              value: 7000
          msa_attachment:
            file_name: security-schedule.pdf
            content_type: application/pdf
        counter_party_details:
        - is_individual: false
          organization_type: company
          organization_name: Acme Inc.
          poc_details:
            first_name: Avery
            last_name: Stone
            email: legal@acme.example
    ExternalCreateContract:
      type: object
      description: Defines the data that is required for contract creation
      properties:
        contract_template_id:
          type: integer
          description: ID of the SpotDraft contract template used to generate the contract.
        contract_data:
          description: 'A key-value object where each key must match a template field name from the contract template.


            Values should use the data type expected by that template field. Common patterns include:

            - `string`: free-form text

            - `number`: integer or decimal values

            - `boolean`: `true` or `false`

            - `date`: `YYYY-MM-DD`

            - `datetime`: ISO 8601 timestamp such as `2026-03-28T10:15:00Z`

            - `duration`: `{ "type": "MONTHS" | "YEARS" | "DAYS", "value": number, "days": number }`

            - `currency`: `{ "type": "USD" | "INR" | ... , "value": number }`

            - `dropdown`: the selected option value as configured in the template

            - `multi_select`: an array of selected option values

            - `address`: an object such as `{ "line_one": ..., "city": ..., "country": ..., "zipcode": ... }`

            - `repeating`: an array of row objects for repeating groups or dynamic tables

            - `file`: a file object or uploaded file reference where the workflow supports attachments


            Use template field names exactly as configured in SpotDraft.'
        counter_party_details:
          type: array
          items:
            $ref: '#/components/schemas/ExternalCounterPartyDetails'
          description: A list of counterparties involved in the contract. At least one counterparty must be provided.
        external_metadata:
          description: Optional external system metadata to associate with the contract, such as a CRM or ERP record reference.
        entity_reference_id:
          type: string
          description: Optional creator organization entity reference ID. If omitted, SpotDraft uses the primary organization entity for the creator organization.
        workflow_config:
          $ref: '#/components/schemas/WorkflowConfig'
        send_to_counterparty_config:
          allOf:
          - $ref: '#/components/schemas/SendToCounterparty'
          description: Optional email-delivery settings to apply when sending the contract to counterparties.
        contract_name:
          type: string
          description: Optional contract display name. If omitted, SpotDraft derives the contract name from the workflow or template configuration.
        signatories:
          type: array
          items:
            $ref: '#/components/schemas/ExternalCreateContractSignatory'
          description: An optional list of signatories for the contract. If provided, each signatory must be associated with a counterparty specified in `counter_party_details`.
        is_embedded_contract:
          type: boolean
          default: false
          description: Set to true when the contract will be used in an embedded signing flow.
      required:
      - contract_data
      - contract_template_id
      - counter_party_details
    ExternalContractQuestionnairePublicResponse:
      title: ExternalContractQuestionnairePublicResponse
      type: object
      properties:
        questionnaire_response_data:
          title: Questionnaire Response Data
          description: Questionnaire response data for the contract.
          type: object
        respondents:
          title: Respondents
          description: List of users who answered the questionnaire.
          type: array
          items:
            title: ExternalContractQuestionnaireRespondentPublicData
            description: Respondent data for contract questionnaire responses
            type: object
            properties:
              created_at:
                title: Created At
                description: Time when the respondent filled the questionnaire for the contract
                type: string
                format: date-time
              created_by:
                title: Created By
                description: Respondent name who filled questionnaire for the contract
                type: string
              org_name:
[...]
