openapi: 3.2.0
info:
  title: SpotDraft V2.1 Workspace Files API
  version: v1
  x-version: v1
  x-logo:
    url: https://cdn.spotdraft.com/assets/logo-black-new.png
    backgroundColor: transparent
    altText: SpotDraft Logo
    href: https://spotdraft.com
  x-favicon: https://cdn.spotdraft.com/assets/favicon.png
  x-footer: © SpotDraft Inc. All rights reserved.
  description: '# SpotDraft Public API


    Welcome to the **SpotDraft Public API**.'
servers:
- url: https://api.eu.spotdraft.com
  description: Europe
- url: https://api.in.spotdraft.com
  description: India
- url: https://api.us.spotdraft.com
  description: United States
- url: https://api.me.spotdraft.com
  description: Middle East
tags:
- name: V2.1 Workspace Files
  description: Download workspace files through signed URLs.
paths:
  /api/v2.1/public/workspace/files/uploads/:
    post:
      operationId: v2.1_public_workspace_files_uploads_create
      description: Initialize file uploads for the authenticated workspace and return the upload instructions for each requested file.
      summary: Initialize Workspace File Uploads
      tags:
      - V2.1 Workspace Files
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkspaceFileUploadInitiationRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/WorkspaceFileUploadInitiationRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/WorkspaceFileUploadInitiationRequest'
        required: true
      security:
      - ClientId: []
        ClientSecret: []
      - OAuthBearer: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceFileUploadInitiationPublicResponse'
          description: Upload instructions for the requested files
        '400':
          description: Invalid request payload
        '401':
          description: Unauthorized
      x-tagGroup: Platform
  /api/v2.1/public/workspace/files/{file_id}/:
    get:
      operationId: v2.1_public_workspace_files_retrieve
      description: Get a signed URL for downloading a workspace file by UUID. The file must belong to the authenticated request workspace.
      summary: Get Workspace File Signed Download URL
      parameters:
      - in: path
        name: file_id
        schema:
          type: string
          format: uuid
        description: Workspace file UUID
        required: true
      tags:
      - V2.1 Workspace Files
      security:
      - ClientId: []
        ClientSecret: []
      - OAuthBearer: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkspaceFileDownloadPublicResponse'
          description: Signed URL for workspace file download
        '401':
          description: Unauthorized
        '404':
          description: File not found
      x-tagGroup: Platform
components:
  schemas:
    WorkspaceFileUploadInitiationRequestItem:
      description: Single file entry for public upload initiation.
      properties:
        filename:
          description: Original file name.
          minLength: 1
          title: Filename
          type: string
        content_type:
          description: MIME content type for the upload. Use a standard type/subtype value such as application/pdf, image/png, or application/vnd.openxmlformats-officedocument.wordprocessingml.document.
          minLength: 1
          title: Content Type
          type: string
      required:
      - filename
      - content_type
      title: WorkspaceFileUploadInitiationRequestItem
      type: object
    WorkspaceFileDownloadPublicResponse:
      description: Response payload for workspace file download API.
      examples:
      - signed_url: https://storage.googleapis.com/bucket/path/file.pdf?X-Goog-Algorithm=GOOG4-RSA-SHA256&X-Goog-Signature=...
      properties:
        signed_url:
          description: Signed URL for workspace file download
          minLength: 1
          title: Signed Url
          type: string
      required:
      - signed_url
      title: WorkspaceFileDownloadPublicResponse
      type: object
    WorkspaceFileUploadInitiationResponseItem:
      description: Single file upload instruction returned by the public API.
      properties:
        file_id:
          description: Unique identifier for the file.
          minLength: 1
          title: File Id
          type: string
        filename:
          description: Normalized stored file name. This may differ from the requested filename when a missing extension is inferred from the content type or invalid characters are sanitized.
          minLength: 1
          title: Filename
          type: string
        upload_url:
          description: URL to upload the file content.
          minLength: 1
          title: Upload Url
          type: string
        expires_at:
          description: Absolute time at which the upload URL expires.
          format: date-time
          title: Expires At
          type: string
      required:
      - file_id
      - filename
      - upload_url
      - expires_at
      title: WorkspaceFileUploadInitiationResponseItem
      type: object
    WorkspaceFileUploadInitiationRequest:
      description: Bulk request payload for public upload initiation.
      properties:
        files:
          description: Files to initialize for upload.
          items:
            $ref: '#/components/schemas/WorkspaceFileUploadInitiationRequestItem'
          maxItems: 50
          minItems: 1
          title: Files
          type: array
      required:
      - files
      title: WorkspaceFileUploadInitiationRequest
      type: object
    WorkspaceFileUploadInitiationPublicResponse:
      description: Bulk response payload for public upload initiation.
      properties:
        files:
          items:
            $ref: '#/components/schemas/WorkspaceFileUploadInitiationResponseItem'
          title: Files
          type: array
      required:
      - files
      title: WorkspaceFileUploadInitiationPublicResponse
      type: object
  securitySchemes:
    ClickwrapId:
      type: apiKey
      in: header
      name: clickwrap-id
      description: Public clickwrap identifier header.
    ClientId:
      type: apiKey
      name: client-id
      in: header
    ClientSecret:
      type: apiKey
      name: client-secret
      in: header
    NativeIntegrationBasic:
      type: http
      scheme: basic
      description: HTTP Basic auth for supported native integrations. Send base64(client_id:client_secret) in the Authorization header.
    OAuthBearer:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 bearer token for workspace user access.
    Origin:
      type: apiKey
      in: header
      name: Origin
      description: Browser origin header used for clickwrap domain validation.
x-logo:
  url: https://cdn.spotdraft.com/assets/logo-black-new.png
  backgroundColor: transparent
  altText: SpotDraft Logo
  href: https://spotdraft.com
x-tagGroups:
- name: Contracts
  tags:
  - V2.1 Contract APIs
  - V2 Contract APIs
  - V1 Contract APIs
  - V2.1 Contract Approvals
  - V2 Contract Approvals
  - V2.1 Contract Activity
  - V2 Contract Activity
  - V2.1 Contract Invitations
  - V2 Contract Invitations
  - V2.1 Contract Metadata Values
  - V2 Contract Metadata Values
  - V2.1 Contract External Metadata
  - V2.1 Contract Notes
  - V2 Contract Notes
  - V2.1 Contract Obligations
  - V2.1 Contract Facets
  - V2.1 Contract Versions
  - V2 Contract Versions
  - V2.1 Recipients
  - V2 Recipients
- name: Clickwrap
  tags:
  - V2.1 Clickwrap
- name: Legal Intake
  tags:
  - V1 Legal Intake
- name: Workflow
  tags:
  - V2.1 Contract Metadata Definitions
  - V2 Contract Metadata Definitions
  - V2.1 Contract Types
  - V2 Contract Types
  - V2.1 Templates
  - V2 Templates
  - V1 Templates
- name: Platform
  tags:
  - V2.1 Users
  - V2 Users
  - V1 Users
  - V2.1 Counterparties
  - V2 Counterparties
  - V2.1 Organizations
  - V2 Organizations
  - V1 Obligation Types
  - V1 Native Integrations
  - V2.1 Workspace Files
  - V2.1 Tasks and Reminders
  - V2 Tasks and Reminders
  - V2.1 Webhooks
  - V1 Webhooks
  - V1 Emails
  - V2.1 Analytics Query
  - V2.1 Workspaces
  - V2.1 Workspace Tags
- name: Sidebar
  tags:
  - V2.1 Sidebar
