openapi: 3.2.0
info:
  title: SpotDraft V1 Templates API
  version: v1
  x-version: v1
  x-logo:
    url: https://cdn.spotdraft.com/assets/logo-black-new.png
    backgroundColor: transparent
    altText: SpotDraft Logo
    href: https://spotdraft.com
  x-favicon: https://cdn.spotdraft.com/assets/favicon.png
  x-footer: © SpotDraft Inc. All rights reserved.
  description: '# SpotDraft Public API


    Welcome to the **SpotDraft Public API**.'
servers:
- url: https://api.eu.spotdraft.com
  description: Europe
- url: https://api.in.spotdraft.com
  description: India
- url: https://api.us.spotdraft.com
  description: United States
- url: https://api.me.spotdraft.com
  description: Middle East
tags:
- name: V1 Templates
  description: List templates, inspect template fields, and read template details across public API versions.
paths:
  /api/v1/public/templates/:
    get:
      operationId: v1_public_templates_list
      description: 'Lists published templates available to the workspace tied to the API credentials.

        Use query parameters to filter by tags, counterparty type, archive state, and multipart support.'
      summary: Get Template List
      parameters:
      - in: query
        name: cp_types
        schema:
          type: string
        description: 'The type of Counterparty that can be added to contracts created from this template.

          Must be either `Organisation` or `Individual`.

          This value will be used to filter the list of templates returned by the API.

          The template will be having one or more CP that match cp_types.'
      - in: query
        name: cp_types_all
        schema:
          type: boolean
          default: false
        description: 'When a template has multiple counterparties, whether all counterparties should match the CP type given in cp_types.

          False by default'
      - in: query
        name: exclude_multi_party
        schema:
          type: boolean
          default: false
        description: Whether templates that support multiple counterparties should be excluded.
      - in: query
        name: include_archived
        schema:
          type: boolean
          default: false
        description: Whether archived templates should be included in the results.
      - in: query
        name: tags
        schema:
          type: array
          items:
            type: string
        description: 'The tags (if any) to filter the templates by.


          Multiple tags can be specified by specifying the query param multiple times. Only templates where the Template tags are a subset of the tags passed will be returned.'
      - in: query
        name: tags_all
        schema:
          type: array
          items:
            type: string
        description: 'The tags (if any) to filter the templates by.


          Multiple tags can be specified by specifying the query param multiple times. Only templates where the tags passed are a subset of the Template tags will be returned.'
      tags:
      - V1 Templates
      security:
      - ClientId: []
        ClientSecret: []
      - OAuthBearer: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateListResponse'
              examples:
                Example1:
                  value:
                    items:
                    - id: 1
                      name: Basic Non Disclosure Agreement
                      contract_type_id: 10
                  summary: Example 1
          description: Template List
      x-tagGroup: Workflow
  /api/v1/public/templates/{template_id}/metadata:
    get:
      operationId: v1_public_templates_metadata_retrieve
      description: 'Returns the fields required to construct `contract_data` for contracts created from the given template.

        Use this when your integration needs to dynamically render a form before calling the create-contract endpoint.'
      summary: Get Template Metadata
      parameters:
      - in: path
        name: template_id
        schema:
          type: string
          pattern: ^[0-9]+$
        required: true
      tags:
      - V1 Templates
      security:
      - ClientId: []
        ClientSecret: []
      - OAuthBearer: []
      deprecated: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateMetaDataResponse'
              examples:
                Example1:
                  value:
                    attributes:
                    - variable: start_date
                      mandatory: true
                      type: date
                    - variable: kind_of_nda
                      mandatory: true
                      type: dropdown
                      options:
                      - label: Mutual
                        value: mutual
                      - label: Exclusive
                        value: exclusive
                  summary: Example 1
          description: Template Metadata
      x-tagGroup: Workflow
components:
  schemas:
    TemplateMetaDataResponse:
      title: TemplateMetaDataResponse
      type: object
      properties:
        attributes:
          title: Attributes
          description: The list of attributes for this contract template.
          type: array
          items:
            title: TemplateMetaItem
            type: object
            properties:
              variable:
                title: Variable
                description: The name of the variable as it would be sent in the contract create API.
                type: string
              mandatory:
                title: Mandatory
                description: If this is required for a template to go from Draft to Redlining.
                type: boolean
              type:
                title: QuestionVariableType
                description: The kind of field.
                enum:
                - check-box
                - string
                - date
                - number
                - text-box
                - currency
                - phone-number
                - address
                - duration
                - multi-dropdown
                - dropdown
                - date-range
                - table
                - multi-text-input
                - rich-text
                - repeating
                - multi-file
                - image
                - related-contract
                type: string
              options:
                title: Options
                description: The list of options for this field. Only set for dropdown and enum types.
                type: array
                items:
                  title: CommonFormTypeOption
                  type: object
                  properties:
                    label:
                      title: Label
                      description: The label that is to be shown to the user.
                      type: string
                    value:
                      title: Value
                      description: The value that must be sent as part of contract data.
                  required:
                  - label
            required:
            - variable
            - mandatory
            - type
            - options
            examples:
            - variable: start_date
              mandatory: true
              type: date
            - variable: kind_of_nda
              mandatory: true
              type: dropdown
              options:
              - label: Mutual
                value: mutual
              - label: Exclusive
                value: exclusive
      required:
      - attributes
      examples:
      - attributes:
        - variable: start_date
          mandatory: true
          type: date
        - variable: kind_of_nda
          mandatory: true
          type: dropdown
          options:
          - label: Mutual
            value: mutual
          - label: Exclusive
            value: exclusive
    TemplateListResponse:
      title: TemplateListResponse
      description: A list of template as returned by the public API
      type: object
      properties:
        items:
          title: Items
          description: The list of templates supported for this Client.
          type: array
          items:
            title: TemplateResponse
            description: A template as returned by the public API
            type: object
            properties:
              id:
                title: Id
                description: The ID of the template
                type: integer
              name:
                title: Name
                description: The name of the template
                type: string
              contract_type_id:
                title: Contract Type Id
                description: The id of the contract type that the template is mapped to
                type: integer
            required:
            - id
            - name
            - contract_type_id
            examples:
            - id: 1
              name: Basic Non Disclosure Agreement
              contract_type_id: 10
      required:
      - items
      examples:
      - items:
        - id: 1
          name: Basic Non Disclosure Agreement
          contract_type_id: 10
  securitySchemes:
    ClickwrapId:
      type: apiKey
      in: header
      name: clickwrap-id
      description: Public clickwrap identifier header.
    ClientId:
      type: apiKey
      name: client-id
      in: header
    ClientSecret:
      type: apiKey
      name: client-secret
      in: header
    NativeIntegrationBasic:
      type: http
      scheme: basic
      description: HTTP Basic auth for supported native integrations. Send base64(client_id:client_secret) in the Authorization header.
    OAuthBearer:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 bearer token for workspace user access.
    Origin:
      type: apiKey
      in: header
      name: Origin
      description: Browser origin header used for clickwrap domain validation.
x-logo:
  url: https://cdn.spotdraft.com/assets/logo-black-new.png
  backgroundColor: transparent
  altText: SpotDraft Logo
  href: https://spotdraft.com
x-tagGroups:
- name: Contracts
  tags:
  - V2.1 Contract APIs
  - V2 Contract APIs
  - V1 Contract APIs
  - V2.1 Contract Approvals
  - V2 Contract Approvals
  - V2.1 Contract Activity
  - V2 Contract Activity
  - V2.1 Contract Invitations
  - V2 Contract Invitations
  - V2.1 Contract Metadata Values
  - V2 Contract Metadata Values
  - V2.1 Contract External Metadata
  - V2.1 Contract Notes
  - V2 Contract Notes
  - V2.1 Contract Obligations
  - V2.1 Contract Facets
  - V2.1 Contract Versions
  - V2 Contract Versions
  - V2.1 Recipients
  - V2 Recipients
- name: Clickwrap
  tags:
  - V2.1 Clickwrap
- name: Legal Intake
  tags:
  - V1 Legal Intake
- name: Workflow
  tags:
  - V2.1 Contract Metadata Definitions
  - V2 Contract Metadata Definitions
  - V2.1 Contract Types
  - V2 Contract Types
  - V2.1 Templates
  - V2 Templates
  - V1 Templates
- name: Platform
  tags:
  - V2.1 Users
  - V2 Users
  - V1 Users
  - V2.1 Counterparties
  - V2 Counterparties
  - V2.1 Organizations
  - V2 Organizations
  - V1 Obligation Types
  - V1 Native Integrations
  - V2.1 Workspace Files
  - V2.1 Tasks and Reminders
  - V2 Tasks and Reminders
  - V2.1 Webhooks
  - V1 Webhooks
  - V1 Emails
  - V2.1 Analytics Query
  - V2.1 Workspaces
  - V2.1 Workspace Tags
- name: Sidebar
  tags:
  - V2.1 Sidebar
